<div class="js_cat_sortby">
  {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
  {%- assign option_selected = collection.sort_options | where:"value",sort_by -%}
  <a class="js_sortby_pick" rel="nofollow" data-no-instant href="#">
    <span class="sr_txt_mb">{{ 'collections.sorting.title' | t }}: </span>
    <span class="js_sr_txt">{{- option_selected.first.name -}}</span>
    
    <i class="icon-chevron-down"></i>
  </a>
  <div class="laber_sortby"> 
    <div class="laber_ajaxsortby js_ajaxsortby" title="{{sort_by}}">
      {%- assign get_url = '' | link_to_remove_tag: '' | split:'href="' | last | split:'"' | first -%}
      
      {%- if get_url contains sort_by -%}
      		{%- for option in collection.sort_options %}
            	<a class="truncate{% if sort_by == option.value %} selected{% endif %}" href="{{ get_url | replace:sort_by,option.value | replace:'+nt+&sort_by','&sort_by' }}">
                  	{{ option.name }}
     			</a>
      		{% endfor -%}
      {%- else -%}
           	{%- for option in collection.sort_options %}
             	<a class="truncate{% if sort_by == option.value %} selected{% endif %}" href="{{ get_url | sort_by: option.value  | replace:'+nt+&sort_by','&sort_by'}}">
                  	{{ option.name }}
      			</a>
      		{% endfor -%}
      {%- endif -%}
      
    </div>
  </div>
</div>