<!--Footer-->
  <div class="footer" style="
                             background-color:{{section.settings.bg}};
                             {% if section.settings.image != blank %} 
                             	background-image:url('{{section.settings.image | img_url:"1920x682"}}'); 
                             	background-position: center bottom;
    							background-repeat: no-repeat;
                             {% endif %}">
    <div class="main-footer">
        <div class="container">
        	<div class="row">
          {%- for block in section.blocks -%}
              
                  {%- case block.type -%}
              		{%- when 'mail' -%} 
                  <div class="footer-iteam col-lg-{{block.settings.cl}} col-md-{{block.settings.cl_tb}} col-{{block.settings.cl_mb}} h_{{block.settings.h_position}} v_{{block.settings.v_position}} text_{{block.settings.txt_align}}" {{ block.shopify_attributes }}> 
                    <aside id="block_{{block.id}}" class="  widget_mail">
                      
                      <div class="labernewsletter flex h_{{block.settings.h_position}} v_{{block.settings.v_position}} text_{{block.settings.txt_align}}">	
                        <div class="newsletter-content" style="border-color:{{block.settings.cl_border}}">	
                          
                          {%- if block.settings.title != blank -%}
                          <h3 class="widget-title{% if image != blank %} dn_md{% endif %}">
                            <span class="txt_title">{{block.settings.title}}</span>
                          </h3>
                          {%- endif -%}
                          {% if block.settings.sub_title %}
                          <div class="sub-email" style="color:{{block.settings.cl_text}}">
                            {{block.settings.sub_title}}
                          </div>
                          {% endif %}
                          
                          <div class="textwidget widget_footer">
                            
                            
                            <div class="footer-mail">                                   	
                              {%- form 'customer', class:'newsletter-form-footer' -%}
                              <input type="hidden" name="contact[tags]" value="newsletter">
                              <div class="mc4wp-form-fields">
                                <div class="signup-newsletter-form  {{class}}">
                                  <div class="icon">
                                  	<svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M9.10791 1H14.3079C15.8543 1 17.1079 2.2536 17.1079 3.8V10.2C17.1079 11.7464 15.8543 13 14.3079 13H3.90791C2.36151 13 1.10791 11.7464 1.10791 10.2V3.8C1.10791 2.2536 2.36151 1 3.90791 1H5.10791" stroke="#ACAFB7" stroke-width="1.5" stroke-linecap="round"/>
                                      <path d="M5.10791 5L8.50791 7.55019C8.86348 7.81688 9.3524 7.81688 9.70797 7.55019L13.108 5" stroke="#ACAFB7" stroke-width="1.5" stroke-linecap="round"/>
                                      </svg>
                                  </div>
                                  <div class="col_email"><input type="email" name="contact[email]" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"  value="{% if customer %}{{ customer.email }}{% endif %}" class="{{class_ip}} input-text" required="required"></div>
                                  <div class="col-auto col_btn">
                                    <button type="submit" class="submit-btn truncate{% if settings.checkbox_mail %} mail_agree pr{% endif %}">
                                      <span> 
                                        {{ 'general.newsletter_form.submit' | t }} 
                                      </span>
                                    </button>
                                  </div>
                                </div>
                                {%- if settings.checkbox_mail -%}{%- render 'conditions_mail',html:'p',margin:'mt__15',stt_link:settings.link_mail,sid:sid -%}{%- endif -%}
                              </div>
                              <div class="mc4wp-response">
                                {%- if form.posted_successfully? -%}<div class="shopify-message"><i class="las la-check"></i>{{ 'general.newsletter_form.confirmation' | t }}</div>{%- elsif form.errors -%}<div class="shopify-error"><i class="las la-exclamation-triangle"></i>{{ form.errors | default_errors }}</div>{%- endif -%}
                              </div>
                              {%- endform -%}								
                            </div>

                          </div>
                          {% if block.settings.sub_title2 %}
                            <div class="text-email2" style="color:{{block.settings.cl_text}}">
                              <i class="icon-check"></i> {{block.settings.sub_title2}}
                            </div>
                            {% endif %}
                        </div>
                      </div>	

                    </aside>
                  </div>
                  {%- when 'collection' -%}
                          
                      {%- liquid
                       assign on_sale_txt = 'products.product.on_sale' | t
                       assign save_js = 'products.product.save_js' | t: saved_amount:'saved_amount' -%}
                      <div class="footer-iteam col-lg-{{block.settings.cl}} col-md-{{block.settings.cl_tb}} col-{{block.settings.cl_mb}}" {{ block.shopify_attributes }}>    
                      <aside id="block_{{block.id}}" class="widget widget_product_list">
                        {%- if block.settings.title != blank -%}
                        	<h3 class="widget-title"><span class="txt_title">{{block.settings.title}}</span>
                        		<span class="icon_mobile"><i class="laber-icon-down icon-chevron-down"></i>
                                      	<i class="laber-icon-up icon-chevron-up"></i></span>
                            </h3>
                        {%- endif -%}
                         {%- if block.settings.collection == blank -%}
                            <p>{{ 'homepage.onboarding.no_content' | t }}</p>
                         {%- else -%}
                         <div class="widget_footer product_list_widget">
                           <div class="laberProducts-column">
                            {%- for product in collections[block.settings.collection].products limit: block.settings.limit -%}
                               {%- render 'pr_group_loop',product:product,c:collections[block.settings.collection],on_sale_txt:on_sale_txt,save_js:save_js -%}
                            {%- endfor -%}
                         </div>
                        </div>
                         {%- endif -%}
                      </aside>
                        </div>
				  {%- when 'text' -%}
                          <div class="footer-iteam col-lg-{{block.settings.cl}} col-md-{{block.settings.cl_tb}} col-{{block.settings.cl_mb}}" {{ block.shopify_attributes }}>
                        <aside id="block_{{block.id}}" class="widget widget_text">
                             {%- if block.settings.title != blank -%}
                            	<h3 class="widget-title"><span class="txt_title">{{block.settings.title}}</span>
                                  <span class="icon_mobile"><i class="laber-icon-down icon-chevron-down"></i>
                                      	<i class="laber-icon-up icon-chevron-up"></i></span>
                            	</h3>{%- endif -%}
                             <div class="textwidget widget_footer">{{block.settings.content}}</div>
                          </aside>
						</div>
                   {%- when 'html' -%}
                          <div class="footer-iteam col-lg-{{block.settings.cl}} col-md-{{block.settings.cl_tb}} col-{{block.settings.cl_mb}} flex h_{{block.settings.h_position}} text_{{block.settings.txt_align}}" {{ block.shopify_attributes }}>
                            <aside id="block_{{block.id}}" class="widget widget_text ">
                             {%- if block.settings.title != blank -%}
                            	<h3 class="widget-title"><span class="txt_title">{{block.settings.title}}</span>
                                 <span class="icon_mobile"><i class="laber-icon-down icon-chevron-down"></i>
                                      	<i class="laber-icon-up icon-chevron-up"></i></span> 	
                            	</h3>
                            {%- endif -%}
                             <div class="textwidget widget_footer">
                               {%- if block.settings.content != blank-%}
                               <div class="contentHtml">
                               		{{block.settings.content}}
                               </div>
                               {%endif%}
                               {%- if block.settings.content2 != blank-%}
                               <div class="contentHtml">
                               		{{block.settings.content2}}
                               </div>
                               {%endif%}
                               
                               {%if block.settings.use_social%}
                                <p class="title_social">
                                  {{block.settings.title_social}}
                                </p>
                                {% assign type_social = block.settings.type_social | plus: 0 %}
                                {%- if type_social == 1 -%}
                                  {% render 'social_link' %}
                                {%- else -%}
                                  {% render 'social-sharing' %}
                                {%- endif -%}
                              {% endif %}
                              </div>
                              
                               
                             
                              
                          </aside>
						</div>
                    {%- when 'menu' -%}
                          <div class="footer-iteam col-lg-{{block.settings.cl}} col-md-{{block.settings.cl_tb}} col-{{block.settings.cl_mb}} h_{{block.settings.h_position}} v_{{block.settings.v_position}} text_{{block.settings.txt_align}}" {{ block.shopify_attributes }}>
                            <aside id="block_{{block.id}}" class="widget widget_nav_menu">
                             {%- if block.settings.title != blank -%}
                            	<h3 class="widget-title "><span class="txt_title">{{block.settings.title}}</span>
                                  	<span class="icon_mobile">
                                      	<i class="laber-icon-down icon-chevron-down"></i>
                                      	<i class="laber-icon-up icon-chevron-up"></i>
                                  	</span>
                            	</h3>{%- endif -%}
                             <div class="menu_footer widget_footer">
                              {%- assign menu = block.settings.menu -%}
                              {%- if menu != blank -%}
                                <ul class="menu">
                                  {%- for link in linklists[menu].links -%}
                                   <li class="menu-item{% if link.active %}active{% endif %}">
                                     <a href="{{ link.url }}">{{ link.title | split: '[' | first }}
                                     
                                     {% if link.object.all_products_count %}
                                    	 <span class="n_products">({{ link.object.all_products_count }})</span>
                                     {%endif%}
                                     </a>
                                  	</li>
                                   {%- endfor -%}
                                </ul>
                                {%- else -%}
                                 <ul class="menu">
                                   <li class="menu-item">
                                     <a href="#">Fruits &amp; Vegetables
                                     </a>
                                   </li><li class="menu-item">
                                   <a href="#">Dairy Products
                                   </a>
                                   </li><li class="menu-item">
                                   <a href="#">Package Foods
                                   </a>
                                   </li><li class="menu-item">
                                   <a href="#">Beverage
                                   </a>
                                   </li><li class="menu-item">
                                   <a href="#">Health &amp; Wellness
                                   </a>
                                   </li>
                                 </ul>
                                {%- endif -%}
                             </div>
                          </aside>
                            </div>
                     
                  {%- endcase -%}
              {%- endfor -%}
        </div>
        </div>
      </div>
      <div class="clearfix"><div class="line" style="border-color:{{section.settings.bg_line}}"></div></div>
      <div class="footer-note">
        <div class="container">
          <div class="row">
             {% assign payment_image = section.settings.footer_payment %}
            {% if payment_image != blank%}
            <div class="payment col-lg-6 col-md-6 col-12">
              {%- assign img_url_payment = payment_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="lazyload" data-src="{{ img_url_payment }}" data-sizes="auto" alt="{{payment_image.alt | escape}}">
            </div>
            {%endif%}
            
            {% if section.settings.copyright_text!= blank %}
            <div class="coppy-right col-lg-6 col-md-6 col-12">
              	{{section.settings.copyright_text}}
            </div>
            {% endif %}
            
            

          </div>
      	</div>
      </div>
  </div>
<div class="apus-footer-mobile">    
    <ul>

      <li>
        <a href="{{ routes.root_url }}">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 18V15" stroke="#2D2A6E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10.07 2.81985L3.14001 8.36985C2.36001 8.98985 1.86001 10.2998 2.03001 11.2798L3.36001 19.2398C3.60001 20.6598 4.96001 21.8098 6.40001 21.8098H17.6C19.03 21.8098 20.4 20.6498 20.64 19.2398L21.97 11.2798C22.13 10.2998 21.63 8.98985 20.86 8.36985L13.93 2.82985C12.86 1.96985 11.13 1.96985 10.07 2.81985Z" stroke="#2D2A6E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>{{'homepage.title' | t}}</span>
        </a>
      </li>
        
      <li>
        <a href="{{ routes.root_url }}collections/all">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.01 11.2202V15.7102C3.01 20.2002 4.81 22.0002 9.3 22.0002H14.69C19.18 22.0002 20.98 20.2002 20.98 15.7102V11.2202" stroke="#96AE00" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12 12C13.83 12 15.18 10.51 15 8.68L14.34 2H9.67L9 8.68C8.82 10.51 10.17 12 12 12Z" stroke="#96AE00" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M18.31 12C20.33 12 21.81 10.36 21.61 8.35L21.33 5.6C20.97 3 19.97 2 17.35 2H14.3L15 9.01C15.17 10.66 16.66 12 18.31 12Z" stroke="#96AE00" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M5.64 12C7.29 12 8.78 10.66 8.94 9.01L9.16 6.8L9.64 2H6.59C3.97 2 2.97 3 2.61 5.6L2.34 8.35C2.14 10.36 3.62 12 5.64 12Z" stroke="#96AE00" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12 17C10.33 17 9.5 17.83 9.5 19.5V22H14.5V19.5C14.5 17.83 13.67 17 12 17Z" stroke="#96AE00" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
                   
          <span>{{'homepage.shop' | t}}</span>
        </a>
      </li>
      <li class="cart_mobile">
        <a class="footer-mini-cart mini-cart push_side header-icon" href="{{ routes.cart_add_url }}" data-id="#js_cart_popup">
          <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.90128 5.24203C6.98308 3.38562 8.49765 1.90595 10.354 1.90595H11.6109C13.4693 1.90595 14.9852 3.38889 15.0639 5.24818C12.2272 5.60809 9.67227 5.5987 6.90128 5.24203ZM5.01258 6.87637L5.01257 10.905C5.01257 11.4313 5.43459 11.8579 5.95518 11.8579C6.47577 11.8579 6.8978 11.4313 6.8978 10.905L6.8978 7.14158C9.66012 7.47964 12.2425 7.48815 15.0671 7.14736V11.118C15.0671 11.6444 15.4891 12.071 16.0097 12.071C16.5303 12.071 16.9523 11.6444 16.9523 11.118V6.88377C18.8992 6.71382 20.4679 8.44373 20.0371 10.2273L18.9286 14.8163C18.8064 15.3223 19.1175 15.8316 19.6236 15.9539C20.1296 16.0761 20.6389 15.765 20.7612 15.2589L21.8696 10.67C22.6291 7.52579 19.9515 4.83374 16.9376 4.99582C16.733 2.20224 14.4263 0 11.6109 0H10.354C7.54088 0 5.23564 2.19865 5.02784 4.989C2.02599 4.83794 -0.625874 7.52141 0.130383 10.6523L2.35155 19.8479C2.83582 21.8528 4.63241 23.2635 6.69562 23.2635H15.3086C17.3718 23.2635 19.1684 21.8528 19.6527 19.8479C19.7749 19.3419 19.4638 18.8325 18.9578 18.7103C18.4517 18.5881 17.9424 18.8992 17.8202 19.4053C17.5409 20.5615 16.5035 21.3783 15.3086 21.3783H6.69562C5.50073 21.3783 4.46336 20.5615 4.18407 19.4052L1.96289 10.2097C1.5342 8.43487 3.08265 6.71883 5.01258 6.87637Z" fill="white"/>
          </svg>
                                                                                             
          <span class="header__counter js-cart-count cart-count" data-js-cart-count="{{ cart.item_count }}">{{ cart.item_count }}</span> 
          <span>{{'cart.general.title' | t}}</span>
        </a> 
      </li>
	  <li>
        <a class="footer-search-btn push_side" href="javascript:void(0)" data-id="#search_pupop">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 20C15.9706 20 20 15.9706 20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20Z" stroke="#2D2A6E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M18.9299 20.6898C19.4599 22.2898 20.6699 22.4498 21.5999 21.0498C22.4499 19.7698 21.8899 18.7198 20.3499 18.7198C19.2099 18.7098 18.5699 19.5998 18.9299 20.6898Z" stroke="#2D2A6E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

		  <span>{{'general.search.btn' | t}}</span>
        </a>
      </li>
      <li>
          <a href="{{ routes.account_url }}">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.12 12.78C12.05 12.77 11.96 12.77 11.88 12.78C10.12 12.72 8.72 11.28 8.72 9.50998C8.72 7.69998 10.18 6.22998 12 6.22998C13.81 6.22998 15.28 7.69998 15.28 9.50998C15.27 11.28 13.88 12.72 12.12 12.78Z" stroke="#2D2A6E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M18.74 19.3801C16.96 21.0101 14.6 22.0001 12 22.0001C9.39999 22.0001 7.03999 21.0101 5.25999 19.3801C5.35999 18.4401 5.95999 17.5201 7.02999 16.8001C9.76999 14.9801 14.25 14.9801 16.97 16.8001C18.04 17.5201 18.64 18.4401 18.74 19.3801Z" stroke="#2D2A6E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#2D2A6E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

		  <span>{{'customer.account.title' | t}}</span>
        </a> 
      </li>
      {%comment%}
      <li>
          <a href="javascript:void(0);" class="push_side header-icon wishlist-icon" data-id="#wishlist_popup" title="{{'general.wishlist.title' | t}}">
           <i class="icon-heart"></i>
          	<span class="header__counter count" data-js-wishlist-count="0">0</span>
             <span>{{'general.wishlist.title' | t}}</span>                                                       
          </a>                        
        </li>	
      
      {%endcomment%}
    </ul>
  </div>
<!--/Footer-->
