{% assign show_free_shipping = settings.show_free_shipping %}
{% if show_free_shipping %}
{% assign custom_color_free_shipping = settings.custom_color_free_shipping %}
{% assign bg_free_shipping = settings.bg_free_shipping %}
{% assign bg_free_shipping_progress = settings.bg_free_shipping_progress %}
{% assign f_shipping = settings.free_shipping | times: 100  %}
{%- assign free_shipping_range_quotient = f_shipping | times: 1.0 | divided_by: 100 -%}
{%- assign free_shipping_range_procent = cart.total_price | divided_by: free_shipping_range_quotient | at_most: 100 -%}
{%- assign free_shipping_spend = f_shipping | minus: cart.total_price | at_least: 0 -%}
<div class="free-shipping js-free-shipping" data-value="{{f_shipping}}">
  <div class="free-shipping__progress" data-js-progress style="width: {{ free_shipping_range_procent }}%;">
    <div class="icon-free-shipping">
      <svg width="21" height="13" viewBox="0 0 21 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.9314 6.73098C18.8002 8.42935 16.417 9.60326 13.663 9.875C13.4615 10.4647 13.0799 10.9946 12.5829 11.3696C12.0401 11.7826 11.398 12 10.7209 12H7.03992C6.88409 12 6.74168 11.9103 6.67451 11.7663C6.60734 11.6223 6.62884 11.4538 6.72825 11.3342L8.42096 9.26087C8.31349 9.22283 8.20601 9.18207 8.10123 9.13859C7.59073 8.93207 7.27637 8.45924 7.27637 7.90489V5.11141C7.27637 4.74728 7.41339 4.41576 7.65252 4.17391C7.77612 4.04891 7.92927 3.94565 8.10123 3.875C8.2087 3.83152 8.31617 3.79076 8.42365 3.75L6.73094 1.66576C6.63152 1.54348 6.61003 1.375 6.6772 1.2337C6.69869 1.19022 6.72556 1.15217 6.7578 1.11957C6.83304 1.04348 6.93514 1 7.04261 1H10.7236C12.0616 1 13.2385 1.86413 13.6657 3.13043C16.4277 3.40489 18.811 4.59511 19.9314 6.27717C20.0227 6.41304 20.0227 6.59239 19.9314 6.73098ZM7.89434 11.1848H10.7209C11.578 11.1848 12.3679 10.6875 12.7602 9.93478C12.6474 9.9375 12.5372 9.94022 12.4244 9.94022C11.3254 9.94022 10.248 9.79891 9.24851 9.52446L7.89434 11.1848ZM8.40215 4.62772C8.20064 4.70924 8.08242 4.88859 8.08242 5.10598V7.89946C8.08242 8.11685 8.20333 8.2962 8.40215 8.37772C8.62785 8.47011 8.8616 8.55435 9.10073 8.62772V4.375C8.8616 4.45109 8.62785 4.53533 8.40215 4.62772ZM10.7209 1.81522H7.89434L9.25388 3.4837C10.2507 3.21196 11.3281 3.07065 12.4244 3.07065C12.5372 3.07065 12.6527 3.07337 12.7656 3.07609C12.3787 2.3125 11.5941 1.81522 10.7209 1.81522ZM16.4654 4.63043C15.5277 4.25 14.4475 3.99728 13.3003 3.91304C13.0128 3.8913 12.7199 3.88043 12.427 3.88043C11.5619 3.88043 10.7101 3.97554 9.90947 4.15489V8.84783C10.7101 9.02989 11.5619 9.12228 12.427 9.12228C13.8967 9.12228 15.2912 8.85326 16.4654 8.37772V4.63043ZM17.2714 5.01087V8C17.833 7.69565 18.3247 7.33967 18.7223 6.93478C18.8593 6.7962 18.9856 6.65217 19.1012 6.50272C18.6551 5.92391 18.0264 5.41848 17.2714 5.01087Z" fill="white" stroke="white" stroke-width="0.2"/>
        <path d="M12.4702 5.56246C12.7173 5.31246 13.0478 5.17387 13.3998 5.17387C14.1253 5.17387 14.7164 5.7717 14.7164 6.50539C14.7164 7.23909 14.1253 7.83691 13.3998 7.83691C12.6744 7.83691 12.0833 7.23909 12.0833 6.50539C12.0833 6.1467 12.2203 5.81246 12.4702 5.56246ZM13.3998 7.01898C13.5395 7.01898 13.6685 6.96191 13.7598 6.8668C13.8512 6.77441 13.9103 6.64398 13.9103 6.50267C13.9103 6.21735 13.6819 5.98637 13.3998 5.98637C13.2628 5.98637 13.1365 6.04072 13.0398 6.13854C12.943 6.23637 12.8893 6.36409 12.8893 6.50267C12.8893 6.788 13.1177 7.01898 13.3998 7.01898Z" fill="white" stroke="white" stroke-width="0.2"/>
        <path d="M5.99753 6.90723H1.40303C1.18002 6.90723 1 6.72516 1 6.49962C1 6.3882 1.04568 6.28494 1.11822 6.21157C1.19077 6.13821 1.29287 6.09201 1.40303 6.09201H5.99753C6.22053 6.09201 6.40055 6.27407 6.40055 6.49962C6.40055 6.72244 6.22053 6.90723 5.99753 6.90723Z" fill="white" stroke="white" stroke-width="0.2"/>
        <path d="M4.44453 7.93771H5.99484C6.21785 7.93771 6.39786 8.11978 6.39786 8.34532C6.39786 8.57086 6.21785 8.75293 5.99484 8.75293H4.44453C4.22152 8.75293 4.0415 8.57086 4.0415 8.34532C4.0415 8.23391 4.08718 8.13065 4.15972 8.05728C4.23496 7.98391 4.33437 7.93771 4.44453 7.93771Z" fill="white" stroke="white" stroke-width="0.2"/>
        <path d="M5.99752 5.05957H4.44722C4.22421 5.05957 4.04419 4.87751 4.04419 4.65196C4.04419 4.54055 4.08987 4.43729 4.16241 4.36392C4.23496 4.29055 4.33706 4.24435 4.44722 4.24435H5.99752C6.22053 4.24435 6.40055 4.42642 6.40055 4.65196C6.40055 4.87751 6.22053 5.05957 5.99752 5.05957Z" fill="white" stroke="white" stroke-width="0.2"/>
      </svg>
    </div>
  </div>
  <div class="free-shipping__text ">
    
    {% capture free_shipping_spend_html %}{{ free_shipping_spend | money }}{% endcapture %}
    {% capture free_shipping_spend_html %}{{ 'cart.general.free_shipping_html' | t: value: free_shipping_spend_html }}{% endcapture %}
    
    {% capture free_shipping_html %}{{ 'cart.general.free_shipping_complete_html' | t: value: free_shipping_html }}{% endcapture %}
    <div class="text"><span data-js-text>
      {% if free_shipping_spend > 0 %}
      	{{ free_shipping_spend_html }}
      {% else %}
      	{{ free_shipping_html }} 
      {% endif %}
      </span>
    </div>
  </div>
</div>
{%if custom_color_free_shipping%}
<style>
  .free-shipping__progress .icon-free-shipping,
  .free-shipping__progress{
    background-color:{{bg_free_shipping_progress}}
  }
  .free-shipping{
  	background-color:{{bg_free_shipping}}
  }
</style>
{%endif%}
{%endif%}