{% assign admin_sp = request.design_mode %}
{% assign col_right = section.settings.col_right %}
{% assign text_align_hr = section.settings.text_align_hr %}
  <div class="header layout5">    
    <div class="header-main-wrap"> 
      <div class="header-top">
        
        <div class="container {% if section.settings.layout == 'full-width' %}{{section.settings.layout}} {% endif %}">
          <div class="row">
            
            <div class="header-nav-mobile col-md-3 col-3">
              
              
              {%comment%}<a class="js-mobile-sidebar-homepage sidebar-homepage mobile-navigation" href="javascript:void(0)">
                <span class="icon">
                  <i class="icon-grid"></i>
                </span>
              </a>{%endcomment%}
              
              <a class="js-mobile-menu menu-bar mobile-navigation" href="javascript:void(0)">
                <span class="icon">
                  <i class="icon-menu1"></i>
                </span>
              </a>
              
            </div>
            
            <div class="header-logo no-pc flex-1">
              	{% if settings.logo_page_mobile != blank %}
                    <a href="/" class="site-header__logo-image">
                      {% capture image_size %}{{ settings.logo_max_width | escape }}x{% endcapture %}
                      <img                                          
                         src="{{ settings.logo_page_mobile | img_url: image_size, scale: 2 }}"                      
                         alt="{{ logo_alt | escape }}"
                         style="max-width: {{ settings.logo_max_width }}px; width:auto; height:auto;">
                    <noscript>
                      {% capture image_size %}{{ settings.logo_max_width | escape }}x{% endcapture %}
                      <img src="{{ settings.logo_page_mobile | img_url: image_size }}"
                           srcset="{{ settings.logo_page_mobile | img_url: image_size }} 1x, {{ settings.logo_page_mobile | img_url: image_size, scale: 2 }} 2x"
                           alt="{{ settings.logo.alt | default: shop.name }}"
                           style="max-width: {{ settings.logo_max_width }}px; width:auto; height:auto;">
                    </noscript>
                    </a>
                  {% else %}
                  <a class="site-title" href="/" itemprop="url"><span class="logo-default">{{ shop.name }}</span></a>
                  {% endif %}
            </div>            
            
            
            <div class="header-logo no-mobile col-md-3 col-3">
              {% if template contains 'index' %}
              <h1>
                {% if settings.logo != blank %}
                <a href="/" class="site-header__logo-image">
                  {% capture image_size %}{{ settings.logo_max_width | escape }}x{% endcapture %}
                  <img                                          
                       src="{{ settings.logo | img_url: image_size, scale: 2 }}"                      
                       alt="{{ logo_alt | escape }}"
                       style="max-width: {{ settings.logo_max_width }}px; width:auto; height:auto;">
                  <noscript>
                    {% capture image_size %}{{ settings.logo_max_width | escape }}x{% endcapture %}
                    <img src="{{ settings.logo | img_url: image_size }}"
                         srcset="{{ settings.logo | img_url: image_size }} 1x, {{ settings.logo | img_url: image_size, scale: 2 }} 2x"
                         alt="{{ settings.logo.alt | default: shop.name }}"
                         style="max-width: {{ settings.logo_max_width }}px; width:auto; height:auto;">
                  </noscript>
                </a>
                {% else %}
                <a class="site-title" href="/" itemprop="url"><span class="logo-default">{{ shop.name }}</span></a>
                {% endif %}
              </h1>
              {%else%}
              {% if settings.logo_page != blank %}
              <a href="/" class="site-header__logo-image">
                {% capture image_size %}{{ settings.logo_max_width | escape }}x{% endcapture %}
                <img                                          
                     src="{{ settings.logo_page | img_url: image_size, scale: 2 }}"                      
                     alt="{{ logo_alt | escape }}"
                     style="max-width: {{ settings.logo_max_width }}px; width:auto; height:auto;">
                <noscript>
                  {% capture image_size %}{{ settings.logo_max_width | escape }}x{% endcapture %}
                  <img src="{{ settings.logo_page | img_url: image_size }}"
                       srcset="{{ settings.logo_page | img_url: image_size }} 1x, {{ settings.logo | img_url: image_size, scale: 2 }} 2x"
                       alt="{{ settings.logo_page.alt | default: shop.name }}"
                       style="max-width: {{ settings.logo_max_width }}px; width:auto; height:auto;">
                </noscript>
              </a>

              {% elsif settings.logo != blank %}
              <a href="/" class="site-header__logo-image">
                {% capture image_size %}{{ settings.logo_max_width | escape }}x{% endcapture %}
                <img                                          
                     src="{{ settings.logo | img_url: image_size, scale: 2 }}"                      
                     alt="{{ logo_alt | escape }}"
                     style="max-width: {{ settings.logo_max_width }}px; width:auto; height:auto;">
                <noscript>
                  {% capture image_size %}{{ settings.logo_max_width | escape }}x{% endcapture %}
                  <img src="{{ settings.logo | img_url: image_size }}"
                       srcset="{{ settings.logo | img_url: image_size }} 1x, {{ settings.logo | img_url: image_size, scale: 2 }} 2x"
                       alt="{{ settings.logo.alt | default: shop.name }}"
                       style="max-width: {{ settings.logo_max_width }}px; width:auto; height:auto;">
                </noscript>
              </a>
              {% else %}
              <a class="site-title" href="/" itemprop="url"><span class="logo-default">{{ shop.name }}</span></a>
              {% endif %}

              {%endif%}

            </div>
            <div class="col no-mobile ps-static">
              {%- render 'menu',se_blocks:se_blocks,tp_blocks:tp_blocks -%}
            </div>
            
            <div class="header-top-meta  col-md-3 col-3">
              <ul class="header-control">
                
                {% if section.settings.header_use_search_home %}
                  <li class="header_search  display-mobile">
                    <a href="/search" class="header-search push_side header-icon" data-id="#search_pupop" title="{{'general.search.title' | t}}">
                      <i class="icon-search"></i>   
                    </a>                        
                  </li>   
                  {% endif %}
                
                {%if section.settings.header_use_account%}
                  
                  <li class="signin item-list display-mobile">
                    {% unless customer %}
                    {%- assign page_type = request.page_type | handle  -%}  
                    <a href="{{ routes.root_url }}account/login" {% if page_type != 'customers-login' %}data-id="#login_pupop" {% endif %} class="push_side header-icon" title="{{'customer.login.log_in' | t}}" >
                      <i class="icon-user"></i>
                      <span>{{'customer.login.log_in' | t}}</span>
                    </a>
                    {% else %}
                    <a href="/account" class="push_side header-icon" title="{{'customer.login.account' | t}}" >
                      <i class="icon-user"></i>
                      <span>{{'customer.login.account' | t}}</span>
                    </a>
                    {% endunless %}
                  </li>

                  
                 {% endif %}
               
                  
                
                {% if section.settings.header_use_wishlist_home %}
                <li class="laber-wishlist display-mobile"> 
                  <a {% if page_title !=  'wishlist' %}data-id="#wishlist_popup"{%endif%} href="javascript:void(0);" class="push_side header-icon"  title="{{'general.wishlist.title' | t}}">
                    <i class="icon-heart"></i>
                    <span class="header__counter" data-js-wishlist-count="0">0</span>
                  </a>                        
                </li>
                {% endif %}
                {% if section.settings.header_use_compare_home %}
                <li class="laber-compare display-mobile">
                  <a href="javascript:void(0);" class="push_side header-icon" data-js-popup-button="compare-full" title="{{'general.compare.title' | t}}">
                    <i class="icon-layers" aria-hidden="true"></i>
                    <span class="header__counter" data-js-compare-count="0">0</span>
                  </a>
                </li>
                {% endif %}
                {% if section.settings.header_use_cart_home %}
                  <li class="box-minicart">
                    <div class="minicart ">
                      <div class="cart-block  box-has-content">
                        <a href="{{ routes.cart_url }}" class="push_side header-icon" {% if request.page_type !=  'cart' %}data-id="#js_cart_popup"{%endif%} title="{{'cart.general.title' | t}}">
                          <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M4.39173 4.12764C4.44388 2.94637 5.40766 2.00487 6.58894 2.00487H7.38873C8.57131 2.00487 9.53591 2.94846 9.5861 4.13155C7.78094 4.36058 6.15509 4.35461 4.39173 4.12764ZM3.18982 5.16767L3.18982 7.73151C3.18982 8.06644 3.45838 8.33795 3.78966 8.33795C4.12095 8.33795 4.38951 8.06644 4.38951 7.73152L4.38951 5.33644C6.14735 5.55157 7.79071 5.55699 9.58815 5.34012V7.86711C9.58815 8.20204 9.85671 8.47355 10.188 8.47355C10.5193 8.47355 10.7878 8.20204 10.7878 7.86711V5.17238C12.0268 5.06423 13.025 6.16508 12.7509 7.30009L12.0455 10.2203C11.9677 10.5424 12.1657 10.8665 12.4877 10.9443C12.8098 11.022 13.1339 10.824 13.2116 10.502L13.917 7.58177C14.4003 5.58093 12.6964 3.86781 10.7784 3.97096C10.6482 2.19332 9.18032 0.791992 7.38873 0.791992H6.58894C4.79881 0.791992 3.33188 2.19103 3.19955 3.96661C1.28928 3.87048 -0.398284 5.57815 0.0829708 7.57053L1.49644 13.4223C1.80462 14.6981 2.9479 15.5959 4.26085 15.5959H9.74186C11.0548 15.5959 12.1981 14.6981 12.5063 13.4223C12.584 13.1003 12.3861 12.7761 12.064 12.6984C11.742 12.6206 11.4179 12.8186 11.3401 13.1406C11.1624 13.8764 10.5022 14.3962 9.74186 14.3962H4.26085C3.50047 14.3962 2.84032 13.8764 2.66259 13.1406L1.24911 7.28885C0.976309 6.15944 1.96169 5.06742 3.18982 5.16767Z" fill="#2D2A6E"/>
                          </svg>
                          <span class="header__counter js-cart-count" data-js-cart-count="{{ cart.item_count }}">{{ cart.item_count }}</span>
                        </a>    

                        <span data-total-price class="total-price"><span class="text">{{'cart.general.title' |t}}: </span>
                          <span class="js-total-price">
                            {{ cart.total_price | money }}</span>
                        </span>
                      </div>     
                    </div>
                  </li>
                {% endif %}               
               
              </ul>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
  
  {%- if admin_sp -%}
      {%- assign arr_sub = 'link,link2,banner,html,pr,cat' -%}
      {%- for block in se_blocks %}
      	<div {% if arr_sub contains block.type %}
             {% assign id_data = block.id %} {{ block.shopify_attributes }}{% else %}{% assign id_data2 = block.id %}{% endif %}id="bkjs_{{id_data}}" data-id='{{id_data2}}'></div>{% endfor -%}
  {%- endif -%}

{%style%}

  .header-nav .header-logo{
      padding:{{section.settings.pd_logo}};
      height: 60px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
  }
@media only screen and (min-width : 1199px){
  {% if section.settings.background_header != blank %}
  body.home .header{
 	 background-color:{{section.settings.background_header}};
  }
  {%endif%}
}
{%endstyle%}