{% assign style_search = section.settings.style_search | plus:0 %}
    <div class="header-main-wrap"> 
      <div class="header-top">
        
        <div class="container {% if section.settings.layout == 'full-width' %}{{section.settings.layout}} {% endif %}">
          <div class="row">
            
            <div class="header-nav-mobile col-md-3 col-3">
              <div class="js-mobile-menu menu-bar mobile-navigation">
                <span class="icon">
                  <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;}</style></defs><title/><g data-name="Layer 2" id="Layer_2"><path d="M28,10H4A1,1,0,0,1,4,8H28a1,1,0,0,1,0,2Z"/><path d="M28,17H4a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z"/><path d="M28,24H4a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z"/></g><g id="frame"><rect class="cls-1" height="32" width="32"/></g></svg>
                </span>
              </div>
            </div>
            {%- render 'logo_mobile' -%}  
            {% if section.settings.header_design =='logo-left-menu-center' or section.settings.header_design =='logo-left-menu-left' %}
            <div class="header-logo hide-mobile {%if section.settings.header_design =='logo-left-menu-center' %}col-md-3 col-3{% endif %}">
                {%- render 'logo' -%}
            </div>
            {% endif %}
            {% if section.settings.header_design =='both-center' %}
            <ul class="header-control hide-mobile col-md-2">
                  {%if section.settings.header_use_currency%}
                    {% render 'currency' %}
                  {% endif %}
                  {%if section.settings.header_use_language%}
                    {% render 'language' %} 
                  {% endif %}
                  {%if section.settings.header_use_search_home%}
                  <li class="header_search  ">
                    {% if style_search == 1 %}
                    <a href="/search" class="header-search push_side header-icon" data-id="#search_pupop" title="{{'general.search.title' | t}}">
                      <i class="icon-search"></i>   
                    </a>  
                    {% else %}
                        {%- render 'header-search' -%}
                    {% endif %}                
                  </li>
                  {% endif %}
              </ul>  
              
                    
            {% endif %}  
            <div class="{% if section.settings.header_design =='logo-center-menu-left' %}col-md-5 col-5{% else %}col{% endif %} hide-mobile ps-static">
              {%- render 'menu',se_blocks:se_blocks,tp_blocks:tp_blocks -%}
            </div>
            {% if section.settings.header_design =='logo-center-menu-left' %}
            <div class="header-logo hide-mobile col-md-2 col-2">
                {%- render 'logo' -%}
            </div>
            {% endif %}
            <div class="header-top-meta  {% if section.settings.header_design =='logo-center-menu-left' %}col-md-5{% elsif section.settings.header_design =='both-center' %}col-md-2{% else %}col-md-3{% endif %}">
              <ul class="header-control">
                {% if section.settings.header_design !='both-center' %}
                {%if section.settings.header_use_currency%}
                  {% render 'currency' %}
                {% endif %}
                  {%if section.settings.header_use_language%}
                    {% render 'language' %} 
                  {% endif %}
                  {%if section.settings.header_use_search_home%}
                  <li class="header_search  hide-mobile">
                    {% if style_search == 1 %}
                    <a href="/search" class="header-search push_side header-icon" data-id="#search_pupop" title="{{'general.search.title' | t}}">
                      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.9 11.731C11.8 11.731 11.8 11.731 11.9 11.731C11.8 11.8304 11.8 11.8304 11.8 11.8304C11.3 12.3275 10.7 12.7251 9.9 13.0234C9.2 13.3216 8.4 13.4211 7.6 13.4211C6.8 13.4211 6 13.2222 5.3 12.924C4.6 12.6257 4 12.2281 3.4 11.6316C2.9 11.1345 2.4 10.4386 2.1 9.74269C1.8 9.1462 1.7 8.45029 1.7 7.65497C1.7 6.85965 1.9 6.06433 2.2 5.36842C2.5 4.5731 2.9 3.97661 3.4 3.38012C4 2.88304 4.6 2.48538 5.3 2.18713C6 1.88889 6.8 1.69006 7.6 1.69006C8.4 1.69006 9.2 1.88889 9.9 2.18713C10.6 2.48538 11.3 2.88304 11.8 3.47953C12.3 3.97661 12.7 4.67251 13.1 5.36842C13.4 6.06433 13.6 6.76023 13.6 7.65497C13.6 8.45029 13.4 9.24561 13.1 9.94152C12.8 10.538 12.4 11.1345 11.9 11.731ZM16.7 15.4094L13.6 12.3275C14.1 11.6316 14.5 10.9357 14.8 10.1404C15.1 9.34503 15.2 8.45029 15.2 7.55556C15.2 6.46199 15 5.46784 14.6 4.5731C14.2 3.67836 13.7 2.88304 13 2.18713C12.3 1.49123 11.5 0.994152 10.6 0.596491C9.7 0.19883 8.7 0 7.6 0C6.6 0 5.6 0.19883 4.6 0.596491C3.7 0.994152 2.9 1.49123 2.2 2.18713C1.5 2.88304 1 3.67836 0.6 4.67251C0.2 5.56725 0 6.5614 0 7.65497C0 8.64912 0.2 9.64327 0.6 10.6374C1 11.5322 1.6 12.3275 2.3 13.0234C3 13.7193 3.8 14.2164 4.7 14.7134C5.6 15.0117 6.6 15.2105 7.6 15.2105C8.5 15.2105 9.4 15.1111 10.2 14.8129C11 14.5146 11.8 14.117 12.4 13.6199L15.5 16.7018C15.7 16.9006 15.9 17 16.1 17C16.3 17 16.5 16.9006 16.7 16.7018C16.9 16.5029 17 16.3041 17 16.1053C17 15.807 16.9 15.6082 16.7 15.4094Z" fill="#111111"/>
                      </svg>
                    </a>  
                    {% else %}
                        {%- render 'header-search' -%}
                    {% endif %}
                  </li> 
                   {% endif %} 
                {% endif %}
                {%if section.settings.header_use_account %}
                  <li class="signin item-list hide-mobile">
                    {% unless customer %}
                    {%- assign page_type = request.page_type | handle  -%}  
                    <a href="{{ routes.root_url }}account/login" {% if page_type != 'customers-login' %}data-id="#login_pupop" {% endif %} class="push_side header-icon" title="{{'customer.login.log_in' | t}}" >
                      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.8927 15.7682C16.0329 14.3137 14.8061 13.1078 13.3338 12.27C11.8614 11.4322 10.1946 10.9915 8.49845 10.9915C6.80225 10.9915 5.13546 11.4322 3.66314 12.27C2.19082 13.1078 0.964024 14.3137 0.104236 15.7682C-0.00102398 15.9568 -0.027822 16.179 0.0295835 16.387C0.0566587 16.493 0.106188 16.592 0.174854 16.6774C0.243521 16.7628 0.329737 16.8326 0.427728 16.8821C0.554141 16.9534 0.697158 16.9904 0.842462 16.9894C0.986554 16.9955 1.12952 16.9616 1.25545 16.8917C1.38138 16.8218 1.48536 16.7185 1.5558 16.5933C2.26752 15.3886 3.2833 14.3898 4.50251 13.6958C5.72172 13.0018 7.10204 12.6367 8.50674 12.6367C9.91144 12.6367 11.2918 13.0018 12.511 13.6958C13.7302 14.3898 14.746 15.3886 15.4577 16.5933C15.5685 16.7807 15.7491 16.9169 15.9603 16.9725C16.1715 17.0282 16.3963 16.9986 16.5858 16.8904C16.6801 16.8403 16.7628 16.7711 16.8285 16.6873C16.8943 16.6034 16.9415 16.5067 16.9673 16.4035C16.998 16.298 17.0072 16.1875 16.9944 16.0784C16.9816 15.9693 16.947 15.8638 16.8927 15.7682Z" fill="#111111"/>
                      <path d="M8.49972 10.2C9.83628 10.2002 11.1195 9.67091 12.0733 8.72594C13.0271 7.78097 13.5752 6.49588 13.5997 5.14718C13.5997 3.78206 13.0624 2.47286 12.106 1.50757C11.1495 0.542291 9.85232 0 8.49972 0C7.14711 0 5.84991 0.542291 4.89347 1.50757C3.93704 2.47286 3.39972 3.78206 3.39972 5.14718C3.42422 6.49588 3.97234 7.78097 4.92613 8.72594C5.87993 9.67091 7.16316 10.2002 8.49972 10.2ZM5.09972 5.14718C5.09972 4.2371 5.45793 3.3643 6.09556 2.72078C6.73318 2.07725 7.59798 1.71573 8.49972 1.71573C9.40145 1.71573 10.2663 2.07725 10.9039 2.72078C11.5415 3.3643 11.8997 4.2371 11.8997 5.14718C11.8997 6.05726 11.5415 6.93006 10.9039 7.57359C10.2663 8.21711 9.40145 8.57864 8.49972 8.57864C7.59798 8.57864 6.73318 8.21711 6.09556 7.57359C5.45793 6.93006 5.09972 6.05726 5.09972 5.14718Z" fill="#111111"/>
                    </svg>
                    
                      <span>{{'customer.login.log_in' | t}}</span>
                    </a>
                    {% else %}
                    <a href="{{ routes.root_url }}account" class="push_side header-icon" title="{{'customer.login.account' | t}}" >
                      <i class="icon-user"></i>
                      <span>{{'customer.login.account' | t}}</span>
                    </a>
                    {% endunless %}
                  </li>
                 {% endif %}
                 {%if section.settings.header_use_account %}
                  <li class="recently-view item-list hide-mobile">
                    <a href="/" class="push_side header-icon" title="Recently view" >
                      <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.99 8.495C16.99 7.91538 16.9357 7.34784 16.827 6.79238C16.7062 6.23691 16.5372 5.7056 16.3198 5.19843C16.1145 4.69127 15.8549 4.20826 15.541 3.74939C15.2391 3.29053 14.8949 2.86789 14.5085 2.48148C14.1221 2.10715 13.6995 1.763 13.2406 1.44904C12.7938 1.14716 12.3168 0.887537 11.8097 0.670181C11.3025 0.452825 10.7712 0.289808 10.2157 0.18113C9.66027 0.0603767 9.08669 0 8.495 0C7.90331 0 7.32973 0.0603767 6.77426 0.18113C6.2188 0.289808 5.68748 0.452825 5.18032 0.670181C4.67316 0.887537 4.19618 1.14716 3.74939 1.44904C3.29053 1.763 2.86789 2.10715 2.48148 2.48148C2.09507 2.86789 1.75092 3.29053 1.44904 3.74939C1.13508 4.20826 0.869424 4.69127 0.652068 5.19843C0.446787 5.7056 0.28377 6.23691 0.163017 6.79238C0.054339 7.34784 0 7.91538 0 8.495C0 9.08669 0.054339 9.66027 0.163017 10.2157C0.28377 10.7712 0.446787 11.3025 0.652068 11.8097C0.869424 12.3168 1.13508 12.7999 1.44904 13.2587C1.75092 13.7055 2.09507 14.1221 2.48148 14.5085C2.86789 14.8949 3.29053 15.2391 3.74939 15.541C4.19618 15.8549 4.67316 16.1206 5.18032 16.3379C5.68748 16.5553 6.2188 16.7183 6.77426 16.827C7.32973 16.9477 7.90331 17.0081 8.495 17.0081C9.08669 17.0081 9.66027 16.9477 10.2157 16.827C10.7712 16.7183 11.3025 16.5553 11.8097 16.3379C12.3168 16.1206 12.7938 15.8549 13.2406 15.541C13.6995 15.2391 14.1221 14.8949 14.5085 14.5085C14.8949 14.1221 15.2391 13.7055 15.541 13.2587C15.8549 12.7999 16.1145 12.3168 16.3198 11.8097C16.5372 11.3025 16.7062 10.7712 16.827 10.2157C16.9357 9.66027 16.99 9.08669 16.99 8.495ZM15.4504 8.495C15.4504 9.46103 15.2693 10.3667 14.907 11.212C14.5447 12.0572 14.0497 12.7938 13.4217 13.4217C12.7817 14.0497 12.0391 14.5447 11.1938 14.907C10.3606 15.2693 9.46103 15.4504 8.495 15.4504C7.52897 15.4504 6.62332 15.2693 5.77805 14.907C4.94485 14.5447 4.20826 14.0497 3.56826 13.4217C2.94034 12.7938 2.44526 12.0572 2.083 11.212C1.72074 10.3667 1.53961 9.46103 1.53961 8.495C1.53961 7.54105 1.72074 6.64144 2.083 5.79616C2.44526 4.95089 2.94034 4.21429 3.56826 3.58638C4.20826 2.95846 4.94485 2.46337 5.77805 2.10111C6.62332 1.72677 7.52897 1.53961 8.495 1.53961C9.46103 1.53961 10.3606 1.72677 11.1938 2.10111C12.0391 2.46337 12.7817 2.95846 13.4217 3.58638C14.0497 4.21429 14.5447 4.95089 14.907 5.79616C15.2693 6.64144 15.4504 7.54105 15.4504 8.495ZM7.71614 3.85807V8.495C7.71614 8.65198 7.75237 8.79085 7.82482 8.9116C7.90935 9.03235 8.01802 9.12292 8.15085 9.1833L11.2482 10.741C11.4293 10.8376 11.6225 10.8557 11.8278 10.7954C12.0331 10.7229 12.184 10.5901 12.2806 10.3969C12.3772 10.2037 12.3893 10.0044 12.3168 9.79914C12.2565 9.59386 12.1297 9.44291 11.9365 9.34631L9.27386 8.02406V3.85807C9.27386 3.65279 9.19537 3.4777 9.03839 3.33279C8.89349 3.17581 8.71236 3.09732 8.495 3.09732C8.27764 3.09732 8.09048 3.17581 7.9335 3.33279C7.78859 3.4777 7.71614 3.65279 7.71614 3.85807Z" fill="#111111"/>
                      </svg>
                    </a>
                  </li>
                 {% endif %}
                {% if section.settings.header_use_wishlist_home %}
                  <li class="laber-wishlist hide-mobile"> 
                    <a {% if page_title !=  'wishlist' %}data-id="#wishlist_popup"{%endif%} href="javascript:void(0);" class="push_side header-icon"  title="{{'general.wishlist.title' | t}}">
                      <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.3887 1.55421C17.3506 0.55606 15.9769 0 14.5491 0C13.1212 0 11.7475 0.55606 10.7094 1.55421L10 2.24289L9.29063 1.55421C8.25514 0.549292 6.87729 -0.00765789 5.44682 0.000470637C4.01902 -0.00635871 2.64421 0.550561 1.61125 1.55421C1.10276 2.0382 0.697356 2.6234 0.420188 3.27353C0.14302 3.92365 0 4.62483 0 5.33357C0 6.0423 0.14302 6.74348 0.420188 7.3936C0.697356 8.04373 1.10276 8.62894 1.61125 9.11292L9.4391 16.7724C9.51585 16.8408 9.60199 16.8974 9.6948 16.9404C9.89078 17.0199 10.1092 17.0199 10.3052 16.9404C10.398 16.8974 10.4841 16.8408 10.5609 16.7724L18.3887 9.11292C18.8972 8.62894 19.3026 8.04373 19.5798 7.3936C19.857 6.74348 20 6.0423 20 5.33357C20 4.62483 19.857 3.92365 19.5798 3.27353C19.3026 2.6234 18.8972 2.0382 18.3887 1.55421ZM18.3887 5.31677C18.3911 5.81361 18.2943 6.30576 18.1043 6.7634C17.9143 7.22103 17.6351 7.63463 17.2834 7.97912L10 15.1179L2.7248 7.97912C2.36775 7.63749 2.08319 7.22502 1.88868 6.76713C1.69417 6.30925 1.59382 5.81565 1.59382 5.31677C1.59382 4.81789 1.69417 4.32429 1.88868 3.86641C2.08319 3.40852 2.36775 2.99605 2.7248 2.65442C3.45741 1.94171 4.43359 1.54714 5.44682 1.55421C6.46509 1.5463 7.44671 1.94068 8.18532 2.65442L9.4391 3.88901C9.51585 3.95737 9.60199 4.01396 9.6948 4.05698C9.89078 4.13645 10.1092 4.13645 10.3052 4.05698C10.398 4.01396 10.4841 3.95737 10.5609 3.88901L11.8229 2.65442C12.5555 1.94171 13.5317 1.54714 14.5449 1.55421C15.5632 1.5463 16.5448 1.94068 17.2834 2.65442C17.6381 2.99747 17.9204 3.41042 18.1133 3.86813C18.3061 4.32583 18.4055 4.81872 18.4052 5.31677H18.3887Z" fill="#111111"/>
                      </svg>

                      <span class="header__counter" data-js-wishlist-count="0">0</span>
                    </a>                        
                  </li>
                {% endif %}
                {% if section.settings.header_use_compare_home %}
                  <li class="laber-compare hide-mobile">
                    <a href="javascript:void(0);" class="push_side header-icon" data-js-popup-button="compare-full" title="{{'general.compare.title' | t}}">
                      <i class="icon-layers" aria-hidden="true"></i>
                      <span class="header__counter" data-js-compare-count="0">0</span>
                    </a>
                  </li>
                {% endif %}
                {% if section.settings.header_use_cart_home %}
                  <li class="box-minicart">
                    <div class="minicart ">
                      <div class="cart-block  box-has-content">
                        <a href="{{ routes.cart_url }}" class="push_side header-icon" {% if request.page_type !=  'cart' %}data-id="#js_cart_popup"{%endif%} title="{{'cart.general.title' | t}}">
                          <svg width="21" height="17" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.3699 15.3408C14.1509 15.3408 13.941 15.2536 13.7862 15.0983C13.6314 14.9431 13.5444 14.7325 13.5444 14.5129H11.8936C11.8936 15.1716 12.1545 15.8033 12.6189 16.2691C13.0832 16.7348 13.7131 16.9965 14.3699 16.9965C15.0266 16.9965 15.6565 16.7348 16.1209 16.2691C16.5853 15.8033 16.8462 15.1716 16.8462 14.5129H15.1953C15.1953 14.7325 15.1083 14.9431 14.9535 15.0983C14.7987 15.2536 14.5888 15.3408 14.3699 15.3408Z" fill="#111111"/>
                            <path d="M8.5612 15.3408C8.34228 15.3408 8.13233 15.2536 7.97753 15.0983C7.82273 14.9431 7.73576 14.7325 7.73576 14.5129H6.07715C6.07715 14.8396 6.14129 15.163 6.26592 15.4647C6.39055 15.7665 6.57322 16.0407 6.8035 16.2716C7.03378 16.5026 7.30717 16.6858 7.60805 16.8108C7.90893 16.9358 8.23141 17.0001 8.55707 17.0001C8.88274 17.0001 9.20522 16.9358 9.5061 16.8108C9.80698 16.6858 10.0804 16.5026 10.3106 16.2716C10.5409 16.0407 10.7236 15.7665 10.8482 15.4647C10.9729 15.163 11.037 14.8396 11.037 14.5129H9.38612C9.38612 14.7324 9.29923 14.9429 9.14454 15.0981C8.98985 15.2534 8.78003 15.3406 8.5612 15.3408Z" fill="#111111"/>
                            <path d="M19.3299 1.64401C19.2849 1.63633 19.2393 1.63252 19.1937 1.63263H5.9867C5.76778 1.63263 5.55782 1.71985 5.40302 1.8751C5.24823 2.03035 5.16126 2.24092 5.16126 2.46047C5.16126 2.68003 5.24823 2.8906 5.40302 3.04585C5.55782 3.2011 5.76778 3.28832 5.9867 3.28832H18.2192L18.001 4.60149L16.8438 11.5668H6.07595L3.26946 4.60149L1.59537 0.482961C1.50684 0.289212 1.34721 0.13717 1.14972 0.0584856C0.952225 -0.020199 0.732083 -0.0194636 0.535118 0.0605389C0.338153 0.140541 0.179541 0.293646 0.0922992 0.487983C0.00505767 0.682319 -0.00409102 0.902913 0.0667575 1.10384L2.73963 7.68158L4.56385 12.5307C4.6985 12.9389 4.97657 13.2224 5.37794 13.2224H17.5428C17.7383 13.2225 17.9275 13.1531 18.0766 13.0264C18.2258 12.8997 18.3253 12.724 18.3574 12.5307L19.675 4.60149L20.0083 2.59655C20.0443 2.38002 19.993 2.15803 19.8658 1.9794C19.7386 1.80077 19.5458 1.68013 19.3299 1.64401Z" fill="#111111"/>
                          </svg>

                          <span class="header__counter js-cart-count" data-js-cart-count="{{ cart.item_count }}">{{ cart.item_count }}</span>
                        </a>    

                        <span data-total-price class="total-price"><span class="text">{{'cart.general.title' |t}}: </span>
                          <span class="js-total-price">
                            {{ cart.total_price | money }}</span>
                        </span>
                      </div>     
                    </div>
                  </li>
                {% endif %}               
               
              </ul>
            </div>
          </div>
        </div>
      </div>      
    </div>