{% assign style_search = section.settings.style_search | plus:0 %}
    <div class="header-main-wrap"> 
      <div class="header-top">
        
        <div class="container {% if section.settings.layout == 'full-width' %}{{section.settings.layout}} {% endif %}">
          <div class="row">
            
            <div class="header-nav-mobile col-md-3 col-3">
              <div class="js-mobile-menu menu-bar mobile-navigation">
                <span class="icon">
                  <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;}</style></defs><title/><g data-name="Layer 2" id="Layer_2"><path d="M28,10H4A1,1,0,0,1,4,8H28a1,1,0,0,1,0,2Z"/><path d="M28,17H4a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z"/><path d="M28,24H4a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z"/></g><g id="frame"><rect class="cls-1" height="32" width="32"/></g></svg>
                </span>
              </div>
            </div>
           {%- render 'logo_mobile' -%}
            {%if section.settings.header_design == 'logo-center_2l'%}
              <ul class="header-control hide-mobile col-md-4">
                  {%if section.settings.header_use_currency%}
                    {% render 'currency' %}
                  {% endif %}
                  {%if section.settings.header_use_language%}
                    {% render 'language' %} 
                  {% endif %}
                  {%if section.settings.header_use_search_home%}
                  <li class="header_search  ">
                    {% if style_search == 1 %}
                    <a href="/search" class="header-search push_side header-icon" data-id="#search_pupop" title="{{'general.search.title' | t}}">
                      <i class="icon-search"></i>   
                    </a>  
                    {% else %}
                        {%- render 'header-search' -%}
                    {% endif %}                      
                  </li>
                  {% endif %}
              </ul>       
            {%endif%}
            <div class="header-logo hide-mobile col-md-4 col-4">
                {%- render 'logo' -%}
            </div>
            <div class="header-top-meta  col-md-4">
              <ul class="header-control">
                
                {%if section.settings.header_design == 'logo-left_2l'%}
                  <li class="header_search  hide-mobile">
                    {% if style_search == 1 %}
                    <a href="/search" class="header-search push_side header-icon" data-id="#search_pupop" title="{{'general.search.title' | t}}">
                      <i class="icon-search"></i>   
                    </a>  
                    {% else %}
                        {%- render 'header-search' -%}
                    {% endif %}                       
                  </li>   
                  {% endif %}
                
                {%if section.settings.header_use_account%}
                  
                  <li class="signin item-list hide-mobile">
                    {% unless customer %}
                    {%- assign page_type = request.page_type | handle  -%}  
                    <a href="{{ routes.root_url }}account/login" {% if page_type != 'customers-login' %}data-id="#login_pupop" {% endif %} class="push_side header-icon" title="{{'customer.login.log_in' | t}}" >
                      <i class="icon-user"></i>
                      <span>{{'customer.login.log_in' | t}}</span>
                    </a>
                    {% else %}
                    <a href="{{ routes.account_url }}" class="push_side header-icon" title="{{'customer.login.account' | t}}" >
                      <i class="icon-user"></i>
                      <span>{{'customer.login.account' | t}}</span>
                    </a>
                    {% endunless %}
                  </li>

                  
                 {% endif %}
               
                  
                
                {% if section.settings.header_use_wishlist_home %}
                <li class="laber-wishlist hide-mobile"> 
                  <a {% if page_title !=  'wishlist' %}data-id="#wishlist_popup"{%endif%} href="javascript:void(0);" class="push_side header-icon"  title="{{'general.wishlist.title' | t}}">
                    <i class="icon-heart"></i>
                    <span class="header__counter" data-js-wishlist-count="0">0</span>
                  </a>                        
                </li>
                {% endif %}
                {% if section.settings.header_use_compare_home %}
                <li class="laber-compare hide-mobile">
                  <a href="javascript:void(0);" class="push_side header-icon" data-js-popup-button="compare-full" title="{{'general.compare.title' | t}}">
                    <i class="icon-layers" aria-hidden="true"></i>
                    <span class="header__counter" data-js-compare-count="0">0</span>
                  </a>
                </li>
                {% endif %}
                {% if section.settings.header_use_cart_home %}
                  <li class="box-minicart">
                    <div class="minicart ">
                      <div class="cart-block  box-has-content">
                        <a href="{{ routes.cart_url }}" class="push_side header-icon" {% if request.page_type !=  'cart' %}data-id="#js_cart_popup"{%endif%} title="{{'cart.general.title' | t}}">
                          <?xml version="1.0" ?><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;}</style></defs><title/><g data-name="Layer 2" id="Layer_2"><path d="M23.52,29h-15a5.48,5.48,0,0,1-5.31-6.83L6.25,9.76a1,1,0,0,1,1-.76H24a1,1,0,0,1,1,.7l3.78,12.16a5.49,5.49,0,0,1-.83,4.91A5.41,5.41,0,0,1,23.52,29ZM8,11,5.11,22.65A3.5,3.5,0,0,0,8.48,27h15a3.44,3.44,0,0,0,2.79-1.42,3.5,3.5,0,0,0,.53-3.13L23.28,11Z"/><path d="M20,17a1,1,0,0,1-1-1V8a3,3,0,0,0-6,0v8a1,1,0,0,1-2,0V8A5,5,0,0,1,21,8v8A1,1,0,0,1,20,17Z"/></g><g id="frame"><rect class="cls-1" height="32" width="32"/></g></svg>
                          <span class="header__counter js-cart-count" data-js-cart-count="{{ cart.item_count }}">{{ cart.item_count }}</span>
                        </a>    

                        <span data-total-price class="total-price"><span class="text">{{'cart.general.title' |t}}: </span>
                          <span class="js-total-price">
                            {{ cart.total_price | money }}</span>
                        </span>
                      </div>     
                    </div>
                  </li>
                {% endif %}               
               
              </ul>
            </div>
          </div>
        </div>
      </div> 
      <div class="navigationMenu hide-mobile">
      	<div class="container {% if section.settings.layout == 'full-width' %}{{section.settings.layout}} {% endif %}">
           <div class="ps-static">
              {%- render 'menu',se_blocks:se_blocks,tp_blocks:tp_blocks -%}
            </div>
        </div>
      </div>
    </div>
