
{% include 'product-res-variables' %}    
{%- assign show_collection = settings.collection_info_show_collections -%}
{% assign show_title_variant = false %}
{% assign build_variant = "all" %}
<div class="product-item" data-col="{{col}}">
  <div class="product-collection" {% include 'product-get-attributes' %} >
    {% form "product", product, id: null, class: "frm_product_collection", data-js-product-form: '' %}
     <input type="hidden" name="id" value="{{ current_variant.id }}" data-js-product-variant-input>   
    <div class="product-collection__image product-image js-product-images-navigation js-product-images-hovered-end {% if enable_hover_image %} cms-hover-image {% endif %}">
                	
         <a href="{{ product.url | within: collection }}" class="d-block image_product cursor-default" data-js-product-image>
           
            {% if current_img_url != blank%}
            	{% unless current_img_url contains 'no-image' %}
           			<div data-image-effect class="pr_lazy_img main-img lazyload laber_bg_lz laber_img_1 {{settings.product_hover_animation_type}}" data-id="{{image.id}}" data-bgset="{{ image | img_url: '1x1' }}" data-parent-fit="width" data-wiis data-ratio="{{ratio}}" data-sizes="auto" style="padding-top:{{ 1 | divided_by: ratio | times: 100}}%;"></div>
            	{% endunless %}
                {% if current_img_url contains 'no-image'%}
                	<div data-image-effect class="pr_lazy_img main-img lazyload laber_bg_lz laber_img_1" style="padding-top:127%; background-image:url('https://via.placeholder.com/540x690.png/F2F3F5/fff?text=No Image')"></div>
                {% endif %} 
            {% else %}
            	<div data-image-effect class="pr_lazy_img main-img lazyload laber_bg_lz laber_img_1"  style="padding-top:127%; background-image:url('https://via.placeholder.com/540x690.png/F2F3F5/fff?text=No Image')"></div>
            {% endif %}
           
           {% if img_hover_url != blank%}
            	{% unless img_hover_url contains 'no-image' %}
           			<div data-image-hover class="pr_lazy_img main-img lazyload laber_bg_lz laber_img_2 {{settings.product_hover_animation_type}}" data-id="{{image.id}}" data-bgset="{{ hover_image | img_url: '1x1' }}" data-parent-fit="width" data-wiis data-ratio="{{ratio}}" data-sizes="auto" style="padding-top:{{ 1 | divided_by: ratio | times: 100}}%;"></div>
            		
            	{% endunless %}
                {% if img_hover_url contains 'no-image'%}
                	<div data-image-hover class="pr_lazy_img main-img lazyload laber_bg_lz laber_img_2" style="padding-top:127%; background-image:url('{{ current_img_url }}')"></div>
                {% endif %} 
            {% else %}
            	<div data-image-hover class="pr_lazy_img main-img lazyload laber_bg_lz laber_img_2"  style="padding-top:127%; background-image:url('https://via.placeholder.com/540x690.png/F2F3F5/fff?text=No Image')"></div>
            {% endif %} 
           
      	</a>
      
          {%- if show_label_in_stock or show_label_out_stock or show_label_sale or show_label_new or show_label_hot -%}
              {%- assign label_present = true -%}
          {%- else -%}
              {%- assign label_present = false -%}
          {%- endif -%}
            {%- if label_present -%}
            <div class="product-image__overlay-top-left ">
              {% include 'product-get-label' with product: product %}
            </div>
            {%- endif -%}
          
      	  
      </div>
      <div class="product-collection__content style_{{style_product}}">  
        
        {% if show_collection %}
          <div class="product-collection__info">
            <div class="product-collection__more-info">
              {%- if product.collections.size > 0 -%}
              {% render 'product-get-collections' with product: product %}
              {%- endif -%}   
            </div>
          </div>
        {%endif%}
        
        

          
        
        
          {%- if show_title -%}
              <div class="product-collection__title">
                  <h2>
                      <a href="{{ url }}">{{ title }}</a>
                  </h2>
              </div>
          {%- endif -%}  
			{%- if show_reviews -%}
            {% include 'reviews-count' %}
              
              <div class="product-collection__reviews">
                {% render 'product-get-review' with id: id hide_counter: hide_reviews_counter %}
              </div>
              
            {%- endif -%}        
          <div class="frm-price-color">
          {%- if show_price -%}
              <div class="product-collection__price ">
                  {% render 'product-get-price' with price: price compare_at_price: product.compare_at_price %}
              </div>
          {%- endif -%}
        </div>
              {%- if show_options and show_custom_options -%}
                  <div class="product-collection__options">
                      {% include 'product-get-options' %}
                  </div>
              {%- else -%}
                  {%- assign variants_size = product.variants | size -%}
                  {%- if variants_size > 1 -%}
                      {%- assign enable_select_options_button = true -%}
                  {%- endif -%}
              {%- endif -%}
              {%- if show_button_add_to_cart or show_options -%}
                  <div class="product-collection__variants {% if show_options == false or show_custom_options %} d-none{% elsif product.variants.size == 1 and product.variants.first.title contains 'Default' %} d-none{% endif %}">
                      {% render 'product-get-variants' with product: product current_variant: current_variant show_options: show_options show_custom_options: show_custom_options %}
                  </div>
              {%- endif -%}
              <div data-product-quantity class="js-quantity quantity justify-content-center focus-form">
                <div class="inner-quantity flex">
                  
                  <input data-step="1" data-min="1" data-max="{{ product.variants.first.inventory_quantity }}" class="input-text js_qty focus-form-input" type= "text" size="4" title="Qty" value="1" name="quantity">
                  <p class="qty-btn">
                      <a class="js_plus" href="#"><i class="icon-plus"></i></a>
                      <a class="js_minus" href="#"><i class="icon-minus"></i></a>
                  </p>
                </div>
              </div>
              {%- if show_button_add_to_cart or show_button_add_to_compare -%}
              <div class="product-image__overlay-bottom">
                <div class="group-button">
                  <div class="inner"> 
                    {% if show_button_add_to_cart%}
                      {% if product.available %}
                      <button type="submit" class="add-to-cart js_add_to_cart_button {%if settings.disable_ajax_cart %}page_{{settings.custom_page_cart}}{%endif%}"  data-pid="{{ product.variants.first.id }}" data-js-product-button-add-to-cart>
                        
                          {% render 'icon-cart' %}
                          <i aria-hidden="true" class="laber-loading fa fa-spinner fa-spin fa-3x fa-fw"></i>
                        
                        <span class="text">{{'products.product.add_to_cart' | t  }}</span>
                      </button>
                      {% else %}
                      <a  class="add-to-cart js-btn-sold-out" onclick="location.href='{{ product.url | within: collection }}'">
                        <span class="icon">
                          <i class="icon-alert-circle" aria-hidden="true"></i>
                        </span>
                        <span class="text">{{'products.product.sold_out' | t  }}</span></a>
                      {% endif %}
                    {% endif %}
                    {% if show_button_quick_view %}
                    {% include 'product-get-button-quickview'%}
                    {% endif %}
                {% if show_button_add_to_wishlist %}
                {% include 'product-get-button-wishlist' %}
              {% endif %}
                    {% if show_button_add_to_compare %}
                     {% include 'product-get-button-compare' %}
                    {% endif %}
                      
                  </div>
                </div>
              </div>
          {%- endif -%}
              
        {{ countdown | strip_newlines | remove:"  "}}	
        {{ stockBar | strip_newlines | remove:"  "}}
      </div>
    {% endform %}
  </div>
</div>