<div class="details-thumb col-xs-12 col-sm-12 {% if product_page_design =='grid_2_column' %} col-md-7 col-lg-7{% else %} col-md-6 col-lg-6{% endif %} ">
    <div class="product-cover-thumbnails">
      {% if product.images.size > 0 %}
          <div class="cms-wrap-main-slider {{ product_page_design }}">
            <div class="wrap-main-slider">
              <div data-slide-main data-width-zoom="{{width_zoom}}" data-height-zoom="{{height_zoom}}"  class="slider-fors">   
                <div class="media-top">
                  {% for image in product.images %}
                  <div id="main_img_{{image.id }}" data-image-id="{{ image.id }}"  class="full-item">
                    {%- assign image = image.src -%}
                    {%- if image -%}
                        <img {% if settings.product_info_enable_zoom %} data-style-zoom ="{{settings.type_zoom}}" class="main-image js-image-{{image.id }}" data-zoom-image="{{ image | img_url: '1920x' }}" {% endif %} src="{{ image | img_url: 'grande' }}" style="width:100%; height:auto"alt=""/>
                    {%- endif -%}
                  </div> 
                {% endfor %}
                </div>
                <div class="media-bottom">
                  {% for image in product.images %}
                  <div id="main_img_{{image.id }}" data-image-id="{{ image.id }}"  class="full-item">
                    {%- assign image = image.src -%}
                    {%- if image -%}
                        <img {% if settings.product_info_enable_zoom %} data-style-zoom ="{{settings.type_zoom}}" class="main-image js-image-{{image.id }}" data-zoom-image="{{ image | img_url: '1920x' }}" {% endif %} src="{{ image | img_url: 'grande' }}" style="width:100%; height:auto"alt=""/>
                    {%- endif -%}
                  </div> 
                {% endfor %}
                </div>
                {% for media in product.media %} 
                  {% if  media.media_type == 'video' %}
                    <div id="main_video_{{media.id}}" data-image-id="{{media.id}}"  class="video full-item">
                        {{ media | media_tag: image_size: "1048x", autoplay: true, loop: loop, controls: true, preload: "none" }}
                    </div> 
                  {% endif %}
                {% endfor %} 
              </div>
              <div class="main_appendArrows"></div>
              <div class="zoomContainerAppendTo"></div>
              {% if settings.product_info_show_btn_fullscreen %}
              <div data-js-gallery class="open_gallery">
                <i class="icon-fullscreen"></i>
                {{'products.product.zoom' | t}}
              </div>
              {% endif %}
              
              {% for media in product.media %} 
              {%if media.external_id !=blank%}
              <a class="products-video" data-page-open-popup data-effect="mfp-move-horizontal" href="#products-video"><i class="icon-play-circle"></i> {{ 'products.product.play_video' | t}}</a>
              {%endif%}
              {% endfor %}
        
            </div>
          </div>
          <div data-slide-nav class="slider-nav row" data-slidesToShow ="{{nb_thumb}}"  data-vertical ="{%- if product_page_design =='thumb_left' or product_page_design =='thumb_right' -%}true{%-else-%}false{%- endif -%}">                      
            {% for image in product.images %}                       
            <div id="thumb_img_{{image.id }}" data-thumb-id="{{ image.id }}" data-image="{{ image.src | img_url: 'grande' }}" data-z-image="{{ image.src | img_url: '1920x' }}" class="thumb_img">
              {%- assign image = image.src -%}
              {%- if image -%}<div class="lazyload pr_lazy_img" data-bgset="{{ image | img_url: '1x1' }}" data-ratio="{{image.aspect_ratio}}" data-sizes="auto" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;"></div>{%- endif -%}
            </div> 
            {% endfor %}
            {% for media in product.media %} 
              {% if  media.media_type == 'video' %}
                <div id="thumb_video_{{media.id }}" data-thumb-id="{{ media.id }}"  class="thumb_video">
                  {%- assign image = media.preview_image -%}
                  {%- if image -%}
                      <div class="lazyload pr_lazy_img" data-bgset="{{ image | img_url: '1x1' }}" data-ratio="{{image.aspect_ratio}}" data-sizes="auto" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;"></div>
                      <svg class="w-[16px] h-[16px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                          <path d="M543.9 96c-6.2 0-12.5 1.8-18.2 5.7L416 171.6v-59.8c0-26.4-23.2-47.8-51.8-47.8H51.8C23.2 64 0 85.4 0 111.8v288.4C0 426.6 23.2 448 51.8 448h312.4c28.6 0 51.8-21.4 51.8-47.8v-59.8l109.6 69.9c5.7 4 12.1 5.7 18.2 5.7 16.6 0 32.1-13 32.1-31.5v-257c.1-18.5-15.4-31.5-32-31.5zM384 400.2c0 8.6-9.1 15.8-19.8 15.8H51.8c-10.7 0-19.8-7.2-19.8-15.8V111.8c0-8.6 9.1-15.8 19.8-15.8h312.4c10.7 0 19.8 7.2 19.8 15.8v288.4zm160-15.7l-1.2-1.3L416 302.4v-92.9L544 128v256.5z"></path>
                      </svg>
                    {%- endif -%}
                </div>
               {%endif%}
            {% endfor %}
          </div>
        {% else %}
            <div data-slide-main class="slider-fors" >
              <div data-image-id="{{ product.images[0].id }}" class="thumb_img">                      
                  {%- assign image = product.images[0].src -%}
                  {%- if image -%}<div class="lazyload pr_lazy_img" data-bgset="{{ image | img_url: '1x1' }}" data-ratio="{{image.aspect_ratio}}" data-sizes="auto" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 75}}%;"></div>{%- endif -%}
              </div>                      
            </div>
        {% endif %}
      {% for media in product.media %} 
        {%if media.external_id !=blank%}
          <div id="products-video" class="mfp-hide mfp-with-anim size-chart-open-popup">  
            {%if media.host =='youtube' %}
            <div id="main_img_youtube" data-image-id="{{media.host}}-{{media.external_id}}"  class="video full-item">
              <iframe src="https://www.youtube.com/embed/{{media.external_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            {%elsif media.host =='vimeo' %}
            <div id="main_img_vimeo" data-image-id="{{media.host}}-{{media.external_id}}"  class="video full-item">
              <iframe src="https://player.vimeo.com/video/{{media.external_id }}?h=879b82dac7&title=0&byline=0&portrait=0" width="510" height="510" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            {%endif%}
          </div> 
        {%endif%}
      {% endfor %}
      <div data-fotorama data-allow-full-screen="native" style="width:1px;height:1px;overflow: hidden;">
        {% for image in product.images %}                       
          {%- assign image = image.src -%}
          {%- if image -%}<img class="lazyload" data-image-id="{{image.id}}" data-src="{{ image | img_url: '1920x' }}" style="width:auto; height:auto" alt=""/>{%- endif -%}                    
        {% endfor %}
      </div>
    </div>
 </div>