{% include 'product-res-variables' %}
{%- assign image_size = image_size | default: '200x' -%}
{%- assign show_label_in_stock = false | default: settings.product_collection_show_label_in_stock -%}
{%- assign show_label_out_stock = true | default: settings.product_collection_show_label_out_stock -%}
{%- assign show_label_sale = true | default: settings.product_collection_show_label_sale -%}
{%- assign show_label_new = true | default: settings.product_collection_show_label_new -%}
{%- assign show_label_hot = true | default: settings.product_collection_show_label_hot -%}
{%- assign show_title = true | default: settings.product_collection_show_title -%}
{%- assign show_price = true | default: settings.product_collection_show_price -%}
{%- assign show_button_add_to_cart = true | default: settings.product_collection_show_button_add_to_cart -%}
{%- assign show_button_quick_view = false | default: settings.product_collection_show_button_quick_view -%}
{%- assign show_button_remove = true -%}

<div class="product-compare" data-js-product data-js-store-lists-product-compare data-product-handle="{{ product.handle }}" data-product-variant-id="{{ current_variant_id }}">
    {%- if show_button_remove -%}
    	<div class="product-compare__remove js-store-lists-remove-compare"><i class="icon-trash-2"> </i></div>
    {%- endif -%}
    <div class="product-compare__image js-product-images-navigation js-product-images-hovered-end">
      	<a href="{{ url }}">
          {% assign image = product.featured_image.src %}
          {% assign ratio = image.aspect_ratio |default:1.0 %}
          <div data-image-effect class="pr_lazy_img main-img lazyload laber_bg_lz  {{settings.product_hover_animation_type}}" data-id="{{image.id}}" data-bgset="{{ image | img_url: '1x1' }}" data-parent-fit="width" data-wiis data-ratio="{{ratio}}" data-sizes="auto" style="padding-top:{{ 1 | divided_by: ratio | times: 100}}%;"></div>     
      	</a> 
    </div>
    <div class="product-compare__content" >        
             
        {%- if show_title -%}
            <div class="product-compare__title">
                <h2>
                    <a href="{{ url }}">{{ title }}</a>
                </h2>
            </div>
        {%- endif -%}
        {%- if show_price -%}
            <div class="product-compare__price">
                {% render 'product-get-price' with price: price compare_at_price: compare_at_price %}
            </div>
        {%- endif -%}
        {% form "product", product, id: null, class: "frm_product", data-js-product-form: '' %}
            {%- if show_button_add_to_cart -%}
                <div class="product-compare__variants d-none">
                    {% render 'product-get-variants' with product: product current_variant: current_variant show_options: show_options show_custom_options: show_custom_options %}
                </div>
            {%- endif -%}
            {%- if show_button_add_to_cart or show_button_quick_view -%}
                <div class="product-compare__buttons ">
                    {%- if show_button_add_to_cart -%}
                        <div class="product-compare__button-add-to-cart ">
                            {% include 'product-get-button-cart' %}
                        </div>
                    {%- endif -%}                    
                </div>
            {%- endif -%}
        {% endform %}
        
    </div>
</div>