<div class="laber-social-link socials clearfix">
<ul class="list-socials ">
  {% if settings.footer_social_twitter_enable %}
  <li class="twitter">
    <a  target="_blank" href="{{settings.footer_social_twitter_link}}" title="{{settings.footer_social_twitter_text}}"><i class="fa fa-twitter"></i></a>
  </li>
  {% endif %}
  {% if settings.footer_social_facebook_enable %}
  <li class="facebook">
    <a  target="_blank" href="{{settings.footer_social_facebook_link}}" title="{{settings.footer_social_facebook_text}}"><i class="fa fa-facebook"></i></a>
  </li>
  {% endif %}
  {% if settings.footer_social_google_enable %}
  <li class="google">
    <a  target="_blank" href="{{settings.footer_social_google_link}}" title="{{settings.footer_social_google_text}}"><i class="fa fa-google" aria-hidden="true"></i></a>
  </li>
  {% endif %}
  {% if settings.footer_social_pinterest_enable %}
  <li class="pinterest">
    <a  target="_blank" href="{{settings.footer_social_pinterest_link}}" title="{{settings.footer_social_pinterest_text}}"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
  </li>
  {% endif %}
  {% if settings.footer_social_instargram_enable %}
  <li class="instagram">
    <a  target="_blank" href="{{settings.footer_social_instargram_link}}" title="{{settings.footer_social_instargram_text}}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </li>
  {% endif %}

  {% if settings.footer_social_tumblr_enable %}
  <li class="tumblr">
    <a  target="_blank" href="{{settings.social_tumblr_link}}" title="{{settings.footer_social_tumblr_text}}"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
  </li>
  {% endif %}
  {% if settings.footer_social_snapchat_enable %}
  <li class="snapcha">
    <a  target="_blank" href="{{settings.social_snapchat_link}}" title="{{settings.footer_social_snapchat_text}}"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a>
  </li>
  {% endif %}
  {% if settings.footer_social_youtube_enable %}
  <li class="youtube">
    <a  target="_blank" href="{{settings.social_youtube_link}}" title="{{settings.footer_social_youtube_text}}"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
  </li>
  {% endif %}
  {% if settings.footer_social_vimeo_enable %}
  <li class="vimeo">
    <a  target="_blank" href="{{settings.social_vimeo_link}}" title="{{settings.footer_social_vimeo_text}}"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
  </li>
  {% endif %}
</ul>
</div>