<!-- Created by Andy 06/08/2017 -->
{% section 'breadcrumb' %}
<div class="main-content shop-page login-page">
  <div class="container">
    
    <div class="login-register-form pr_center content-form row">
      <div class="note form-success hide" id="ResetSuccess" style="display:none;">
        {{ 'customer.recover_password.success' | t }}
      </div>
     
      <div class="cms-right col-xs-12 col-sm-6 col-md-6 col-lg-6">
        {% form 'create_customer', class:'register' %}
        
        <div id="register-form">
          <h3 class="main-title">{{ 'customer.register.title' | t }}</h3>
          {{ form.errors | default_errors }}
            <div class="box-label">
              <label>{{'customer.register.first_name' | t}} <span>*</span></label>    
              <p>
                <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.50009 4.71731C6.52035 4.71731 5.73498 5.51368 5.73498 6.49605C5.73498 7.44433 6.47007 8.2175 7.40148 8.26665C7.46564 8.26136 7.53406 8.26089 7.60052 8.26655C8.52792 8.21661 9.25911 7.44644 9.2652 6.49456C9.2644 5.51392 8.4734 4.71731 7.50009 4.71731ZM4.68848 6.49605C4.68848 4.93335 5.94031 3.66272 7.50009 3.66272C9.05186 3.66272 10.3117 4.9323 10.3117 6.49605V6.49903H10.3117C10.3032 8.02352 9.11323 9.27012 7.60164 9.32205C7.57094 9.32311 7.54022 9.32143 7.50981 9.31706C7.51282 9.31749 7.51341 9.31745 7.51147 9.31733C7.50967 9.31721 7.50667 9.31708 7.50271 9.31708C7.49413 9.31708 7.48622 9.31766 7.48127 9.31829C7.45384 9.32174 7.42618 9.323 7.39854 9.32205C5.88959 9.27021 4.68848 8.02554 4.68848 6.49605Z" fill="#ACAFB7"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.32484 12.0599C3.7875 12.4246 3.48714 12.8419 3.3701 13.2386C4.4907 14.1842 5.92732 14.7501 7.50146 14.7501C9.07561 14.7501 10.5122 14.1842 11.6328 13.2386C11.5157 12.8417 11.2152 12.4242 10.6773 12.0594C9.83301 11.4902 8.6849 11.1891 7.5067 11.1891C6.329 11.1891 5.17688 11.49 4.32484 12.0599ZM7.5067 10.1345C8.84335 10.1345 10.2066 10.473 11.2599 11.1833L11.261 11.184C12.1001 11.753 12.6339 12.5252 12.7241 13.3796C12.7417 13.5461 12.6797 13.7112 12.5572 13.8243C11.2227 15.0557 9.45139 15.8047 7.50146 15.8047C5.55154 15.8047 3.78023 15.0557 2.44576 13.8243C2.3232 13.7112 2.26124 13.5461 2.27882 13.3796C2.36901 12.5252 2.90283 11.753 3.7419 11.184L3.7445 11.1823L3.74451 11.1823C4.80397 10.4731 6.16988 10.1345 7.5067 10.1345Z" fill="#ACAFB7"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 1.74343C3.93584 1.74343 1.04651 4.65505 1.04651 8.24672C1.04651 11.8384 3.93584 14.75 7.5 14.75C11.0642 14.75 13.9535 11.8384 13.9535 8.24672C13.9535 4.65505 11.0642 1.74343 7.5 1.74343ZM0 8.24672C0 4.07262 3.35786 0.688843 7.5 0.688843C11.6421 0.688843 15 4.07262 15 8.24672C15 12.4208 11.6421 15.8046 7.5 15.8046C3.35786 15.8046 0 12.4208 0 8.24672Z" fill="#ACAFB7"/>
              </svg>
              <input required
                class="required input-info {% if form.errors contains 'first_name' %} input--error{% endif %}"     
                type="text"
                name="customer[first_name]"
                id="RegisterForm-FirstName"
                {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
                autocomplete="given-name"
                placeholder="{{ 'customer.register.first_name' | t }}"
              >
              </p>
          </div>
          <div class="box-label">
          <label>{{'customer.register.last_name' |t}} <span>*</span></label>
            <p>
              <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.50009 4.71731C6.52035 4.71731 5.73498 5.51368 5.73498 6.49605C5.73498 7.44433 6.47007 8.2175 7.40148 8.26665C7.46564 8.26136 7.53406 8.26089 7.60052 8.26655C8.52792 8.21661 9.25911 7.44644 9.2652 6.49456C9.2644 5.51392 8.4734 4.71731 7.50009 4.71731ZM4.68848 6.49605C4.68848 4.93335 5.94031 3.66272 7.50009 3.66272C9.05186 3.66272 10.3117 4.9323 10.3117 6.49605V6.49903H10.3117C10.3032 8.02352 9.11323 9.27012 7.60164 9.32205C7.57094 9.32311 7.54022 9.32143 7.50981 9.31706C7.51282 9.31749 7.51341 9.31745 7.51147 9.31733C7.50967 9.31721 7.50667 9.31708 7.50271 9.31708C7.49413 9.31708 7.48622 9.31766 7.48127 9.31829C7.45384 9.32174 7.42618 9.323 7.39854 9.32205C5.88959 9.27021 4.68848 8.02554 4.68848 6.49605Z" fill="#ACAFB7"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.32484 12.0599C3.7875 12.4246 3.48714 12.8419 3.3701 13.2386C4.4907 14.1842 5.92732 14.7501 7.50146 14.7501C9.07561 14.7501 10.5122 14.1842 11.6328 13.2386C11.5157 12.8417 11.2152 12.4242 10.6773 12.0594C9.83301 11.4902 8.6849 11.1891 7.5067 11.1891C6.329 11.1891 5.17688 11.49 4.32484 12.0599ZM7.5067 10.1345C8.84335 10.1345 10.2066 10.473 11.2599 11.1833L11.261 11.184C12.1001 11.753 12.6339 12.5252 12.7241 13.3796C12.7417 13.5461 12.6797 13.7112 12.5572 13.8243C11.2227 15.0557 9.45139 15.8047 7.50146 15.8047C5.55154 15.8047 3.78023 15.0557 2.44576 13.8243C2.3232 13.7112 2.26124 13.5461 2.27882 13.3796C2.36901 12.5252 2.90283 11.753 3.7419 11.184L3.7445 11.1823L3.74451 11.1823C4.80397 10.4731 6.16988 10.1345 7.5067 10.1345Z" fill="#ACAFB7"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 1.74343C3.93584 1.74343 1.04651 4.65505 1.04651 8.24672C1.04651 11.8384 3.93584 14.75 7.5 14.75C11.0642 14.75 13.9535 11.8384 13.9535 8.24672C13.9535 4.65505 11.0642 1.74343 7.5 1.74343ZM0 8.24672C0 4.07262 3.35786 0.688843 7.5 0.688843C11.6421 0.688843 15 4.07262 15 8.24672C15 12.4208 11.6421 15.8046 7.5 15.8046C3.35786 15.8046 0 12.4208 0 8.24672Z" fill="#ACAFB7"/>
              </svg>
           <input required
              class="required input-info {% if form.errors contains 'last_name' %} input--error{% endif %}"    
              type="text"
              name="customer[last_name]"
              id="RegisterForm-LastName"
              {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
              autocomplete="family-name"
              placeholder="{{ 'customer.register.last_name' | t }}"
            >
            </p>
          </div>
          <div class="box-label">
            <label>{{'customer.register.email' | t}} <span>*</span></label>  
            <p>
              <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M9.10791 1H14.3079C15.8543 1 17.1079 2.2536 17.1079 3.8V10.2C17.1079 11.7464 15.8543 13 14.3079 13H3.90791C2.36151 13 1.10791 11.7464 1.10791 10.2V3.8C1.10791 2.2536 2.36151 1 3.90791 1H5.10791" stroke="#ACAFB7" stroke-width="1.5" stroke-linecap="round"></path>
                                      <path d="M5.10791 5L8.50791 7.55019C8.86348 7.81688 9.3524 7.81688 9.70797 7.55019L13.108 5" stroke="#ACAFB7" stroke-width="1.5" stroke-linecap="round"></path>
                                      </svg>
           <input required
                   class="required email input-info {% if form.errors contains 'email' %} input--error{% endif %}"
                   type="email"
                   name="customer[email]"
                   id="RegisterForm-email"
                   {% if form.email %} value="{{ form.email }}"{% endif %}
                   spellcheck="false"
                   autocapitalize="off"
                   autocomplete="email"
                   aria-required="true"
                   {% if form.errors contains 'email' %}
                   aria-invalid="true"
                   aria-describedby="RegisterForm-email-error"
                   {% endif %}
                   placeholder="{{ 'customer.register.email' | t }}"
                   >
            </p>
          </div>
          
            <div class="box-label">
              <label>{{'customer.register.password' | t}} <span>*</span></label>  
              <p>
                <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.63938 1.89614C4.16687 2.45615 4 3.27128 4 4.29605V5.56896C4 5.83258 3.77614 6.0463 3.5 6.0463C3.22386 6.0463 3 5.83258 3 5.56896V4.29605C3 3.21417 3.16646 2.11994 3.86062 1.29726C4.57359 0.452272 5.74776 0 7.5 0C9.25224 0 10.4264 0.452272 11.1394 1.29726C11.8335 2.11994 12 3.21417 12 4.29605V5.56896C12 5.83258 11.7761 6.0463 11.5 6.0463C11.2239 6.0463 11 5.83258 11 5.56896V4.29605C11 3.27128 10.8331 2.45615 10.3606 1.89614C9.90692 1.35843 9.08109 0.954678 7.5 0.954678C5.91891 0.954678 5.09308 1.35843 4.63938 1.89614Z" fill="#ACAFB7"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.50006 9.0284C6.84407 9.0284 6.31228 9.56429 6.31228 10.2253C6.31228 10.8864 6.84407 11.4223 7.50006 11.4223C8.15605 11.4223 8.68784 10.8864 8.68784 10.2253C8.68784 9.56429 8.15605 9.0284 7.50006 9.0284ZM5.29419 10.2253C5.29419 8.99767 6.28179 8.00244 7.50006 8.00244C8.71833 8.00244 9.70593 8.99767 9.70593 10.2253C9.70593 11.453 8.71833 12.4482 7.50006 12.4482C6.28179 12.4482 5.29419 11.453 5.29419 10.2253Z" fill="#ACAFB7"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M1.59093 6.98706C1.23407 7.35764 1.04651 8.04796 1.04651 9.50084V10.9498C1.04651 12.4027 1.23407 13.093 1.59093 13.4636C1.94778 13.8342 2.61254 14.029 4.01163 14.029H10.9884C12.3875 14.029 13.0522 13.8342 13.4091 13.4636C13.7659 13.093 13.9535 12.4027 13.9535 10.9498V9.50084C13.9535 8.04796 13.7659 7.35764 13.4091 6.98706C13.0522 6.61648 12.3875 6.42171 10.9884 6.42171H4.01163C2.61254 6.42171 1.94778 6.61648 1.59093 6.98706ZM0.850932 6.21861C1.54059 5.50244 2.62002 5.33496 4.01163 5.33496H10.9884C12.38 5.33496 13.4594 5.50244 14.1491 6.21861C14.8387 6.93479 15 8.05572 15 9.50084V10.9498C15 12.395 14.8387 13.5159 14.1491 14.2321C13.4594 14.9482 12.38 15.1157 10.9884 15.1157H4.01163C2.62002 15.1157 1.54059 14.9482 0.850932 14.2321C0.161277 13.5159 0 12.395 0 10.9498V9.50084C0 8.05572 0.161277 6.93479 0.850932 6.21861Z" fill="#ACAFB7"/>
                </svg>
              <input required 
                     placeholder="{{ 'customer.register.password' | t }}"
                     type="password" 
                     name="customer[password]" 
                     autocomplete="on"
                     id="CreatePassword" 
                     class="required password input-info{% if form.errors contains 'password' %} input--error{% endif %}"
                     >
              </p>
            </div>
            <div class="box-label">
              <label>{{ 'customer.reset_password.password_confirm' | t }} <span>*</span></label>  
              <p>
                <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.63938 1.89614C4.16687 2.45615 4 3.27128 4 4.29605V5.56896C4 5.83258 3.77614 6.0463 3.5 6.0463C3.22386 6.0463 3 5.83258 3 5.56896V4.29605C3 3.21417 3.16646 2.11994 3.86062 1.29726C4.57359 0.452272 5.74776 0 7.5 0C9.25224 0 10.4264 0.452272 11.1394 1.29726C11.8335 2.11994 12 3.21417 12 4.29605V5.56896C12 5.83258 11.7761 6.0463 11.5 6.0463C11.2239 6.0463 11 5.83258 11 5.56896V4.29605C11 3.27128 10.8331 2.45615 10.3606 1.89614C9.90692 1.35843 9.08109 0.954678 7.5 0.954678C5.91891 0.954678 5.09308 1.35843 4.63938 1.89614Z" fill="#ACAFB7"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.50006 9.0284C6.84407 9.0284 6.31228 9.56429 6.31228 10.2253C6.31228 10.8864 6.84407 11.4223 7.50006 11.4223C8.15605 11.4223 8.68784 10.8864 8.68784 10.2253C8.68784 9.56429 8.15605 9.0284 7.50006 9.0284ZM5.29419 10.2253C5.29419 8.99767 6.28179 8.00244 7.50006 8.00244C8.71833 8.00244 9.70593 8.99767 9.70593 10.2253C9.70593 11.453 8.71833 12.4482 7.50006 12.4482C6.28179 12.4482 5.29419 11.453 5.29419 10.2253Z" fill="#ACAFB7"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M1.59093 6.98706C1.23407 7.35764 1.04651 8.04796 1.04651 9.50084V10.9498C1.04651 12.4027 1.23407 13.093 1.59093 13.4636C1.94778 13.8342 2.61254 14.029 4.01163 14.029H10.9884C12.3875 14.029 13.0522 13.8342 13.4091 13.4636C13.7659 13.093 13.9535 12.4027 13.9535 10.9498V9.50084C13.9535 8.04796 13.7659 7.35764 13.4091 6.98706C13.0522 6.61648 12.3875 6.42171 10.9884 6.42171H4.01163C2.61254 6.42171 1.94778 6.61648 1.59093 6.98706ZM0.850932 6.21861C1.54059 5.50244 2.62002 5.33496 4.01163 5.33496H10.9884C12.38 5.33496 13.4594 5.50244 14.1491 6.21861C14.8387 6.93479 15 8.05572 15 9.50084V10.9498C15 12.395 14.8387 13.5159 14.1491 14.2321C13.4594 14.9482 12.38 15.1157 10.9884 15.1157H4.01163C2.62002 15.1157 1.54059 14.9482 0.850932 14.2321C0.161277 13.5159 0 12.395 0 10.9498V9.50084C0 8.05572 0.161277 6.93479 0.850932 6.21861Z" fill="#ACAFB7"/>
                </svg>
              <input required 
                     placeholder="{{ 'customer.reset_password.password_confirm' | t }}"	
                     type="password" 
                     value="" 
                     name="customer[password_confirmation]" 
                     id="PasswordConfirmation"
                     autocomplete="on"  
                     class="required password_confirm input-info {% if form.errors contains 'password_confirmation' %} input--error{% endif %}"
                     >
              </p>
            </div>
          
          <div class="group-button">            
            <input type="submit" class="button submit" value="{{ 'customer.register.submit' | t }}"/>
          </div>
          <p class="or"><span>{{'customer.register.or' | t}}</span></p>
          <div class="register_submit">
            <a href="{{ routes.root_url }}account/login" >
              {{ 'customer.login.sign_in' | t }}
            </a>
          </div>
        </div>

        {% endform %}
      </div>
    </div>
  </div>

</div>