<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>
    {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
	
  {% include 'social-meta-tags' %}
  {% include 'google-fonts' %}
  
  {% include 'header-scripts' %}  
  {{ 'style.pre_theme.css' | asset_url | stylesheet_tag }}	
  {{ 'style.font-awesome.min.css' | asset_url | stylesheet_tag}}
  {{ 'dukamarket.css' | asset_url | stylesheet_tag}} 
  {{ 'style.password.css' | asset_url | stylesheet_tag }}
  {{ 'style.line-awesome.min.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'jquery.password.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}
</head>
<body class="template-password">
  <div class="password-page">
    <header class="password-header" role="banner">
      <div class="password-header__inner">
        <div class="container">
          <div class="row">
        <div class="header-logo">	
          <h1>
            {% if settings.logo != blank %}
            <a href="{{routes.root_url}}" class="site-header__logo-image">
              {% capture image_size %}{{ settings.logo_max_width | escape }}x{% endcapture %}
              <img                                          
                   src="{{ settings.logo | img_url: image_size, scale: 2 }}"                      
                   alt="{{ logo_alt | escape }}"
                   style="max-width: {{ settings.logo_max_width }}px; width:auto; height:auto;">
              <noscript>
                {% capture image_size %}{{ settings.logo_max_width | escape }}x{% endcapture %}
                <img src="{{ settings.logo | img_url: image_size }}"
                     srcset="{{ settings.logo | img_url: image_size }} 1x, {{ settings.logo | img_url: image_size, scale: 2 }} 2x"
                     alt="{{ settings.logo.alt | default: shop.name }}"
                     style="max-width: {{ settings.logo_max_width }}px; width:auto; height:auto;">
              </noscript>
            </a>
            {% else %}
            <a class="site-title" href="{{routes.root_url}}" itemprop="url"><span class="logo-default">{{ shop.name }}</span></a>
            {% endif %}
          </h1>
        </div>
        <div class="password-login tr_md tc">
          <a href="#LoginModal" data-id="#LoginModal" class="push_side"><i class="las la-lock"></i> {{ 'general.password_page.password_link' | t }}</a>
        </div>
        
      </div>
        </div>
      </div>
      <div id="LoginModal" class="login_canvas">
          <div class="modal__inner">
            <div class="modal__centered password-modal__content page-width">
              {% form 'storefront_password', class: 'form-single-field laber_mini_cart flex column h__100' %}
              <div class="mini_cart_header"><div class="widget-title">{{ 'general.password_page.login_form_heading' | t }}</div>
               
              </div>
              <div class="mini_cart_wrap">
                <div class="mini_cart_content fixcl-scroll">
                  <div class="fixcl-scroll-content">
                    {%- assign formId = 'PasswordLoginForm' -%}
                    <p class="form-row{% if form.errors %}input-group--error{% endif %}">
                      <label for="Password">{{ 'general.password_page.login_form_password_label' | t }} <span class="required">*</span></label>
                      <input required="required" type="password" name="password"
                             id="Password"
                             class="input-group__field input--content-color {% if form.errors %}input--error{% endif %}"
                             placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                             data-login-field
                             autocomplete="off"
                             aria-labelledby="PasswordLabel {% if form.errors %} {{ formId }}-password-error{% endif %}"
                             {% if form.errors %}
                             data-error="password"
                             aria-invalid="true"
                             {%- endif -%}
                             >
                    </p>
                    <button type="submit" name="commit" class="button button_primary"> {{ 'general.password_page.login_form_submit' | t }} </button>
                    {%- if form.errors -%}
                    <span id="{{ formId }}-password-error" class="input-error-message">
                      <i class="facl facl-attention"></i> {{ form.errors.messages['form'] }}
                    </span>
                    {%- endif -%}
                    {% endform %}
                    <p class="password-content">{{ 'general.password_page.admin_link_html' | t }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </header>

    <div class="password-main" role="main">
      <div class="password-main__inner">
        {{ content_for_layout }}
      </div>
    </div>
  </div>
  <div class="mask-overlay"></div>
</body>
  <script>
    var theme = {
      strings: {
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      },
      breakpoints: {
        medium: 750,
        large: 990,
        widescreen: 1400
      }
    }
    jQuery(document).on('click', '.act_opened [data-close-popup-ajax]', function () {
      closeMenu();
    });
    function closeMenu() {
      jQuery('.push_side.act_current').removeClass(classActive);
      html.removeClass('hside_opened');
      jQuery("body").removeClass('pside_opened');
      jQuery('.login_canvas.act_opened').removeClass('act_opened');
      mask.removeClass('mask_opened');                 
    }
  </script>
</html>
