<section class="Section section-custom-liquid layout-{{ section.settings.style }} " id="section-{{ section.id }}">
  <div class="{{section.settings.layout}}">
    <div class="inner-section">
      {%- if section.settings.subheading != blank or section.settings.title != blank -%}
        <header class="SectionHeader SectionHeader--{{ section.settings.text_align }}">
          {%- if section.settings.subheading != blank -%}
            <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.subheading | escape }}</h3>
          {%- endif -%}
  
          {%- if section.settings.title != blank -%}
            <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title | escape }}</h2>
          {%- endif -%}
        </header>
      {%- endif -%}
      <div class="inner-content">
        <div class="Liquid text-{{ section.settings.text_align }}">
          {{ section.settings.liquid }}
        </div>
    
        <div class="button-discover">
          <button class="button-action btn-modal" data-modal="modal-custom-liquid">{{ section.settings.button }}</button>
        </div>
      </div> 
      
      <div class="modal-custom modal-custom-liquid overlay-modal" id="modal-custom-liquid">
        <div class="inner-modal-custom">
          
          <div class="modal-custom-content"> 
            <div class="btn-close btn-modal" data-modal="modal-custom-liquid">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z"/>
                </svg>
              </div>
            <div class="modal-header">
              
              <div class="SectionHeader__Title">
              {%- if section.settings.subheading_pop != blank -%}
                <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.subheading_pop }}</h3>
              {%- endif -%}
              {%- if section.settings.heading_pop != blank -%}
                <h3 class="SectionHeader__Heading Heading u-h6">{{ section.settings.heading_pop }}</h3>
              {%- endif -%}
              </div>
              <div class="SectionHeader__Image">
                {%- if section.settings.image_pop != blank -%}
                  {{ section.settings.image_pop | image_url: width: 528 | image_tag }}
                {% else %}
                  {{ 'product-6' | placeholder_svg_tag: placeholder_svg_tag }}
                {%- endif -%}
              </div>
            </div>
            <div class="modal-content">
              <div class="Liquid text-{{ section.settings.text_align }}">
                {{ section.settings.liquid_pop }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% style%}
  #section-{{ section.id }}{
    background: {{ section.settings.background }};
    color: {{ section.settings.color }};
  }
  #section-{{ section.id }} .SectionHeader--initial .Heading{
    color: {{ section.settings.color_heading }};
  }
  #section-{{ section.id }} .modal-custom-content{
    background: {{ section.settings.bg_pop }};
    color: {{ section.settings.color_pop }};
  }
  #section-{{ section.id }} .modal-custom-content .Heading{
    color: {{ section.settings.color_pop }};
  }
  #section-{{ section.id }} .btn-close{
    border-color: {{ section.settings.color_pop }};
  }
  #section-{{ section.id }} .btn-close svg{
    fill: {{ section.settings.color_pop }};
  }
  
  #section-{{ section.id }} .container {
    max-width: 1034px;
    margin: 0 auto;
    padding: 0 17px;
  }
  #section-{{ section.id }} .Heading{
    color: {{ section.settings.color }};
  }

  #section-{{ section.id }} .button-discover .button-action{
    background: {{ section.settings.background_btn }};
    color: {{ section.settings.color_btn }};
  }

  #section-{{ section.id }} .button-discover .button-action:hover{
    background: {{ section.settings.background_btn_hv }};
    color: {{ section.settings.color_btn_hv }};
  }

  
  {% assign mg_top = section.settings.mg_top %}
  {% assign mg_bottom = section.settings.mg_bottom %}
  {% assign pd_top = section.settings.pd_top %}
  {% assign pd_bottom = section.settings.pd_bottom %}
  {% assign ip_mg_top = section.settings.ip_mg_top %}
  {% assign ip_mg_bottom = section.settings.ip_mg_bottom %}
  {% assign ip_pd_top = section.settings.ip_pd_top %}
  {% assign ip_pd_bottom = section.settings.ip_pd_bottom %}
  {% assign mobile_mg_top = section.settings.mobile_mg_top %}
  {% assign mobile_mg_bottom = section.settings.mobile_mg_bottom %}
  {% assign mobile_pd_top = section.settings.mobile_pd_top %}
  {% assign mobile_pd_bottom = section.settings.mobile_pd_bottom %}
	#section-{{ section.id }}{
      {% if pd_top !=0 %}padding-top:{{pd_top}}px;{%endif%} 
      {% if pd_bottom !=0 %}padding-bottom:{{pd_bottom}}px;{%endif%} 
      {% if mg_top !=0 %}margin-top:{{mg_top}}px;{%endif%} 
      {% if mg_bottom !=0 %}margin-bottom:{{mg_bottom}}px;{%endif%} 
    }
    #section-{{ section.id }}{
      {% if section.settings.section_bg != blank %}
          background-size: cover;
          background-image: url('{{ section.settings.section_bg | img_url:"master"}}'); 
          background-position: top center;
          background-repeat: no-repeat;
        {%endif%}
    }
    @media (max-width: 1199px) {
      #section-{{ section.id }}{
        {% if ip_mg_top !=0 %}margin-top:{{ip_mg_top}}px;{%endif%} 
        {% if ip_mg_bottom !=0 %}margin-bottom:{{ip_mg_bottom}}px;{%endif%} 
        {% if ip_pd_top !=0 %}padding-top:{{ip_pd_top}}px;{%endif%} 
        {% if ip_pd_bottom !=0 %}padding-bottom:{{ip_pd_bottom}}px;{%endif%} 
      }
    }
    @media (max-width: 767px) {
      #section-{{ section.id }}{
        {% if mobile_mg_top !=0 %}margin-top:{{mobile_mg_top}}px;{%endif%} 
        {% if mobile_mg_bottom !=0 %}margin-bottom:{{mobile_mg_bottom}}px;{%endif%} 
        {% if mobile_pd_top !=0 %}padding-top:{{mobile_pd_top}}px;{%endif%} 
        {% if mobile_pd_bottom !=0 %}padding-bottom:{{mobile_pd_bottom}}px;{%endif%} 
        {% if section.settings.section_bg_mobile != blank %}
          background-image: url('{{ section.settings.section_bg_mobile | img_url:"master"}}'); 
        {%endif%}
      }
    }
  
{% endstyle%} 

{% schema %}
{
  "name": "Custom Liquid",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
       {
          "value": "container",
          "label": "Container"
       },
       {
          "value": "full-width",
          "label": "Full Width"
        }
      ],
      "label": "Layout"
    },
    {
      "type": "select",
      "id": "style",
      "label": "Section style",
      "options": [
        {
          "value": "style-1",
          "label": "Style 1"
        },
        {
          "value": "style-2",
          "label": "Style 2"
        },
        {
          "value": "style-3",
          "label": "Style 3"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text align",
      "options": [
        {
          "value": "initial",
          "label": "Initial"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "initial"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "Sub-heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Your Liquid"
    },
    {
      "type": "liquid",
      "id": "liquid",
      "label": "Liquid",
      "info": "Add app snippets or other Liquid code to create advanced customizations.",
      "default": "<p>Write your own custom Liquid content.</p>"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button Title",
      "default": "Learn more"
    },
    {
      "type": "header",
      "content": "Popup settings"
    },
    {
      "type": "textarea",
      "id": "subheading_pop",
      "label": "Sub heading popup",
      "default": "Sub heading popup"
    },  
    {
      "type": "textarea",
      "id": "heading_pop",
      "label": "Heading popup",
      "default": "Heading popup"
    }, 
    {
      "type": "image_picker",
      "id": "image_pop",
      "label": "Image popup"
    },
    {
      "type": "liquid",
      "id": "liquid_pop",
      "label": "Liquid Pop",
      "info": "Add app snippets or other Liquid code to create advanced customizations.",
      "default": "<p>Write your own custom Liquid content.</p>"
    },
    {
      "type": "header",
      "content": "Color settings"
    },
    {
      "type": "color_background",
      "id": "background",
      "label": "Background section",
      "default": "#8CBEB3"
    },
    {
      "type": "image_picker",
      "id": "section_bg",
      "label": "Background Section"
    },
    {
      "type": "image_picker",
      "id": "section_bg_mobile",
      "label": "Background Section Mobile"
    },
    {
      "type": "color_background",
      "id": "color",
      "label": "color section",
      "default": "#ffffff"
    },
    {
      "type": "color_background",
      "id": "color_heading",
      "label": "color heading",
      "default": "#317766"
    },
    {
      "type": "color_background",
      "id": "background_btn",
      "label": "Background button",
      "default": "#ffffff"
    },
    {
      "type": "color_background",
      "id": "color_btn",
      "label": "Color button",
      "default": "#6B6B6B"
    },
    {
      "type": "color_background",
      "id": "background_btn_hv",
      "label": "Background button hover",
      "default": "#ffffff"
    },
    {
      "type": "color_background",
      "id": "color_btn_hv",
      "label": "Color button hover",
      "default": "#6B6B6B"
    },
    {
      "type": "color_background",
      "id": "color_pop",
      "label": "Color popup",
      "default": "#fff"
    },
    {
      "type": "color_background",
      "id": "bg_pop",
      "label": "Background popup",
      "default": "#8cbeb3"
    },
    {
          "type": "header",
          "content": "== Setting ==",
          "info":"Padding and Margin"
        },
        {
          "type": "range",
          "id": "mg_top",
          "label": "Margin Top",
          "default": 0,
          "min": 0,
          "max": 400,
          "step": 5,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "mg_bottom",
          "label": "Margin bottom",
          "default": 0,
          "min": 0,
          "max": 400,
          "step": 5,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "pd_top",
          "label": "Padding Top",
          "default": 0,
          "min": 0,
          "max": 400,
          "step": 5,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "pd_bottom",
          "label": "Padding bottom",
          "default": 0,
          "min": 0,
          "max": 400,
          "step": 5,
          "unit": "px"
        },
      {
          "type": "header",
          "content": "== Setting ipad",
          "info":"Padding and Margin"
        },
       {
          "type": "range",
          "id": "ip_mg_top",
          "label": "Margin top",
          "default": 0,
          "min": 0,
          "max": 200,
          "step": 5,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "ip_mg_bottom",
          "label": "Margin bottom",
          "default": 0,
          "min": 0,
          "max": 200,
          "step": 5,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "ip_pd_top",
          "label": "Padding top",
          "default": 0,
          "min": 0,
          "max": 200,
          "step": 5,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "ip_pd_bottom",
          "label": "Padding bottom",
          "default": 0,
          "min": 0,
          "max": 200,
          "step": 5,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "== Setting mobile",
          "info":"Padding and Margin"
        },
       {
          "type": "range",
          "id": "mobile_mg_top",
          "label": "Margin top",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "mobile_mg_bottom",
          "label": "Margin bottom",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "mobile_pd_top",
          "label": "Padding top",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "mobile_pd_bottom",
          "label": "Padding bottom",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        }
  ],
  "presets": [
    {
      "category": "Advanced",
      "name": "Custom Liquid",
      "settings": {}
    }
  ]
}
{% endschema %}
