{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}

{% unless template contains "404"%}
  {% capture image_footer_size %}{{ section.settings.logo_footer_max_width | escape }}x{% endcapture %}
  <!--Footer-->
  <div class="footer layout-5 " style="background-color:{{section.settings.bg}}; {% if section.settings.image != blank %} background-image:url('{{section.settings.image | img_url:"1920x682"}}'); background-position:center center; {% endif %}">  
    <div class="top-footer container">
      <div class="top-footer-wrap">
        <div class="cms-content-footer">
          <div class=" footer-logo-wrap">
            {%- assign image = section.settings.footer_logo -%}
            {%- if image != blank -%}            
              <a class="db" href="{{ routes.root_url }}">
                {%- assign lg_w = section.settings.logo_width -%}
                {% capture image_size %}{{ lg_w | escape }}x{% endcapture %}
                {%- assign img_url = image | img_url: image_size -%}
                <img class="lazyload " src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ img_url }}" alt="{{ image.alt | default: shop.name | escape}}" style="max-width: {{ lg_w }}px; width:auto; height:auto;">
              </a>            
            {%- endif -%}
            
          </div>
          <div class="desc-footer-wrap">
              <p>{{section.settings.footer_description}}</p>
            </div>
          <div class="newsletter-footer-wrap">              	
            <form method="post" action="{{settings.newsletter_form_action}}" class="newsletter-form-footer" autocomplete="on">                  
              <div class="mc4wp-form-fields">
                <div class="signup-newsletter-form  {{class}}">
                  <div class="col_email"><input type="email" name="EMAIL" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"  value="{% if customer %}{{ customer.email }}{% endif %}" class="{{class_ip}} input-text" required="required"></div>
                  <div class="col-auto"><button type="submit" class="submit-btn truncate"><span><i class="fa fa-paper-plane"> </i></span></button></div>
                </div>                    
              </div>                  
            </form>
          </div>
          <div class="social-footer-wrap">
            {% if section.settings.footer_use_social_link %}
            <ul class="list-socials">
              {% if settings.footer_social_twitter_enable %}
              <li>
                <a class="twitter" target="_blank" href="{{settings.footer_social_twitter_link}}" title="{{settings.footer_social_twitter_text}}"><i class="fa fa-twitter"></i></a>
              </li>
              {% endif %}
              {% if settings.footer_social_facebook_enable %}
              <li>
                <a class="facebook" target="_blank" href="{{settings.footer_social_facebook_link}}" title="{{settings.footer_social_facebook_text}}"><i class="fa fa-facebook"></i></a>
              </li>
              {% endif %}
              {% if settings.footer_social_google_enable %}
              <li>
                <a class="google" target="_blank" href="{{settings.footer_social_google_link}}" title="{{settings.footer_social_google_text}}"><i class="fa fa-google-plus"></i></a>
              </li>
              {% endif %}
              {% if settings.footer_social_pinterest_enable %}
              <li>
                <a class="pinterest" target="_blank" href="{{settings.footer_social_pinterest_link}}" title="{{settings.footer_social_pinterest_text}}"><i class="fa fa-pinterest-p"></i></a>
              </li>
              {% endif %}
              {% if settings.footer_social_instargram_enable %}
              <li>
                <a class="instagram" target="_blank" href="{{settings.footer_social_instargram_link}}" title="{{settings.footer_social_instargram_text}}"><i class="fa fa-instagram"></i></a>
              </li>
              {% endif %}

              {% if settings.footer_social_tumblr_enable %}
              <li>
                <a class="tumblr" target="_blank" href="{{settings.social_tumblr_link}}" title="{{settings.footer_social_tumblr_text}}"><i class="fa fa-tumblr-square"></i></a>
              </li>
              {% endif %}
              {% if settings.footer_social_snapchat_enable %}
              <li>
                <a class="tumblr" target="_blank" href="{{settings.social_snapchat_link}}" title="{{settings.footer_social_snapchat_text}}"><i class="fa fa-snapchat-ghost"></i></a>
              </li>
              {% endif %}
              {% if settings.footer_social_youtube_enable %}
              <li>
                <a class="tumblr" target="_blank" href="{{settings.social_youtube_link}}" title="{{settings.footer_social_youtube_text}}"><i class="fa fa-youtube-square"></i></a>
              </li>
              {% endif %}
              {% if settings.footer_social_vimeo_enable %}
              <li>
                <a class="tumblr" target="_blank" href="{{settings.social_vimeo_link}}" title="{{settings.footer_social_vimeo_text}}"><i class="fa fa-vimeo "></i></a>
              </li>
              {% endif %}
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Footer-->
  <a class="back-to-top" href="#"></a>
{% endunless %}



{%- schema -%}
  {
    "name": "Footer",
    "class": "footer_top",
    "settings": [
     
      {
        "type": "header",
        "content": "== General settings"
      },       
      {
        "type": "image_picker",
        "id": "footer_logo",
        "label": "Custom logo",
        "info": "203px wide recommended"
      },
      {
        "type": "range",
        "id": "logo_width",
        "label": "== Custom logo width",
        "min": 50,
        "max": 350,
        "step": 5,
        "unit": "px",
        "default": 205
      },
      {
        "type": "text",
        "id": "footer_description",
        "label": "Description about shop",
        "default": "Evening under, midst years third their without darkness shall creature. Of likeness, called and there spirit let two winged whose above beginning creeping air behold for firmament given make very life female. Set Saying blessed given. Own Divide fly multiply midst to beast. Have he fish you’re good signs whose. Days, moving, sixth. Us a air meat stars upon Give."
      },
      {
        "type": "checkbox",
        "id": "footer_use_social_link",
        "label": "Use social link",
        "info": "How to find \"social media\" => From your Shopify admin, click Online Stores, then click Theme. Next, click \"Customize theme\" button and find \"Social Media\"",
        "default": true
      },
      {
        "type": "header",
        "content": "== Footer background"
      },
      {
        "type": "color", 
        "id": "bg",
        "label": "Select background color",
        "default": "#fff"
      }, 
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      }
    ]
  }
{% endschema %}
