{% assign sid = section.id %}
<section
  id="laber_{{sid}}">
  {% render 'footer_1' %}
</section>
<section
  class="bottom_footer">
  <div
    class="container">
    <div
      class="d-flex flex-wrap inner_bottom_footer">
      {% if section.settings.show_language or section.settings.show_currency %}
        <ul
          class="menu-language parent-list">
          {% if section.settings.show_language %}
            {% render 'language' %}
          {% endif %}
          {% if section.settings.show_currency %}
            {% render 'currency' %}
          {% endif %}
        </ul>
      {% endif %}
      {% if section.settings.copyright != blank %}
        <div
          class="copyright">
          <p
            class="text_center">{{ section.settings.copyright }}</p>
        </div>
      {% endif %}
      {% if section.settings.payment_image %}
        <div
          class="payment-image text_right">{{ section.settings.payment_image | image_url: width: 331 | image_tag }}</div>
      {% endif %}
    </div>
  </div>
</section>
{%- render 'section_style' -%}

{% style %}
  .main-footer a,
  .bottom_footer a {
    color: {{ section.settings.cl_link }};
  }

  .main-footer a:hover,
  .bottom_footer a:hover {
    color: {{ section.settings.cl_link_hover }};
  }
{% endstyle %}

{%- schema -%}
  {
    "name": "Footer style 1",
    "class": "footer_top",
    "max_blocks": 10,
    "settings": [

      {
        "type": "header",
        "content": "== Footer"
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "cl_link",
        "label": "color link",
        "default": "#555555"
      },
      {
        "type": "color",
        "id": "cl_link_hover",
        "label": "color link hover",
        "default": "#111111"
      }, {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info": "Padding top, padding right, padding bottom, padding left. If you not use to blank"
      }, {
        "type": "header",
        "content": "== Design Mobile Options"
      }, {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding"
      }, {
        "type": "header",
        "content": "== Copyright"
      }, {
        "type": "textarea",
        "id": "copyright",
        "label": "Copyright",
        "default": "© yyyy Umino Store. All Rights Reserved."
      }, {
        "type": "image_picker",
        "id": "payment_image",
        "label": "Payment Image"
      }, {
        "type": "checkbox",
        "id": "show_currency",
        "label": "Show currency",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show_language",
        "label": "Show language",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "mail",
        "name": "Newsletter",
        "limit": 1,
        "settings": [

          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Newsletter Signup"
          },
          {
            "type": "text",
            "id": "sub_title",
            "label": "Sub Text",
            "default": "Subscribe to our newsletter and get 10% off your first purchase"
          },
          {
            "type": "color",
            "id": "cl_text",
            "label": "Color Text",
            "default": "#fff"
          },
          {
            "type": "select",
            "id": "h_position",
            "label": "Horizontal Position",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }, {
            "type": "select",
            "id": "v_position",
            "label": "Vertical Position",
            "default": "top",
            "options": [
              {
                "value": "top",
                "label": "Top"
              }, {
                "value": "middle",
                "label": "Middle"
              }, {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          }, {
            "type": "select",
            "id": "txt_align",
            "label": "Text Align",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }, {
            "type": "header",
            "content": "== Width settings"
          }, {
            "type": "select",
            "id": "cl",
            "label": "Container width",
            "default": "4",
            "options": [
              {
                "value": "12",
                "label": "100%"
              },
              {
                "value": "8",
                "label": "66%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "5",
                "label": "41.667%"
              }, {
                "value": "4",
                "label": "33%"
              }, {
                "value": "16",
                "label": "30%"
              }, {
                "value": "3",
                "label": "25%"
              }, {
                "value": "15",
                "label": "20%"
              }, {
                "value": "2",
                "label": "16%"
              }
            ]
          }, {
            "type": "select",
            "id": "cl_tb",
            "label": "Container width tablet",
            "default": "6",
            "options": [
              {
                "value": "12",
                "label": "100%"
              },
              {
                "value": "8",
                "label": "66%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "4",
                "label": "33%"
              }, {
                "value": "3",
                "label": "25%"
              }
            ]
          }, {
            "type": "select",
            "id": "cl_mb",
            "label": "Container width mobile",
            "default": "12",
            "options": [
              {
                "value": "12",
                "label": "100%"
              }, {
                "value": "6",
                "label": "50%"
              }
            ]
          }
        ]
      },
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Quick links"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Add menu"
          },
          {
            "type": "select",
            "id": "cl",
            "label": "Container width",
            "default": "2",
            "options": [
              {
                "value": "12",
                "label": "100%"
              },
              {
                "value": "8",
                "label": "66%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "5",
                "label": "41.667%"
              }, {
                "value": "4",
                "label": "33%"
              }, {
                "value": "3",
                "label": "25%"
              }, {
                "value": "15",
                "label": "20%"
              }, {
                "value": "2",
                "label": "16%"
              }
            ]
          },
          {
            "type": "select",
            "id": "cl_tb",
            "label": "Container width tablet",
            "default": "6",
            "options": [
              {
                "value": "12",
                "label": "100%"
              },
              {
                "value": "8",
                "label": "66%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "4",
                "label": "33%"
              }, {
                "value": "3",
                "label": "25%"
              }
            ]
          }, {
            "type": "select",
            "id": "cl_mb",
            "label": "Container width mobile",
            "default": "12",
            "options": [
              {
                "value": "12",
                "label": "100%"
              }, {
                "value": "6",
                "label": "50%"
              }
            ]
          }, {
            "type": "select",
            "id": "h_position",
            "label": "Horizontal Position",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }, {
            "type": "select",
            "id": "txt_align",
            "label": "Text Align",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }
        ]
      },

      {
        "type": "contact_information",
        "name": "Contact information",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Contact information"
          },
          {
            "type": "checkbox",
            "id": "show_phone",
            "label": "Show Phone",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_email",
            "label": "Show Email",
            "default": true
          },
          {
            "type": "select",
            "id": "cl",
            "label": "Container width",
            "default": "3",
            "options": [
              {
                "value": "12",
                "label": "100%"
              },
              {
                "value": "8",
                "label": "66%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "5",
                "label": "41.667%"
              }, {
                "value": "4",
                "label": "33%"
              }, {
                "value": "3",
                "label": "25%"
              }, {
                "value": "15",
                "label": "20%"
              }, {
                "value": "2",
                "label": "16%"
              }
            ]
          }, {
            "type": "select",
            "id": "cl_tb",
            "label": "Container width tablet",
            "default": "6",
            "options": [
              {
                "value": "12",
                "label": "100%"
              },
              {
                "value": "8",
                "label": "66%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "4",
                "label": "33%"
              }, {
                "value": "3",
                "label": "25%"
              }
            ]
          }, {
            "type": "select",
            "id": "cl_mb",
            "label": "Container width mobile",
            "default": "12",
            "options": [
              {
                "value": "12",
                "label": "100%"
              }, {
                "value": "6",
                "label": "50%"
              }
            ]
          }, {
            "type": "select",
            "id": "h_position",
            "label": "Horizontal Position",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }, {
            "type": "select",
            "id": "txt_align",
            "label": "Text Align",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Talk about your business"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Share store details, promotions, or brand content with your customers.</p>"
          },
          {
            "type": "select",
            "id": "cl",
            "label": "Container width",
            "default": "3",
            "options": [
              {
                "value": "12",
                "label": "100%"
              },
              {
                "value": "8",
                "label": "66%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "5",
                "label": "41.667%"
              }, {
                "value": "4",
                "label": "33%"
              }, {
                "value": "3",
                "label": "25%"
              }, {
                "value": "15",
                "label": "20%"
              }, {
                "value": "2",
                "label": "16%"
              }
            ]
          },
          {
            "type": "select",
            "id": "cl_tb",
            "label": "Container width tablet",
            "default": "6",
            "options": [
              {
                "value": "12",
                "label": "100%"
              },
              {
                "value": "8",
                "label": "66%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "4",
                "label": "33%"
              }, {
                "value": "3",
                "label": "25%"
              }
            ]
          }, {
            "type": "select",
            "id": "cl_mb",
            "label": "Container width mobile",
            "default": "12",
            "options": [
              {
                "value": "12",
                "label": "100%"
              }, {
                "value": "6",
                "label": "50%"
              }
            ]
          }, {
            "type": "select",
            "id": "h_position",
            "label": "Horizontal Position",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }, {
            "type": "select",
            "id": "txt_align",
            "label": "Text Align",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }
        ]
      }, {
        "type": "logo-footer",
        "name": "Logo Footer",
        "settings": [
          {
            "type": "checkbox",
            "id": "use_logo_footer",
            "label": "Ise Logo footer",
            "default": false
          },
          {
            "type": "image_picker",
            "id": "logo_footer",
            "label": {
              "en": "Logo image at other footer"
            }
          },
          {
            "type": "range",
            "id": "logo_max_width",
            "label": "Custom logo width",
            "min": 50,
            "max": 250,
            "step": 5,
            "unit": "px",
            "default": 115
          },
          {
            "type": "text",
            "id": "address",
            "label": "Address",
            "default": "268 St, South New York/NY 98944, United States +222-1800-2628"
          }, {
            "type": "checkbox",
            "id": "use_social",
            "label": "Display social on top bar",
            "default": false,
            "info": "Note: you can edit social at 'Theme settings' -> 'Social media'"
          }, {
            "type": "text",
            "id": "title_social",
            "label": "Title Social",
            "default": "Social Media:"
          }, {
            "type": "select",
            "id": "type_social",
            "label": "Show sharing Or link:",
            "options": [
              {
                "value": "1",
                "label": "Social link"
              }, {
                "value": "2",
                "label": "Social sharing"
              }
            ],
            "default": "2"
          }, {
            "type": "select",
            "id": "h_position",
            "label": "Horizontal Position",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }, {
            "type": "select",
            "id": "txt_align",
            "label": "Text Align",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }, {
            "type": "select",
            "id": "cl",
            "label": "Container width",
            "default": "3",
            "options": [
              {
                "value": "12",
                "label": "100%"
              },
              {
                "value": "8",
                "label": "66%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "5",
                "label": "41.667%"
              }, {
                "value": "4",
                "label": "33%"
              }, {
                "value": "3",
                "label": "25%"
              }, {
                "value": "15",
                "label": "20%"
              }, {
                "value": "2",
                "label": "16%"
              }
            ]
          }, {
            "type": "select",
            "id": "cl_tb",
            "label": "Container width tablet",
            "default": "6",
            "options": [
              {
                "value": "12",
                "label": "100%"
              },
              {
                "value": "8",
                "label": "66%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "4",
                "label": "33%"
              }, {
                "value": "3",
                "label": "25%"
              }
            ]
          }, {
            "type": "select",
            "id": "cl_mb",
            "label": "Container width mobile",
            "default": "12",
            "options": [
              {
                "value": "12",
                "label": "100%"
              }, {
                "value": "6",
                "label": "50%"
              }
            ]
          }
        ]
      }, {
        "type": "html",
        "name": "HTML",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "HTML"
          },
          {
            "type": "html",
            "id": "content",
            "label": "Content",
            "default": "<p>html code</p>"
          },
          {
            "type": "select",
            "id": "h_position",
            "label": "Horizontal Position",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "txt_align",
            "label": "Text Align",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }, {
            "type": "select",
            "id": "cl",
            "label": "Container width",
            "default": "3",
            "options": [
              {
                "value": "12",
                "label": "100%"
              },
              {
                "value": "8",
                "label": "66%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "5",
                "label": "41.667%"
              }, {
                "value": "4",
                "label": "33%"
              }, {
                "value": "3",
                "label": "25%"
              }, {
                "value": "15",
                "label": "20%"
              }, {
                "value": "2",
                "label": "16%"
              }
            ]
          }, {
            "type": "select",
            "id": "cl_tb",
            "label": "Container width tablet",
            "default": "6",
            "options": [
              {
                "value": "12",
                "label": "100%"
              },
              {
                "value": "8",
                "label": "66%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "4",
                "label": "33%"
              }, {
                "value": "3",
                "label": "25%"
              }
            ]
          }, {
            "type": "select",
            "id": "cl_mb",
            "label": "Container width mobile",
            "default": "12",
            "options": [
              {
                "value": "12",
                "label": "100%"
              }, {
                "value": "6",
                "label": "50%"
              }
            ]
          }
        ]
      }, {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Title images"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "image"
          },
          {
            "type": "range",
            "id": "max_width",
            "label": "Custom width image",
            "min": 50,
            "max": 250,
            "step": 5,
            "unit": "px",
            "default": 115
          },
          {
            "type": "select",
            "id": "h_position",
            "label": "Horizontal Position",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }, {
            "type": "select",
            "id": "txt_align",
            "label": "Text Align",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }, {
            "type": "select",
            "id": "cl",
            "label": "Container width",
            "default": "3",
            "options": [
              {
                "value": "12",
                "label": "100%"
              },
              {
                "value": "8",
                "label": "66%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "5",
                "label": "41.667%"
              }, {
                "value": "4",
                "label": "33%"
              }, {
                "value": "3",
                "label": "25%"
              }, {
                "value": "15",
                "label": "20%"
              }, {
                "value": "2",
                "label": "16%"
              }
            ]
          }, {
            "type": "select",
            "id": "cl_tb",
            "label": "Container width tablet",
            "default": "6",
            "options": [
              {
                "value": "12",
                "label": "100%"
              },
              {
                "value": "8",
                "label": "66%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "4",
                "label": "33%"
              }, {
                "value": "3",
                "label": "25%"
              }
            ]
          }, {
            "type": "select",
            "id": "cl_mb",
            "label": "Container width mobile",
            "default": "12",
            "options": [
              {
                "value": "12",
                "label": "100%"
              }, {
                "value": "6",
                "label": "50%"
              }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}