{% liquid
  assign sid = section.id 
  assign sett_equal = section.settings.use_eq_height
  assign image_ratio = section.settings.image_ratio
  
  assign col =  12 | divided_by: section.settings.col_pr 
  assign col_tb = 12 | divided_by: section.settings.col_pr_tb  
  assign col_mb = 12 | divided_by: section.settings.col_pr_mb 
  
  
%}
   
{%- for i in (1..1) -%}
  {%- if section.settings.cp_code and request.page_type == 'index' %}<div class="dn tc mt__40 mb__40 cp_cd_js"><input type="text" class="dcp_cd_ip" value='<div class="inc_lz inc_ins_laz" data-include="/search/?section_id={{sid}}"><div class="loading_bg"></div></div>'><button class="dcp_cd_btn">Copy Shortcode</button></div>{% endif -%}
  {%- if section.settings.hidden and request.page_type == 'index' %}{% break %}{% endif -%}

    
  <div class="laber_se_{{sid}}">
    <div class=" container {%if layout == 'full-width' %}{{layout}}{%endif%}">
    <div class="{% if section.settings.title != blank %} wrap_title {% endif %}">
      <h3 class="section-title"><span > {{section.settings.title}}</span></h3>        
      <span class="section-subtitle">{{section.settings.sub_title}}</span>
    </div> 
    <div class="row {%if sett_equal%}{{image_ratio}} {%endif%}">
      	{%- for block in section.blocks -%}
          {%- assign image = block.settings.image -%}
      	  {%- assign url = block.settings.url -%}
          <div class="cat_space_item brand_list laber_b_{{block.id}} tc col-lg-{{col}} col-md-{{col_tb}} col-sm-{{col_mb}} col-xs-12" style="margin-bottom:{{block.settings.mg_img}};">
              {%- if url != blank -%}<a href="{{ url }}" class="db" target="{{block.settings.open_link}}">{%- endif -%}
                {%- if image != blank %}
                  <div class="laber_bg_lz lazyload pr_lazy_img {{block.settings.img_align}}" data-bgset="{{ image | img_url: '1x1' }}" data-ratio="{{image.aspect_ratio}}" data-sizes="auto" data-parent-fit="cover" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%"></div>
                {%- else -%}
                  <div class="laber_bg_lz lazyload pr_lazy_img {{block.settings.img_align}}" data-bg="https://placehold.jp/30/f76b6a/fff/250x250.png?text=250x250" style="padding-top:100%;"></div>
                {%- endif -%}
              {%- if url != blank -%}</a>{%- endif -%}
          </div>
        {%- endfor -%}
    </div>
    </div>
  </div>

{%- endfor -%}

{%- liquid
    assign mg = section.settings.mg
    assign pd = section.settings.pd
    assign mg_mb = section.settings.mg_mb
    assign pd_mb = section.settings.pd_mb
    assign sid = section.id -%}

    {%- capture style -%}
    {%- if section.settings.cl_bg != blank -%}#shopify-section-{{sid}} {background-color: {{section.settings.cl_bg}} !important;}{%- endif -%}
    {%- if mg != blank or pd != blank -%} 
    .laber_se_{{sid}} {
    max-width:100%;
    {%- if mg != blank %}{% assign arr_mg = mg | remove:' ' | split:',' -%}
    margin-top: {{arr_mg[0]}} !important;margin-right: {{arr_mg[1]}} !important;margin-bottom: {{arr_mg[2]}} !important;margin-left: {{arr_mg[3]}} !important;
    {%- if arr_mg[3] != blank and section.settings.layout == 'full-width' -%}width: calc(100% - {{arr_mg[3]}} - {{arr_mg[1]}});width: -webkit-calc(100% - {{arr_mg[3]}} - {{arr_mg[1]}});{%- endif -%}
    {%- endif -%}
    {%- if pd != blank %}{% assign arr_pd = pd | remove:' ' | split:',' -%}
    padding-top: {{arr_pd[0]}} !important;padding-right: {{arr_pd[1]}} !important;padding-bottom: {{arr_pd[2]}} !important;padding-left: {{arr_pd[3]}} !important;
    {%- endif -%}
    }
    {%- endif -%}
    {%- if mg_mb != blank or pd_mb != blank -%} 
    @media only screen and (max-width: 767px) {
    .laber_se_{{sid}} {
    {%- if mg_mb != blank %}{% assign arr_mg = mg_mb | remove:' ' | split:',' -%}
    margin-top: {{arr_mg[0]}} !important;margin-right: {{arr_mg[1]}} !important;margin-bottom: {{arr_mg[2]}} !important;margin-left: {{arr_mg[3]}} !important;
    {%- if arr_mg[3] != blank and section.settings.layout == 'full-width' -%}width: calc(100% - {{arr_mg[3]}} - {{arr_mg[1]}});width: -webkit-calc(100% - {{arr_mg[3]}} - {{arr_mg[1]}});{%- endif -%}
    {%- endif -%}
    {%- if pd_mb != blank %}{% assign arr_pd = pd_mb | remove:' ' | split:',' -%}
    padding-top: {{arr_pd[0]}} !important;padding-right: {{arr_pd[1]}} !important;padding-bottom: {{arr_pd[2]}} !important;padding-left: {{arr_pd[3]}} !important;
    {%- endif -%}
    }
    }
    {%- endif -%}
    {%- endcapture -%}

    {%- style -%}{{ style | strip_newlines | remove:"  "}}{%- endstyle -%}
{%- unless sett_equal %}{% style -%}
  {%- for bl in arr_img -%}{% assign image = bl.settings.image %}{% assign ratio = image.aspect_ratio |default:1.0 -%}
       #pin_{{bl.id}} .pr_lazy_img{padding-top:{{ 1 | divided_by: ratio | times: 100}}%;}
  {%- endfor -%}
{%- endstyle %}{% endunless -%}



{%- schema -%}
  {
    "name": "Gallery",
    "class": "cms_section type_gallery",
	"max_blocks": 30,
    "settings": [
      {
        "type": "header",
        "content": "== Title Settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Gallery"
      },
      {
        "type": "textarea",
        "id": "sub_title",
        "label": "Sub Text"
      },  
	  {
        "type": "header",
        "content": "== General Settings"
      },      
      {
        "type": "select",
        "id": "col_pr",
        "label": "Gallery columns (desktop)",
        "info": "How many gallery you want to show per row",
        "default": "4",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
	      {
            "value": "6",
            "label": "6"
          }
        ]
      },
      {
        "type": "select",
        "id": "col_pr_tb",
        "label": "Gallery columns (tablet)",
        "default": "3",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ]
      },
      {
        "type": "select",
        "id": "col_pr_mb",
        "label": "Gallery columns (mobile)",
        "default": "2",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          }
        ]
      },
      {
        "type": "header",
        "content": "== Design Image"
      },       
	  {
        "type": "checkbox",
        "id": "use_eq_height",
        "label": "Use equal height images?",
        "default": false
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Aspect Ratio",
        "default": "ratio3_2",
        "info": "Aspect Ratio Custom will settings in General panel.",
        "options": [
          {
            "group": "Landscape",
            "value": "ratio2_1",
            "label": "2:1"
          },
          {
            "group": "Landscape",
            "value": "ratio16_9",
            "label": "16:9"
          },
          {
            "group": "Landscape",
            "value": "ratio8_5",
            "label": "8:5"
          },
          {
            "group": "Landscape",
            "value": "ratio3_2",
            "label": "3:2"
          },
          {
            "group": "Landscape",
            "value": "ratio4_3",
            "label": "4:3"
          },
          {
            "group": "Landscape",
            "value": "ratio_nt",
            "label": "Ratio ASOS"
          },
          {
            "group": "Squared",
            "value": "ratio1_1",
            "label": "1:1"
          },
          {
            "group": "Portrait",
            "value": "ratio2_3",
            "label": "2:3"
          },
          {
            "group": "Portrait",
            "value": "ratio1_2",
            "label": "1:2"
          },
		   {
            "group": "Custom",
            "value": "ratio_custom_1",
            "label": "Custom 1(128%)"
          }
        ]
      }, 
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "checkbox",
        "id": "hidden",
        "label": "Hidden Section?",
        "default": false,
        "info": "Hidden section on home page, but still visible on blog posts, product page, pages as shortcode."
      },
      {
        "type": "checkbox",
        "id": "cp_code",
        "label": "Show copy shortcode?",
        "default": false,
        "info": "Copy shortcode only show on admin editor."
      },
      {
        "type": "select",
        "id": "layout",
        "default": "container",
        "options": [
         {
            "value": "container",
            "label": "Container"
         },
         {
            "value": "full-width",
            "label": "Full Width"
          }
        ],
        "label": "Layout"
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background color",
        "default": "#fff"
      },
      {
        "type": "text",
        "id": "mg",
        "label": "Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
        "default": "30px,,30px,",
        "placeholder": "30px,,30px,"
      },
      {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
        "placeholder": "30px,,30px,"
      },
      {
        "type": "header",
        "content": "== Design Mobile Options"
      },
      {
        "type": "text",
        "id": "mg_mb",
        "label": "Margin",
        "placeholder": "30px,,30px,"
      },
      {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding",
        "placeholder": "30px,,30px,"
      }
    ],
	"blocks": [{
    "type": "gallery",
    "name": "Gallery",
    "settings": [
      {
         "type": "image_picker",
         "id": "image",
         "label": "Image"
       },
       {
        "label": "Link to (Optional)",
        "id": "url",
        "type": "url"
      },
      {
        "type": "select",
        "id": "open_link",
        "options": [
          {
            "value": "_self",
            "label": "Current window (_self)"
          },
         {
            "value": "_blank",
            "label": "New window (_blank)"
          }
        ],
        "label": "Open link in",
        "default": "_blank"
      },
		{
        "type": "text",
        "id": "mg_img",
        "label": "Margin bottom",
		"info":"Margin bottom. If you not use to blank",	
        "default": "30px"
      }
      ]
    }],
    "presets": [
      {
        "name": "6. Gallery",
        "category": "Images",
		"blocks": [
          { "type": "gallery" },
          { "type": "gallery" },
          { "type": "gallery" },
          { "type": "gallery" },
          { "type": "gallery" },
          { "type": "gallery" }
        ]
      }
    ]
  }
{% endschema %}
