{% liquid
  assign sid = section.id 
  assign sett_equal = section.settings.use_eq_height
  assign col =  12 | divided_by: section.settings.col_pr 
  assign col_tb = 12 | divided_by: section.settings.col_pr_tb  
  assign col_mb = 12 | divided_by: section.settings.col_pr_mb 
  assign ck = section.settings.use_eq_height
%}
   
{%- for i in (1..1) -%}
  {%- if section.settings.hidden %}{% break %}{% endif -%}	
  {%- if section.settings.cp_code and request.page_type == 'index' %}<div class="dn tc mt__40 mb__40 cp_cd_js"><input type="text" class="dcp_cd_ip" value='<div class="inc_lz inc_ins_laz" data-include="/search/?section_id={{sid}}"><div class="loading_bg"></div></div>'><button class="dcp_cd_btn">Copy Shortcode</button></div>{% endif -%}
  {%- if section.settings.hidden and request.page_type == 'index' %}{% break %}{% endif -%}

  <section id="laber_{{sid}}">
  <div class="container {% if section.settings.layout == "full-width"%}{{section.settings.layout}}{% endif %}">
		{% if section.settings.title!= blank %}
    	<div class="wrap_title ">
          
          {% if section.settings.page!= blank %}
		  <span class="page">{{section.settings.page}}</span>
		  {% endif %}
		  {% if section.settings.sub_title!= blank %}
		  <span class="section-subtitle h4">{{section.settings.sub_title}}</span>
		  {% endif %}
          
          {% if section.settings.title != blank %}
		  <h3 class="section-title">{{section.settings.title}}</h3>  
		  {% endif %}
          
          
          {% if section.settings.content!= blank %}
		  <div class="content">{{section.settings.content}}</div>
		  {% endif %}
          
		</div>
    {% endif %}
    {% include 'grid-slider', settings:section.settings %} 
    <div class="content_section slick-carousel">
    <div class="grid-slider row" {{gridSlider}} data-append-Arrows=".arrows_{{sid}}" data-append-Dots=".dots_{{sid}}" >
      	{%- for block in section.blocks -%}
          {%- assign image = block.settings.image -%}
      	  {%- assign url = block.settings.url -%}
          <div>
            <div class="sc-hihest-quality">
              {%- if block.settings.enable_image -%}           
            	<div class="images">
                 {%- if image != blank %}{% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                      <div class="laber_bg_lz lazyload pr_lazy_img {{ block.settings.img_align}}" data-bgset="{{ image | img_url: '1x1' }}" data-ratio="{{image.aspect_ratio}}" data-sizes="auto" data-parent-fit="cover" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%"></div>
                 {%- else -%}
                     <img class="lazyload" data-src="https://via.placeholder.com/370x240.png/a1a19f/ffffff?text=Image+{{forloop.index}}"/>
                 {%- endif -%}
            	</div>
              {%- endif -%}
            <div class="text-content">	
              {% if block.settings.title != blank %}
                <h3 class="h3">{{ block.settings.title | escape }}</h3>
              {% endif %}

              {% if block.settings.text != blank %}
                <div class="rte-setting">{{ block.settings.text }}</div>
              {% endif %}
              
              {%- if  block.settings.btn != blank -%}
              <a  class="buttons" href="{{ block.settings.btn_link}}" target="{{ block.settings.open_link}}"
                 {{ block.shopify_attributes }}>{{ block.settings.btn}}</a>
              {%- endif -%}
            </div>	
            </div>
          </div>
        {%- endfor -%}
    </div>
    {%if dots %}
    <div class="laber_append_dots dots_{{sid}}"></div>
    {%endif%}
    {%if arrows%}	
    <div class="laber_append_arrows arrows_{{sid}}"></div>	
    {% endif %}  
    </div>
  </div>
</section>
{%- render 'section_style' -%} 

{%- endfor -%}



{%- schema -%}
  {
    "name": "Store branch",
    "class": "cms_section type_gallery looking-for",
	"max_blocks": 4,
    "settings": [
      {
      "type": "checkbox",
      "id": "hidden",
      "label": "Hidden Section?",
      "default": false
      },
	  
      {
        "type": "header",
        "content": "== Title Settings"
      },
      {
        "type": "text",
        "id": "page",
        "label": "Page name",
        "default": "Contact us"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Text column with image"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Sub Text"
      }, 
	  {
        "type": "textarea",
        "id": "content",
        "label": "Content",
        "default": "Commodo sociosqu venenatis cras dolor sagittis integer luctus maecenas."
      },	
{
        "type": "header",
        "content": "---- Slider Show Collection ----",
        "info": "Refer to the attribute values [here](httpss://kenwheeler.github.io/slick)"
    }, 	
    {
        "type": "checkbox",
        "id": "use-slider",
        "label": "Use slider?",
        "default": true
    },
    {  
        "type": "range",  
        "id": "slides-To-Scroll",  
        "label": "Slide to scroll",  
        "info": "The number of items slide to scroll",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "pds",
        "default": 1
    },   
    {  
        "type": "range",  
        "id": "visible",  
        "label": "Columns in Visible",
		"info": "Item(s) in screen ( Size >= 1920 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "pds",
        "default": 5 
    },
    {  
        "type": "range",  
        "id": "widescreen",  
        "label": "Columns in Widescreen",
		"info": "Item(s) in screen ( 1366 <= Size < 1920 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "pds",
        "default": 4 
    },  
    {  
        "type": "range",  
        "id": "desktop",  
        "label": "Columns in Desktop",
		"info":  "Item(s) in screen ( 1200 <= Size < 1480 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "pds",
        "default": 4  
    },	  
    {  
        "type": "range",  
        "id": "laptop",  
        "label": "Columns in Laptop",
		"info": "Item(s) in screen ( 992 <= Size < 1200 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "pds",
        "default": 4
    },	  
    {  
        "type": "range",  
        "id": "notebook",  
        "label": "Columns in Notebook",
		"info": "Item(s) in screen ( 768 <= Size < 992 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "pds",
        "default": 3  
    },  
    {  
        "type": "range",  
        "id": "tablet",  
        "label": "Columns in Tablet",
		"info": "Item(s) in screen ( 576 <= Size < 768 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "pds",
        "default": 3 
    },
    {  
        "type": "range",  
        "id": "landscape",  
        "label": "Columns in Landscape",
		"info": "Item(s) in screen ( 480 <= Size < 576 )",
        "min": 1,
        "max": 6,
        "step": 1,
        "unit": "pds",
        "default": 2 
    }, 
    {  
        "type": "range",  
        "id": "portrait",  
        "label": "Columns in Portrait",
		"info": "Item(s) in screen ( 360 < Size < 480 )",
        "min": 1,
        "max": 6,
        "step": 1,
        "unit": "pds",
        "default": 2 
    },
    {  
        "type": "range",  
        "id": "mobile",  
        "label": "Columns in Mobile",
		"info": "Item(s) in screen ( Size < = 360 )",
        "min": 1,
        "max": 4,
        "step": 1,
        "unit": "pds",
        "default": 1 
    },
    {  
        "type": "range",  
        "id": "rows",  
        "label": "Rows Slider",  
        "min": 1,
        "max": 3,
        "step": 1,
        "unit": "pds",
        "default": 1
    },
    {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Autoplay",
        "default": true
    },
    {	
        "type": "text",
        "id": "speed",
        "label": "Speed",
        "default": "300",
        "info": "Autoplay Speed in milliseconds"
    },
    {	
        "type": "text",
        "id": "autoplay-Speed",
        "label": "Auto Play Speed",
        "default": "3000",
        "info": "Autoplay Speed in milliseconds"
    },
    {	
        "type": "checkbox",
        "id": "arrows",
        "label": "Arrows",
        "default": true
    },
    {	
        "type": "checkbox",
        "id": "fade",
        "label": "Fade",
        "default": false,
        "info": "Only use for 1 column"
    },
    {	
        "type": "checkbox",
        "id": "center-Mode",
        "label": "Center Mode",
        "default": false
    },
    {	
        "type": "checkbox",
        "id": "adaptive-Height",
        "label": "Adaptive Height",
        "default": false
    },
    {	
        "type": "checkbox",
        "id": "dots",
        "label": "Dots",
        "default": false 
    },
    {	
        "type": "checkbox",
        "id": "infinite",
        "label": "Infinite",
        "default": false
    },
    {  
        "type": "range",  
        "id": "padding",  
        "label": "padding",
		"info": "Distance between items",
        "min": 0,
        "max": 30,
        "step": 5,
        "unit": "px",
        "default": 10 
    },
    {	
        "type": "checkbox",
        "id": "vertical",
        "label": "Vertical",
        "default": false
    },
      {
        "type": "header",
        "content": "== Design Options"
      },
		{
        "type": "select",
        "id": "layout",
        "options": [
         {
            "value": "container",
            "label": "Container"
         },
         {
            "value": "full-width",
            "label": "Full Width"
          }
        ],
        "label": "Layout"
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background color",
        "default": "#fff"
     	 },
      {
      "type": "text",
      "id": "mg",
      "label": "Margin",
      "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank"
      },
      {
      "type": "text",
      "id": "pd",
      "label": "Padding",
      "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank"
      },
      {
      "type": "header",
      "content": "== Design Mobile Options"
      },
      {
      "type": "text",
      "id": "mg_mb",
      "label": "Margin"
      },
      {
      "type": "text",
      "id": "pd_mb",
      "label": "Padding"
      }
    ],
	"blocks": [{
    "type": "text_block",
    "name": "Column",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_image",
        "label": "Show image?",
        "default": true
      },
      {
         "type": "image_picker",
         "id": "image",
         "label": "Image"
       },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Add a title or tagline"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
        },
		{
          "type": "text",
          "id": "btn",
          "label": "Buttom",
          "default": "Learn more"
        },
        {
        "type": "url",
        "id": "link_img",
        "label": "Link image",
        "info": "The image becomes clickable."
        },
        {
        "type": "select",
        "id": "open_link",
        "options": [
        {
        "value": "_self",
        "label": "Current window (_self)"
        },
        {
        "value": "_blank",
        "label": "New window (_blank)"
        }
        ],
        "label": "Open link in",
        "default": "_blank"
        }
		


      ]
    }],
    "presets": [
      {
        "name": "Store branch",
        "category": "Images",
		"blocks": [
          { "type": "text_block" },
          { "type": "text_block" },
          { "type": "text_block" }
        ]
      }
    ]
  }
{% endschema %}
