
{% include 'product-res-variables' %}
{% assign sid = section.id  %}
{% assign layout = section.settings.layout %}
{%- assign show_size_guide = settings.product_info_show_size_guide -%}
{%- assign show_delivery = settings.product_info_show_delivery_return -%}
{%- assign show_options = 1 -%}
{%- assign product_page_design = settings.product_page_design -%}
{%- assign nb_thumb = settings.nb_thumb -%}
{%- assign width_zoom = settings.width_zoom -%}
{%- assign height_zoom = settings.height_zoom -%}
{% assign build_variant = "all" %}

{%- assign bg_product_page = settings.bg_product_page -%}
{%- assign pad_top_product_page = settings.pad_top_product_page -%}
{%- assign pad_bottom_product_page = settings.pad_bottom_product_page -%}
<section>
<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
<div class="main-content shop-page main-content-detail" 
     style="background-color:{{bg_product_page}};
            padding-top:{{pad_top_product_page}}px;
            padding-bottom:{{pad_bottom_product_page}}px;">
 
    <div id="laber_{{sid}}">
      <div class="content-offset {{ product_page_design }}">
        <div class="js_product_single" id="product-single" data-js-product >
          <script class="data-json-product" type="application/json">{% render 'product-get-attributes', product:product, build_variant: 'json' %}</script>
          <div class="row details-info">
          {% include 'product-cover-thumbnails' %}
          <div id="js-stickySidebar" class="col-xs-12 col-sm-12 {% if product_page_design =='grid_2_column' %} col-md-5 col-lg-5{% else %} col-md-6 col-lg-6{% endif %}">
              <div class="js-sticky-sidebar" >
              <!-- sections/product-information.liquid -->
              <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <meta itemprop="url" content="{{ url }}">
                <meta itemprop="sku" content="{{ sku }}">
                <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">
            {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                <input type="hidden" name="id" value="{{ current_variant.id }}" data-js-product-variant-input>    
                {{ form | payment_terms }}     
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                        {%- when 'name_product' -%}				
                          <h1 class="product-name">
                            <a href="{{ product.url }}"  >{{ product.title }}</a>  
                              {% if sku != blank %}
                                  <div class="product-collection__sku">
                                    <p data-js-product-sku><label class="label">{{ 'products.product.sku' | t }}:</label> <span>{{ sku }}</span></p>
                                  </div>
                                  {% endif %}
                          </h1>
                            
                          {% style%}
                            .details-info .product-name{
                              text-transform:{{ block.settings.np_text_transform}};
                              margin-top:{{ block.settings.np_mg_top}}px;
                              margin-bottom:{{ block.settings.np_mg_bottom}}px;
                              font-size: {{ block.settings.np_size}}px;
                              font-weight:{{ block.settings.np_weight}};
                            }
                            @media (max-width: 767px) {
                              .details-info .product-name{
                              font-size: {{ block.settings.np_size_mobile}}px
                              }
                            }
                          {% endstyle%}
            			  {%- when 'show_reviews' -%}
                          <div class="star-rating">
                            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                            <a href="#tab_product" class="write-review">{{'products.product.create_review' | t}}</a>
                          </div>
            			{%- when 'name_category' -%}
            				<div class="name_category">
                              <div class="name_collection" data-js-product-collection>
                              <label class="label">{{ 'products.product.Categories' | t }}:</label>
                              <p>
                              {%- if product.collections.size > 0 -%}
                                  {%- for collection in product.collections limit: 1 -%}
                                  <a class="collection_item" href="{{ collection.url }}">
                                    {{ collection.title }}{% if forloop.last != true %},{% endif %}
                                  </a>{% if forloop.last != true %} {% endif %}
                                  {%- endfor -%}
                              {%- endif -%} 
                              </p> 
                              </div>  
            				</div>
            			{%- when 'show_price' -%}
                          <div class="product-price">              
                            {%comment%}<span id="js-product-price">{{ product.variants[0].price | money }}</span>{%endcomment%}
                            
                            {%- if product.compare_at_price > price -%}
                            
                              <span class="price price--sale" data-js-product-price><span id="js-product-price" class="current">{{ price | money }}</span> <span class="compare">{{ product.compare_at_price | money }}</span></span>
                            {%- else -%}
                              <span id="js-product-price" class="price" data-js-product-price>{{ price | money }}</span>
                            {%- endif -%}
                            {%- if product.compare_at_price > price -%}
                              <p class="price-sale-details" data-js-product-price-sale-details>
                                {%- assign price_save = product.compare_at_price | minus: price -%}
                                {%- assign price_save_money = price_save | money | strip_html -%}
                                {%- assign price_save_procent = price | times: 100 | divided_by:product. compare_at_price | minus: 100 | times: -1 -%}
                                {{ 'products.product.price_sale_details' | t: price: price_save_money, procent: price_save_procent }}
                              </p>	
                            {%- endif -%}
                          </div>
            			
            			{%- when 'show_description' -%}
                
            				{%- assign tr_words = block.settings.tr_words -%}
            				{%- assign view_more = block.settings.view_more -%}
            				{%- assign des_mg_top = block.settings.des_mg_top -%}
            				{%- assign des_mg_bottom = block.settings.des_mg_bottom -%}
            				{%- assign des_pad_top = block.settings.des_pad_top -%}
            				{%- assign des_pad_right = block.settings.des_pad_right -%}
            				{%- assign des_pad_bottom = block.settings.des_pad_bottom -%}
            				{%- assign des_pad_left = block.settings.des_pad_left -%}
            				{%- assign des_size = block.settings.des_size -%}
            				{%- assign des_bg = block.settings.des_bg -%}
            				<div class="product_description clearfix" style="font-size:{{des_size}}px; margin-top:{{des_mg_top}}px; margin-bottom:{{des_mg_bottom}}px;padding-top:{{des_pad_top}}px; padding-bottom:{{des_pad_bottom}}px; padding-right:{{des_pad_right}}px; padding-left:{{des_pad_left}}px; background-color:{{des_bg}}; ">
                                  {% if block.settings.title != blank %}<h3>{{ block.settings.title }}{% endif %}</h3>
                             	 {{ product.description | truncatewords: tr_words }}{%- if view_more -%}<a data-animated="fadeIn" data-toggle="pill" href="#tab_des">{{view_more}}</a>{%- endif -%}
            				</div>
                        {%- when 'related-product' -%}
                        {% assign handle_current = product.handle %}

{% assign handle = product.collections[0].handle %}
{% if handle =='' or handle == blank %}
	{% assign handle = 'frontpage' %}
{% endif %}	
{% assign check_product = false %}
{% for product in collections[handle].products%}              
  {% if handle_current != product.handle %}
    	{% assign check_product = true %}
  {% endif %}
{% endfor %}

{%- assign show_label_in_stock = settings.product_collection_show_label_in_stock -%}
{%- assign show_label_out_stock = settings.product_collection_show_label_out_stock -%}
{%- assign show_label_sale = settings.product_collection_show_label_sale -%}
{%- assign show_label_new =  settings.product_collection_show_label_new -%}
{%- assign show_label_hot =  settings.product_collection_show_label_hot -%}
{%- assign show_countdown = false | default: settings.product_collection_show_countdown -%}
{%- assign show_images_navigation = true | default: settings.product_collection_show_images_navigation -%}
{%- assign show_title = settings.product_collection_show_title -%}
{%- assign show_sku = settings.product_collection_show_sku -%}
{%- assign show_barcode =  settings.product_collection_show_barcode -%}
{%- assign show_availability =  settings.product_collection_show_availability -%}
{%- assign show_type = settings.product_collection_show_type -%}
{%- assign show_vendor = settings.product_collection_show_vendor -%}
{%- assign show_description = settings.product_collection_show_description -%}
{%- assign show_price = settings.product_collection_show_price -%}
{%- assign show_options = settings.product_collection_show_options -%}
{%- assign show_custom_options =  settings.product_show_custom_options -%}
{%- assign show_quantity = false | default: settings.product_collection_show_quantity -%}
{%- assign show_button_add_to_cart = settings.product_collection_show_button_add_to_cart -%}
{%- assign show_button_add_to_wishlist = settings.product_collection_show_button_add_to_wishlist -%}
{%- assign show_button_add_to_compare =  settings.product_collection_show_button_add_to_compare -%}
{%- assign show_button_quick_view = settings.product_collection_show_button_quick_view -%}
{%- assign show_reviews = settings.product_collection_show_reviews -%}
{%- assign hide_reviews_counter = settings.product_collection_hide_reviews_counter -%}
{% assign enable_hover_image = settings.product_collection_enable_hover_image %}
{% assign build_variant = "all" %}
{% assign max_count = block.settings.max_count | plus:0 %}
{% assign padding = block.settings.padding %}
{% liquid

	
    
	assign sett_equal = block.settings.use_eq_height
    assign image_ratio = block.settings.image_ratio
    
    
  assign arrows =  block.settings.arrows
  assign dots =  block.settings.dots
%}
{% if check_product %}
  
                        <div class="section-content show-quick-view-Related-product" style="display:none;">

                          <div class="content_section slick-carousel">
                          <div class="grid-slider collection-slider laber-slick-carousel" >        
                            {% for product_r in collections[handle].products limit: max_count %}              
                            {% if handle_current != product_r.handle %}   
                                  
                                      {% include 'product_style' with product: product_r data-col:col_pr %}   
                                       
                            {% endif %}
                            {% endfor %} 
                            
                          </div>
                        </div>
                        </div>
  {% endif %}
            			{%- when 'text_countdown_html' -%}
            				<div class="text_countdown_html">
                              {% capture text_countdown_html %}             
                              <div class="product-page-info__text-countdown clearfix">
                                <div class="text-countdown js-text-countdown" data-reset-time="7" data-delivery-time="3" data-delivery-format="Day DD/MM/YYYY" data-delivery-excludes="Saturday, Sunday">
                                  {% capture text_countdown_counter_html %}<span class="text-countdown__counter" data-js-text-countdown-counter></span>{% endcapture %}
                                  {% capture text_countdown_delivery_html %}<span class="text-underline" data-js-text-countdown-delivery></span>{% endcapture %}
                                  {{ 'products.product.text_countdown_html' | t: counter: text_countdown_counter_html, delivery: text_countdown_delivery_html }}
                                </div>
                              </div>             
                              {% endcapture %}
                              {% capture visitors_html %}               
                              <div class="product-page-info__visitors clearfix">
                                <div class="visitors js-visitors" data-min="10" data-max="25" data-interval-min="2" data-interval-max="6" data-stroke="4">
                                  {%- assign visitors_random_diff = settings.product_visitors_max | minus: settings.product_visitors_min -%}
                                  
                                  {%- assign visitors_random = "now" | date: "%N" | modulo: visitors_random_diff | plus: settings.product_visitors_min -%}
                                  
                                  {% capture visitors_counter_html %}
                                  	<span class="visitors__counter d-inline-block px-8" data-js-counter>{{ visitors_random }}</span>
                                  {% endcapture %}
                                  {{ 'products.product.visitors_html' | t: counter: visitors_counter_html }}
                                </div>
                              </div>                
                              {% endcapture %}  
                              {% assign show_text_countdown = block.settings.show_text_countdown  %}
                              {% assign show_visitors_html = block.settings.show_visitors_html %}
                              {%if show_text_countdown%}{{text_countdown_html}}{%endif%}
                              {%if show_visitors_html%}{{ visitors_html }}{%endif%}
            				</div> 
            			{%- when 'product_infor' -%}
                			<div class="product_infor">
                			  {%- if block.settings.show_availability -%}
                              <div class="pr-availability clearfix">
                                <p><label class="label">{{'products.product.availability' | t}}:</label>             
                                  <span style="color:{{ block.settings.color_in_stock}}" class="available {% if product.available %}  {% else %} d-none {% endif %}" id="js-pr-available" >{{'products.product.available' | t}}</span>             
                                  <span style="color:{{ block.settings.color_out_stock}}" class="unavailable {% if product.available %}d-none{% endif %}" id="js-pr-unavailable"  > {{'products.product.unavailable' | t}}</span>                
                                </p>  
                              </div>
                              {%endif%}  	
                
                			  
                              {%- if block.settings.show_barcode -%}
                              <div class="product-collection__barcode{% if barcode == blank %} d-none{% endif %}">
                                <p data-js-product-barcode><label class="label">{{ 'products.product.barcode' | t }}:</label> <span>{{ barcode }}</span></p>
                              </div>
                              {%endif%}
                              {%- if block.settings.show_type -%}
                              <div class="product-collection__type{% if type == blank %} d-none{% endif %}">
                                <p data-js-product-type><label class="label">{{ 'products.product.type' | t }}:</label> <span>{{ type }}</span></p>
                              </div>
                              {%endif%}
                              {%- if block.settings.show_vendor -%}
                              <div class="product-collection__vendor{% if vendor == blank %} d-none{% endif %}">
                                <p data-js-product-vendor><label class="label">{{ 'products.product.vendor' | t }}:</label> <span>{{ vendor }}</span></p>
                              </div>
                              {%endif%}
                			</div>
            			{%- when 'show_social' -%}
            				<div class="product_page_social">
                              {% assign type_social = block.settings.type_social | plus: 0 %}
                              {%- if type_social == 1 -%}
                              <div class="group-social clearfix">
                                {% include 'social_link' %}
                              </div>
                              {%- else -%}
                                  {% include 'social-sharing' %}
                              {%- endif -%}
            				</div>
            				{%- when 'product_variants' -%}
                				{% assign show_size_guide = block.settings.show_size_guide %}
                				{% assign size_guide_page = block.settings.size_guide_page %}
            					{% assign show_title_variant = block.settings.show_title %}
            					{% assign variants_type = block.settings.variants_type | plus: 0  %}
            					{% assign variantCount = product.variants | size %}
            					{% if variantCount > 1 %} 
                                  <div class="product-collection__options">
                                  	{% include 'product-get-options' show_title_variant:show_title_variant show_size_guide:show_size_guide size_guide_page:size_guide_page %}
                              	  </div> 
            					{% endif %} 
            				{%- when 'quantity_button' -%}
                                {%- assign qt_show_wishlist = block.settings.qt_show_wishlist -%}
                                {%- assign qt_show_compare = block.settings.qt_show_compare -%}
                                {%- assign qt_show_cart = block.settings.qt_show_cart -%}
                                {%- assign show_popup = block.settings.show_popup -%}
                                {%- assign product_terms_conditions_page_content = pages[block.settings.product_terms_conditions_page_content].content -%}
                                {%- assign qt_buy_it_now = block.settings.qt_buy_it_now -%}
                                {%- assign qt_show_quantity = block.settings.qt_show_quantity -%}
                                {%- assign icon_button_cart = block.settings.icon_button_cart -%}
                                {%- assign show_custom_color_btn = block.settings.show_custom_color_btn -%}
                
                					<div data-product-meta class="cms-product-meta clearfix">  
                					{% if qt_show_quantity %}
                					<div data-product-quantity class="js-quantity quantity {% if product.available %}{% else %} d-none {% endif %}" >
                                      <label>{{'products.product.quantity' | t}}</label>
                					  <div class="group-quantity-button">
                						<a class="js_minus" href="#">
                                          <i class=" icon-minus"></i>
                                        </a>
                						<input id="Quantity" data-step="1" data-min="1" data-max="{{product.variants.first.inventory_quantity}}" class="input-text js_qty" type="text" size="4" title="Qty" value="01" name="quantity">
                						<a class="js_plus" href="#">
                                        	<i class=" icon-plus"></i>
                                        </a>
                					  </div>
                					</div>
                					{% endif %}
                					<div class="group-button">
                					  <div class="inner">                    
                						{% if qt_show_cart%}
                						  <button type="submit" class="add-to-cart js_add_to_cart_button" {% if product.available %} {% else %} style="display:none!important;" {% endif %} data-js-product-button-add-to-cart  data-pid="{{ product.variants.first.id }}">
                                            	<i aria-hidden="true" class="laber-loading fa fa-spinner fa-spin fa-3x fa-fw"></i>
                                            	<span class="text">{{'products.product.add_to_cart' | t }}</span>{% if icon_button_cart !="" %}<span class="icon"><i class="{{ icon_button_cart }}" aria-hidden="true"></i></span>{% endif %}
                                          </button>
                						  <a class="add-to-cart js-btn-sold-out  {% if product.available %} d-none{% endif %}" data-js-product-button-sold-out  onclick="location.href='{{ product.url | within: collection }}'"><span class="text">{{'products.product.sold_out' | t }}</span> {% if icon_button_cart !="" %}<span class="icon"><i class="{{ icon_button_cart }}" aria-hidden="true"></i></span>{% endif %}</a>
                						{% endif %}
                					  </div>
                                                      					{% if qt_buy_it_now and product.available%}
                                      {% assign variantCount = product.variants | size %}		
                
                                      {%- capture terms_conditions -%}
                                          {% if show_popup %}
                                              <a data-page-open-popup data-effect="mfp-move-horizontal" href="#terms-conditions">{{ 'products.product.terms_conditions' | t}}</a>
                                          {% else %}
                                              <a href="#">{{ 'products.product.terms_conditions' | t}}</a>
                                          {% endif %}	
                                      {%- endcapture-%}
                                      {% if show_popup %}
                                        <div id="terms-conditions" class="mfp-hide mfp-with-anim size-chart-open-popup">
                                          {{ product_terms_conditions_page_content }}
                                        </div> 
                                      {% endif %}		
                                          <div data-buyitnow-button class="group-button-buyitnow {% if show_popup %}disabled{% endif %}">  
                                            {% if show_popup %}
                                            <div class="checkbox-group prpage-term-conditions-checkbox term-conditions-checkbox-js">
                                              <input type="checkbox" id="prpage-cart-term-conditions-checkbox" value="1">
                                              <label for="prpage-cart-term-conditions-checkbox">
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                {{ 'products.product.checkbox_buyitnow' | t  }} {{terms_conditions}}
                                              </label>
                                            </div>
                                            {% endif %}
                                            {{ form | payment_button }}                       
                                          </div>
                  					{%endif%}
            
                              {% if show_custom_color_btn %}
                                  
                                  {%- assign color_text_cart = block.settings.color_text_cart -%}
                                  {%- assign bg_add_to_cart = block.settings.bg_add_to_cart -%}
            
                                  {%- assign color_text_buy_now = block.settings.color_text_buy_now -%}
                                  {%- assign bg_buy_it_now = block.settings.bg_buy_it_now -%}
            
                                  {%- assign bg_add_to_cart_hv = block.settings.bg_add_to_cart_hv -%}
                                  {%- assign color_text_cart_hover = block.settings.color_text_cart_hover -%}
            
                                  {%- assign bg_buy_it_now_hv = block.settings.bg_buy_it_now_hv -%}
                                  {%- assign color_text_buy_now_hover = block.settings.color_text_buy_now_hover -%}
            
                                  <style>
                                      .details-info .group-button .add-to-cart{
                                          background-color: {{bg_add_to_cart}};
                                          border-color: {{bg_add_to_cart}};
                                          color:{{color_text_cart}}
                                      }
                                      .details-info .group-button .add-to-cart:hover {
                                          background-color: {{bg_add_to_cart_hv}};
                                          border-color: {{bg_add_to_cart_hv}};
                                          color:{{color_text_cart_hover}}
                                      }
                                      .group-button-buyitnow .shopify-payment-button button{
                                          background-color: {{bg_buy_it_now}};
                                          color:{{color_text_buy_now}}
                                      }
                                      .group-button-buyitnow .shopify-payment-button__button--unbranded:hover:not([disabled]){
                                          background-color: {{bg_buy_it_now_hv}};
                                          color:{{color_text_buy_now_hover}}
                                      }
                                  </style>
                              {% endif %}
                					</div>
                                      
                				  	</div>    				

                              <div class="compare-wishlist">
                                {% if qt_show_compare %}
                                {% comment %}
                                	<a href="javascript:void(0);" class="compare-button js-compare" data-js-tooltip data-tippy-content="{{'general.compare.title' | t}}" {% if product.available %} style="display:inline-block;" {% else %} style="display:none;" {% endif %}  data-pid="{{product.handle}}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                {% endcomment %}
                                {% include 'product-get-button-compare' %}
                                {% endif %}
            
                                {% if qt_show_wishlist %}
                                {% comment %}
                                	<a href="javascript:void(0);" class="wishlist-button wishlist" data-js-tooltip data-tippy-content="{{'general.wishlist.title' | t}}"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                {% endcomment %}
                                {% include 'product-get-button-wishlist' %}
                                {% endif %}
                                
                              </div> 
            				{%- when 'tags' -%}
            					{% if product.tags%}
            					<div class="tags_product clearfix">
                                  <div class="tags" data-js-product-tags >
                                    <label class="label">{{ 'products.product.tags' | t }}:</label>
                                  	{%- assign tags_id = block.settings.tags -%}
                                    <p>
                                    {%- if tags_id != blank -%}
                                   
                                     {%- assign tags_text = tags_id | replace: ' ,', ',' | replace: ', ', ',' | split: ',' -%}
                                    {%- endif -%}
                                    {%- for tags in product.tags  -%}
                                      {%- for tags_t in tags_text -%}
                                          {%- if tags == tags_t -%}
                                            <a href="{{ routes.root_url }}collections/all/{{ tags | replace: " ", "-"}}" title="{{ tags}}">
                                              <span>
                                                {{tags}}
                                              </span>
                                            </a>
                                          {%-endif-%}
                                       {%- endfor -%}
                                    {%- endfor -%}
                                    </p>
                                  </div>
            					</div>
            					{%endif%}
            				{%- when 'custom_html' -%}
                				<div class="product_custom_html">
                				<div class="content">
                                  {%- assign image = block.settings.image -%}
                                  {% if image !=blank %}
                                    <div class="custom_image">
                                        {{ image | image_url: width: 290 | image_tag: width: 290 }}
                                    </div>
                                  {%endif%}
            
                                  {% if block.settings.svg_custom and block.settings.show_svg_custom%}
                                    <div class="payment_type_img">
                                    {%- assign svg_custom = block.settings.svg_custom | remove: ' ' | split:"," -%}
                                    {%- for img in svg_custom -%}
                                          <img class="lazyload img_tr_svg" src="{{ img | payment_type_img_url }}" data-src="{{ img | payment_type_img_url }}" alt="{{img | replace:'_',' '}}" />
                                    {%- endfor -%}
                                    </div>
                                  <style>
                                      .payment_type_img img {padding: 2.5px; height: {{ block.settings.svg_height}}px;}
                                  </style>
                                  {%- endif -%}
                                  {% if block.settings.html_custom !=blank %}
                                  <div class="content-text clearfix">
                                      {{ block.settings.html_custom}}
                                  </div>
                                  {%endif%}
                				</div>
               	 				</div>
            				{%- when 'free_shipping' -%}
            
            					{% include 'free-shipping' %}
            				
            				{%- when 'inventory_qty' -%}
            				{%- assign total_items = block.settings.total_items -%}
            				{%- assign bg_1 = block.settings.bg_1 -%}
            				{%- assign bg_2 = block.settings.bg_2 -%}	
            				{%- assign h_stock = block.settings.h_stock -%}
            				{%- assign quantity = product.variants.first.inventory_quantity -%}
            				<div class="inventory_qty">
                              		<div class="product_page_info_stock">
                                      <div class="stock-countdown {% unless quantity > 0 and quantity <= total_items %} d-none-important{% endunless %}" data-js-product-info-stock data-min="{{total_items}}">
                                          {% capture quantity_html %}<span class="qty">{{ quantity }}</span>{% endcapture %}
                                          <p class="laber_title" data-js-product-info-stock-title>{{ 'products.product.stock_countdown_html' | t: quantity: quantity_html }}</p>
                                          
                                              <div class="laber_total_items" style="background-color:{{bg_2}};height:{{h_stock}}px;">
                                                
                                                  {%- assign countdown_range_quotient = total_items | times: 1.0 | divided_by: 100 -%}
                                                  {%- assign countdown_range_procent = quantity | divided_by: countdown_range_quotient -%}
                                                
                                                  <div style="background-color:{{bg_1}};width: {{ countdown_range_procent }}%;" class="laber_progress" data-js-product-info-stock-progress ></div>
                                              </div>
                                      </div>
                                  </div>
            				</div>
                          {%- when 'text' -%}
                              <p class="product__text">
                                {{- block.settings.text -}} {% if block.settings.show_color %}<span class="product__color" style="background-color:{{ block.settings.color}};">{{-block.settings.color-}}</span>{% endif %}
                              </p>	
                           {%- when 'custom_liquid' -%}
                              {{ block.settings.custom_liquid }}
                            {%- when 'countdown' -%}  
                              <div class="page_product_countdown">
                                    {% include 'countdown' block:block %}
                              </div>    
                           {%- when 'shipping' -%}
                              {% if block.settings.show_delivery_times %}
                                  <div class="prod_delivery-times">
                                    <span class="block__icon">
                                    <?xml version="1.0" ?><svg id="Icons" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <style>
                                        	.st0{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                                        		.st1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:3;}
                                        	.st2{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
                                        	.st3{fill:none;}
                                        </style>
                                        <polyline class="st0" points="2,9 19,9 19,24 10,24 "/><circle class="st0" cx="24" cy="24" r="2"/><circle class="st0" cx="8" cy="24" r="2"/><polyline class="st0" points="19,24 19,13 25,13 29,18 29,24 26,24 "/><line class="st0" x1="4" x2="13" y1="13" y2="13"/><line class="st0" x1="2" x2="11" y1="17" y2="17"/><rect class="st3" height="680" width="536" x="-288" y="-432"/></svg>
                                    </span>
                                    {% assign range =  2 | times: 24 | times: 60 | times: 60 %}
                                    {% assign deliver_in =  block.settings.deliver_days | times: 24 | times: 60 | times: 60 %}
                                    {% assign now = 'now' | date: "%s" %}
                                    {% assign date_format = block.settings.date_format | default: "%b %d" %}
                                    
                                    {% assign from = now | plus: deliver_in | minus: range | date: date_format %}
                                    {% assign to = now | plus: deliver_in | plus: range | date: date_format %}
                                    
                                    <div class="content">
                                    <p><label>{{ block.settings.deliver_text | strip_html }}</label><span>{{ from }} - {{ to }}</span></p>
                                    </div>
                                  </div>
                                {% endif %}
                                {% if block.settings.show_shipping_text and block.settings.shipping_text != blank %}
                                  <div class="prod_shipping-text">
                                      <span class="block__icon">
                                        <i class="icon-package"></i>
                                      </span>
                                    <div class="content">
                                    {{ block.settings.shipping_text }}
                                    </div>
                                  </div>
                              {% endif %}     
                {%- endcase -%}
              {%- endfor -%}
            {% endform %}
                </div>
             </div>  
      </div>  
                
    </div>  
                
     </div>        
    </div>
    </div>
</div>    
  </div>
</section>
{%- render 'section_style' -%}
{%- render 'product-script' -%}
{% schema %}
  {
    "name": "Product information",
	"class":"laber-product-information",
		"settings": [
			 {
            "type": "header",
            "content": "== Setting"
            },
            {
            "type": "color",
            "id": "cl_bg",
            "label": "Background color",
            "default": "#fff"
            },

            {
            "type": "header",
            "content": "== Setting PC",
            "info":"Margin"
            },	
            {
            "type": "text",
            "id": "mg",
            "label": "Margin",
            "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank"
            },
            {
            "type": "text",
            "id": "pd",
            "label": "Padding",
            "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank"
            },
            {
            "type": "text",
            "id": "bd",
            "label": "Border",
            "info":"border top  border right border bottom  border left. If you not use to blank"
            },
            {
            "type": "header",
            "content": "== Design Mobile Options"
            },
            {
            "type": "text",
            "id": "mg_mb",
            "label": "Margin"
            },
            {
            "type": "text",
            "id": "pd_mb",
            "label": "Padding"
            }
		],
      "blocks": [
        {
          "type": "name_category",
          "name": "Category name",
          "limit": 1
        },
  		{
          "type": "name_product",
          "name": "Product name",
          "limit": 1,
          "settings": [
			{
              "type": "select",
              "id": "np_text_transform",
              "default": "none",
              "options": [
               {
                  "value": "none",
                  "label": "None"
               },
               {
                  "value": "capitalize",
                  "label": "Capitalize"
               },
               {
                  "value": "lowercase",
                  "label": "Lowercase"
               },
               {
                  "value": "uppercase",
                  "label": "Uppercase"
                }
              ],
              "label": "Text transform:"
            },
              {
                "type": "range",
                "id": "np_size",
                "min": 14,
                "max": 60,
                "step": 1,
                "label": "Font size",
                "unit": "px",
                "default": 24
              },
			 {
              "type": "range",
              "id": "np_weight",
              "min": 400,
              "max": 900,
              "step": 100,
              "label": "Font weight",
              "default": 600
              },
				{
                "type": "range",
                "id": "np_size_mobile",
                "min": 14,
                "max": 60,
                "step": 1,
                "label": "Font size (mobile)",
                "unit": "px",
                "default": 24
              },
				{
                "type": "range",
                "id": "np_mg_top",
                "min": 0,
                "max": 60,
                "step": 1,
                "label": "Margin top",
                "unit": "px",
                "default": 0
              },
				{
                "type": "range",
                "id": "np_mg_bottom",
                "min": 0,
                "max": 60,
                "step": 1,
                "label": "margin bottom",
                "unit": "px",
                "default": 30
              } 
          ]
        },
		{
          "type": "show_reviews",
          "name": "show reviewst",
          "limit": 1
        },
		{
          "type": "show_price",
          "name": "Price",
          "limit": 1
        },
		{
          "type": "show_description",
          "name": "Product Description",
          "limit": 1,
          "settings": [
              {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Description"
              },
		   	  {
                "type": "text",
                "id": "tr_words",
                "label": "Truncatewords",
                "default": "65",
				"info": "The number of words you want to display"
              },
				{
                "type": "range",
                "id": "des_size",
                "min": 14,
                "max": 40,
                "step": 1,
                "label": "Font size",
                "unit": "px",
                "default": 16
              },
			  {
                "type": "text",
                "id": "view_more",
                "label": "View more",
                "default": "View more",
				"info": "If you don't want to show it, leave this section blank"
              },
              {
                "type": "range",
                "id": "des_mg_top",
                "min": 0,
                "max": 60,
                "step": 1,
                "label": "Margin top",
                "unit": "px",
                "default": 0
              },
				{
                "type": "range",
                "id": "des_mg_bottom",
                "min": 0,
                "max": 60,
                "step": 1,
                "label": "margin bottom",
                "unit": "px",
                "default": 30
              },
				{
                "type": "range",
                "id": "des_pad_top",
                "min": 0,
                "max": 60,
                "step": 1,
                "label": "Padding top",
                "unit": "px",
                "default": 0
              },
				{
                "type": "range",
                "id": "des_pad_right",
                "min": 0,
                "max": 60,
                "step": 1,
                "label": "Padding Right",
                "unit": "px",
                "default": 0
              },
				{
                "type": "range",
                "id": "des_pad_bottom",
                "min": 0,
                "max": 60,
                "step": 1,
                "label": "Padding bottom",
                "unit": "px",
                "default": 0
              },
				{
                "type": "range",
                "id": "des_pad_left",
                "min": 0,
                "max": 60,
                "step": 1,
                "label": "Padding left",
                "unit": "px",
                "default": 0
              },
              {
              "type": "color",
              "id": "des_bg",
              "label": "Background color",
              "default": "#fff"
               }
          ]
        },
		{
          "type": "text_countdown_html",
          "name": "Text Countdown Html",
          "limit": 1,
		  "settings": [
            {
            "type": "checkbox",
            "id": "show_text_countdown",
            "label": "Show Text Countdown",
            "default": true
            },
			{
            "type": "checkbox",
            "id": "show_visitors_html",
            "label": "Show visitors html",
            "default": true
            }
          ]
        },

		{
          "type": "product_infor",
          "name": "Product Infor",
          "limit": 1,
		  "settings": [
              {
              "type": "checkbox",
              "id": "show_sku",
              "label": "Show SKU",
              "default": true
              },
			  {
              "type": "checkbox",
              "id": "show_barcode",
              "label": "Show Barcode",
              "default": true
              },
			  {
              "type": "checkbox",
              "id": "show_vendor",
              "label": "Show Vendor",
              "default": true
              },
			  {
              "type": "checkbox",
              "id": "show_type",
              "label": "Show Type",
              "default": true
              },
			  {
              "type": "checkbox",
              "id": "show_availability",
              "label": "Show Availability",
              "default": true
              },
			  {
              "type": "color",
              "id": "color_in_stock",
              "label": "Color in stock",
              "default": "#042cd6"
              },
              {
              "type": "color",
              "id": "color_out_stock",
              "label": "Color out stock",
              "default": "#c6452c"
              }
		  ]
        },
		{
          "type": "show_social",
          "name": "Share Social",
          "limit": 1,
		  "settings": [
			 {
				"type": "paragraph",
				"content":"Setting your social network go to Theme settings => Social media."
			 },
            {
               "type": "select",
               "id": "type_social",
               "label": "Show sharing Or link:",
               "options": [
                 {
                   "value": "1",
                   "label": "Social link"
                 },
                 {
                   "value": "2",
                   "label": "Social sharing"
                 }
               ],
               "default": "2"
            }
		  ]
        },
		{
          "type": "product_variants",
          "name": "Product Variants",
          "limit": 1,
		  "settings": [
			 {
				"type": "paragraph",
				"content":"Show pictures instead of colors."
			 },
              {
              "type": "checkbox",
              "id": "show_title",
              "label": "Show title",
              "default": true
              },
              {
              "type": "checkbox",
              "id": "show_size_guide",
              "label": "Show button 'Size guide'",
              "default": false
              },
              {
              "type": "page",
              "id": "size_guide_page",
              "label": "Content for 'Size guide'",
              "info": "Default page: 'Include Popup Size Guide'"
              }
		  ]
        },
		{
          "type": "quantity_button",
          "name": "Quantity and Button",
          "limit": 1,
		  "settings": [
			 {
              "type": "text",
              "id": "icon_button_cart",
              "default": "lnr lnr-arrow-right",
              "label": "Icon Buttom cart",
			  "info": "You can use font awesome and font Linearicons"
              },
			  {
                "type": "checkbox",
                "id": "qt_show_quantity",
                "label": "Show quantity",
                "default": true
              },
			  {
                "type": "checkbox",
                "id": "qt_show_cart",
                "label": "Show Add to cart",
                "default": true
              },
			  {
                "type": "checkbox",
                "id": "show_popup",
                "label": "Show terms and conditions",
                "default": true
              },
              {
              "type": "page",
              "id": "product_terms_conditions_page_content",
              "label": "Content for 'terms and conditions'",
              "info": "Default page: 'terms and conditions'"
              },
			  {
                "type": "checkbox",
                "id": "qt_buy_it_now",
                "label": "Show Buy it now",
                "default": true,
				"info":"Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
              },	
              {
                "type": "checkbox",
                "id": "qt_show_compare",
                "label": "Show compare",
                "default": true
              },
			  {
                "type": "checkbox",
                "id": "qt_show_wishlist",
                "label": "Show wishlist",
                "default": true
              },
              {
              "type": "header",
              "content": "== Custom color"
              },
			  {
                "type": "checkbox",
                "id": "show_custom_color_btn",
                "label": "Show Custom color",
                "default": false
              },
			  {
                "type": "color",
                "id": "color_text_cart",
                "label": "Color text cart",
                "default": "#fff"
              },	
              {
                "type": "color",
                "id": "bg_add_to_cart",
                "label": "background Add To Cart",
                "default": "#1a73e8"
              },
			  {
                "type": "color",
                "id": "color_text_cart_hover",
                "label": "Color text cart (hover)",
                "default": "#fff"
              },	
			  {
                "type": "color",
                "id": "bg_add_to_cart_hv",
                "label": "background Add To Cart (Hover)",
                "default": "#343e45"
              },
			  {
              "type": "header",
              "content": "== == == == == == "
              },	
			  {
                "type": "color",
                "id": "color_text_buy_now",
                "label": "Color text Buy it now",
                "default": "#fff"
              },
              {
              "type": "color",
              "id": "bg_buy_it_now",
              "label": "background Buy it now",
              "default": "#4ad295"
              },
			  {
                "type": "color",
                "id": "color_text_buy_now_hover",
                "label": "Color text Buy it now (hover)",
                "default": "#fff"
              },
              {
              "type": "color",
              "id": "bg_buy_it_now_hv",
              "label": "background Buy it now (Hover)",
              "default": "#1a73e8"
              }
			  		
			]
        },
		{
          "type": "tags",
          "name": "Tags",
          "limit": 1,
		  "settings": [
              {
              "type": "paragraph",
              "content":"You should put all your tags in there it will automatically compare with your current product to give the tags already in the product"
              },
			  {
			   "type": "textarea",
			   "id": "tags",
			   "label":"Tags",
			   "default":"Accessories,Clothes,Women,Dress",
				"info": "Separator is '|' or ','"
			 }
		 ]
        },
		{
          "type": "inventory_qty",
          "name": "Inventory Quantity",
          "limit": 1,
		  "settings": [
              {
                "type": "range",
                "id": "total_items",
                "min": 1,
                "max": 100,
                "step": 1,
                "label": "Total items",
                "unit": "Qty",
                "default": 50
              },
              {
                "type": "color",
                "id": "bg_1",
                "label": "Background 1",
                "default": "#fed700"
              },
			  {
                "type": "color",
                "id": "bg_2",
                "label": "Background 2",
                "default": "#efefef"
              },
			  {
                "type": "range",
                "id": "h_stock",
                "min": 1,
                "max": 20,
                "step": 1,
                "label": "Height stock",
                "unit": "px",
                "default": 15
              }
		 ]
        },
		{
          "type": "free_shipping",
          "name": "Countdown Free shipping",
          "limit": 1
        },
        {
            "type": "shipping",
            "name": "Shipping information",
            "limit": 1,
            "settings": [
                {
                    "type": "checkbox",
                    "id": "show_delivery_times",
                    "label": "Show delivery estimation",
                    "info": "How delivery times are generated?",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "deliver_text",
                    "label": "Delivery text",
                    "default": "Estimated Delivery:"
                },
                {
                    "type": "text",
                    "id": "deliver_days",
                    "label": "Deliver in:",
                    "info": "days (+/- 2 days)",
                    "default": "7"
                },
                {
                  "type": "text",
                  "id": "date_format",
                  "label": "Date format",
                  "default": "%b %d",
                  "info": "Example: %m/%d [Learn more about date format here.](http://strftime.net/)"
                },
                {
                    "type": "checkbox",
                    "id": "show_shipping_text",
                    "label": "Show Shipping text",
                    "default": true
                },
                {
                    "type": "richtext",
                    "id": "shipping_text",
                    "label": "Shipping text",
                    "default": "<p><strong>Free Shipping & Returns: </strong>On all orders over $75</p>"
                }
            ]
        },
		{
          "type": "custom_html",
          "name": "Custom html and image",
		  "settings": [
			  {
                 "type": "html",
                 "id": "html_custom",
                 "label": "Custom HTML",
                 "default": "<p>Some HTML content</p>"
              },
              {
                "type": "image_picker",
                "id": "image",
                "label": "image"
              },
              {	
              "type": "checkbox",
              "id": "show_svg_custom",
              "label": "Show SVG custom",
              "default": false
              },	
			 {
                 "type": "html",
                 "id": "svg_custom",
                 "label": "Payment type (SVG)",
                 "default":"amazon_payments,american_express,apple_pay,bitcoin,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,google_pay,jcb,klarna,klarna-pay-later,litecoin,maestro,master,paypal,shopify_pay,sofort,visa",
				 "info": "amazon_payments,american_express,apple_pay,bitcoin,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,google_pay,jcb,klarna,klarna-pay-later,litecoin,maestro,master,paypal,shopify_pay,sofort,visa"
              },
              {
                "type": "range",
                "id": "svg_height",
                "min": 1,
                "max": 50,
                "step": 1,
                "label": "Height",
                "unit": "px",
                "default": 35
              }
		 ]
        },
        {
        "type": "text",
        "name": "Text - metafiled",
        "settings": [
          {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "Text"
          },
          {	
          "type": "checkbox",
          "id": "show_color",
          "label": "Show color",
          "default": false
          },
          {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#fff"
          }
		]
        },
        {
          "type": "custom_liquid",
          "name": "t:sections.main-product.blocks.custom_liquid.name",
          "settings": [
            {
              "type": "liquid",
              "id": "custom_liquid",
              "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
              "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
            }
          ]
        },
        {
          "type": "countdown",
          "name": "Countdown product",
          "settings": [
            {
            "type": "text",
            "id": "text",
            "default": "Hurry up! Sale ends in:",
            "label": "Title"
            },
            {
              "type": "liquid",
              "id": "custom_liquid",
              "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
              "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info",
              "default":"{{product.metafields.custom.time_countdown}}"
            },
            {
              "type": "header",
              "content": "-----------------"
              },	
            {
                "type": "color",
                "id": "bg",
                "label": "Background",
                "default": "#fdefee"
              },
            {
                "type": "color",
                "id": "bd",
                "label": "border color",
                "default": "#f8cccc"
              },
              {
                "type": "color",
                "id": "cl_text",
                "label": "Color text",
                "default": "#ff706b"
              }
          ]
        },
                {
          "type": "related-product",
          "name": "Related product",
          "limit": 1,        
          "settings": [
            {
              "type": "header",
              "content": "Show only in quickview popup"
              },
            {
            "type": "range",
            "id": "max_count",
            "min": 2,
            "max": 50,
            "step": 1,
            "unit": "pds",
            "label": "Max product",
            "default": 4
        }
	  
          ]
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
