{% liquid
	assign sid = section.id 
    assign no-img = "https://placehold.jp/50/ccc/222/800x813.png?text=535x348"
 %} 
<section id="laber_{{sid}}">
  <div class="container {% if section.settings.layout == "full-width"%}{{section.settings.layout}}{% endif %}">
  <div class="row"> 
    {%if section.settings.show_image%}
    <div class="col-lg-6 col-md-12 col-sm-12 padding-0 laber_{{section.settings.location}}">
      	<div class="images">
          	{%- assign image = section.settings.image -%}
            {%- if image != blank %}
            <div class="laber_bg_lz lazyload pr_lazy_img " data-bgset="{{ image | img_url: '1x1' }}" data-ratio="{{image.aspect_ratio}}" data-sizes="auto" data-parent-fit="cover" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%"></div>
            {%- else -%}
            <div class="laber_bg_lz lazyload pr_lazy_img " data-bgset="{{ no-img }}"  data-sizes="auto" data-parent-fit="cover" style="padding-top:101.625%"></div>
            {%- endif -%}
        </div>
    </div> 
    {%endif%}
    <div class="col-lg-6 col-md-12 col-sm-12 padding-0">
    <div class="password-content">  
      	<p class="sub_heading"><span>{{section.settings.sub_heading}}</span></p>	
        <h3 class="password-content__title">{{section.settings.heading}}</h3>
        <p class="content">{{section.settings.content}}</p>
      {% form 'customer', id: 'ContactPassword', class: 'contact-form form-single-field' %}
         <p class="form-row">
            {%- assign formId = 'PasswordNewsletterForm' -%}
            <input type="hidden" name="contact[tags]" value="prospect, password page">
         </p>

        {%- if form.posted_successfully? -%}
          <p class="form-message form-message--success" tabindex="-1" data-form-status>
            <i class="las la-check"></i> {{ section.settings.signup_form_success | escape }}
          </p>
        {%- endif -%}

        <div class="input-group{% if form.errors %} input-group--error{% endif %}">
          <div class="input-text">
            <div class="icon">
              <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.10791 1H14.3079C15.8543 1 17.1079 2.2536 17.1079 3.8V10.2C17.1079 11.7464 15.8543 13 14.3079 13H3.90791C2.36151 13 1.10791 11.7464 1.10791 10.2V3.8C1.10791 2.2536 2.36151 1 3.90791 1H5.10791" stroke="#ACAFB7" stroke-width="1.5" stroke-linecap="round"></path>
                <path d="M5.10791 5L8.50791 7.55019C8.86348 7.81688 9.3524 7.81688 9.70797 7.55019L13.108 5" stroke="#ACAFB7" stroke-width="1.5" stroke-linecap="round"></path>
              </svg>
            </div>
            <input
              required="required"
              type="email"
              name="contact[email]"
              id="{{ formId }}-email"
              class="input-group__field tc {% if form.errors contains 'email' %} input--error{% endif %}"
              placeholder="{{ section.settings.newsletter_placeholder | escape }}"
              {%- if form.errors contains 'email' -%}
                aria-invalid="true"
                aria-describedby="{{ formId }}-email-error"
                data-form-status
              {%- endif -%}
            >
          </div>
            <button type="submit" name="commit" class="button button_primary">
              <span>{{ section.settings.newsletter_button_text | escape }}</span>
            </button>
          
        </div>
        {%- if form.errors contains 'email' -%}
          <span id="{{ formId }}-email-error" class="input-error-message">
            <i class="facl facl-attention cr mr__5"></i>
            <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
          </span>
        {%- endif -%}

      {% endform %}
        {% assign type_social = section.settings.social | plus: 0 %}
        {%- if type_social == 1 -%}
            {% include 'social_link' %}
        {%- else -%}
            {% include 'social-sharing' %}
        {%- endif -%}
      <div class="copyright">
      	{{section.settings.copyright}}
      </div>
    </div>
    </div>
    </div>
  </div>
</section>
{%style%}
body {
    background-color: {{section.settings.cl_bg}};
}
{%endstyle%}
{%- render 'section_style' -%}
{%- schema -%}
  {
    "name": "Password",
    "class": "sc-password",
     "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Our New Website <br>Will Be Available Soon"
      },
	  {
        "type": "text",
        "id": "sub_heading",
        "label": "Sub heading",
        "default": "Coming Soon!"
      },	
      {
        "type": "textarea",
        "id": "content",
        "label": "Content",
        "default": "We are about to go public so be sure to root on us and check back in anytime!<br> Can't wait to have you!"
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Your email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Notify me"
      },
      {
        "type": "text",
        "id": "signup_form_success",
        "label": "Signup form success",
        "default": "We will send you an email right before we open!"
      },
      {
        "type": "select",
        "id": "social",
        "options": [
          {
            "value": "1",
            "label": "Social link"
          },
          {
            "value": "2",
            "label": "Social Sharing"
          }
        ],
        "label": "___ Social:",
        "default": "2"
      },
		{
      "type": "richtext",
      "id": "copyright",
      "label": "Copyright",
		"info":"If you don't use it, you can leave it blank"
      },
      {
      "type": "checkbox",
      "id": "show_image",
      "label": "Show image",
      "default": false
      },
        {
        "type": "radio",
        "id": "location",
        "label": "Display the location",
        "options": [
        {
        "value": "left",
        "label": "Left"
        },
        {
        "value": "right",
        "label": "Right"
        }
        ],
        "default": "left"
        },
		{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
		{
        "type": "header",
        "content": "== setting content"
        },
        {
        "type": "select",
        "id": "layout",
        "options": [
        {
        "value": "container",
        "label": "Container"
        },
        {
        "value": "full-width",
        "label": "Full Width"
        }
        ],
        "label": "Layout"
        },
        {
        "type": "color",
        "id": "cl_bg",
        "label": "Background color",
        "default": "#fff"
        },

        {
        "type": "text",
        "id": "pd_c",
        "label": "Padding",
        "info":"Padding top, Padding right, Padding bottom, Padding left. If you not use to blank"
        },
        {
        "type": "header",
        "content": "== Setting PC",
        "info":"Margin"
        },	
        {
        "type": "text",
        "id": "mg",
        "label": "Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank"
        },
        {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank"
        },
        {
        "type": "header",
        "content": "== Design Mobile Options"
        },
        {
        "type": "text",
        "id": "mg_mb",
        "label": "Margin"
        },
        {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding"
        }
     ]
  }
{% endschema %}