{%assign sid = section.id %}
{%assign s_settings = section.settings %}
{%assign sett_equal = section.settings.use_eq_height %}
{%assign image_ratio = section.settings.image_ratio %}
{%assign arrows = section.settings.arrows%}
{%assign dots =  section.settings.dots %}

{%- assign show_label_in_stock = settings.product_collection_show_label_in_stock -%}
{%- assign show_label_out_stock = settings.product_collection_show_label_out_stock -%}
{%- assign show_label_sale = settings.product_collection_show_label_sale -%}
{%- assign show_label_new =  settings.product_collection_show_label_new -%}
{%- assign show_label_hot =  settings.product_collection_show_label_hot -%}
{%- assign show_countdown = false | default: settings.product_collection_show_countdown -%}
{%- assign show_images_navigation = true | default: settings.product_collection_show_images_navigation -%}
{%- assign show_title = settings.product_collection_show_title -%}
{%- assign show_sku = settings.product_collection_show_sku -%}
{%- assign show_barcode =  settings.product_collection_show_barcode -%}
{%- assign show_availability =  settings.product_collection_show_availability -%}
{%- assign show_type = settings.product_collection_show_type -%}
{%- assign show_vendor = settings.product_collection_show_vendor -%}
{%- assign show_description = settings.product_collection_show_description -%}
{%- assign show_price = settings.product_collection_show_price -%}
{%- assign show_options = settings.product_collection_show_options -%}
{%- assign show_custom_options =  settings.product_show_custom_options -%}
{%- assign show_quantity = false | default: settings.product_collection_show_quantity -%}
{%- assign show_button_add_to_cart = settings.product_collection_show_button_add_to_cart -%}
{%- assign show_button_add_to_wishlist = settings.product_collection_show_button_add_to_wishlist -%}
{%- assign show_button_add_to_compare =  settings.product_collection_show_button_add_to_compare -%}
{%- assign show_button_quick_view = settings.product_collection_show_button_quick_view -%}
{%- assign show_reviews = settings.product_collection_show_reviews -%}
{%- assign hide_reviews_counter = settings.product_collection_hide_reviews_counter -%}
{% assign enable_hover_image = settings.product_collection_enable_hover_image %}
{%- assign style_product = settings.content_style_product -%}	
{% assign build_variant = "all" %}
{% assign padding = section.settings.padding %}
{% assign style_title = section.settings.style_title %}
{% liquid
  assign show_countdown = section.settings.show_countdown 
  assign year_count_down =section.settings.year_count_down
  assign month_count_down =section.settings.month_count_down
  assign day_count_down =section.settings.day_count_down 
-%}
{%-capture countdown2 -%}
{%- if show_countdown -%}
<div class="col-auto countdown-wrap">
  <div class="cms-countdown" data-y="{{year_count_down}}" data-m="{{month_count_down}}" data-d="{{day_count_down}}" data-h="00" data-i="00" data-s="00"></div>                    	            
</div>	
{%- endif -%}
{%-endcapture-%}
{%- for i in (1..1) -%}
 
  <section id="laber_{{sid}}">
    <div class="{{section.settings.layout}}">
      <div class="laber-section laber_{{style_title}}">
		<div class="wrap_title {{ section.settings.text_size }} {{section.settings.style_title}}">
          {% if section.settings.sub_title!= blank %}
          <h4 class="section-subtitle">{{section.settings.sub_title}}</h4>
          {% endif %}
          <h3 class="section-title">{{section.settings.title}}</h3>  
          {% if section.settings.content!= blank %}
          <div class="content">{{section.settings.content}}</div>
          {% endif %}
          {{ countdown2 | strip_newlines | remove:"  "}}	
          {%if section.settings.show_view_all %}
          <div class="viewall">
           <a href="{{ routes.root_url }}collections/all">{{'collections.general.shop_now' |t}}</a>
          </div>
          {%endif%}
		</div>
        <div class="content-section">
		<div class="products-arrivals products-list-countdown">	
          {% include 'grid-slider', settings:s_settings %} 
          <div class="content_section slick-carousel">
          <div class="grid-slider laber-slick-carousel {%if sett_equal%}{{image_ratio}} {%endif%}" {{gridSlider}} data-append-Arrows=".arrows_{{sid}}" data-append-Dots=".dots_{{sid}}" > 
              {%- if section.blocks.size > 0 -%}
                {%- for block in section.blocks -%} 
            	{% liquid
                  assign show_stock_bar = section.settings.show_stock_bar 
				  assign total = block.settings.total
				  assign available = block.settings.available
                -%}
                  
            	  {%-capture stockBar -%}	
                  {%- if show_stock_bar -%}
                  	{%- assign sold = total | minus: available | times: 100 | divided_by: total | ceil -%}
                    <div class="loop-product-stock">
                      <div class="status-bar">
                        <div class="sold-bar" style="width: {{sold}}%"></div>
                      </div>	
                      <div class="product-stock-status flex wrap">
                        <div class="sold">
                          <span class="label">{{'products.grid_items.sold' | t  }} </span> <span class="value">{{total | minus: available}}/{{total}}</span>
                        </div>
   
                      </div>
                    </div>
                  {%- endif -%}	
                  {%-endcapture-%}
                  {%- case block.type -%}
                      {%- when 'product' -%}
                      {%- assign product = all_products[block.settings.product] %}
                      {% assign ck_noPr = false -%}
                      {% if product != blank %}
                            <div>                                 
                                {% include 'product_style', product: product stockBar:stockBar %}                
                            </div>
                      {%- endif -%}
                  {%- endcase -%}
                {%- endfor -%}
            
              {%- else -%}
               
                  {%- for i in (1..10 ) -%}
                  <div class="pr_grid_item">
                    {% include 'product_demo' %} 
                  </div>
                  {%- endfor -%}   
          

              {%- endif -%}
          </div>
              {%if dots %}
              <div class="laber_append_dots dots_{{sid}}"></div>
              {%endif%}
              {%if arrows%}	
              <div class="laber_append_arrows arrows_{{sid}}"></div>	
              {% endif %}
        </div>
        
      </div>
          </div>           
      </div>
    </div>          
  </section>
{%- render 'section_style' -%} 
{% assign status_bg = section.settings.status_bg %}
{% assign sold_bg = section.settings.sold_bg %}
{%- style -%}
:root {
--color-status-bg:{{section.settings.status_bg}};  
--color-sold-bg:{{section.settings.sold_bg}};   
--color-title-countdown:{{section.settings.cl_title_countdown}};  
--color-number-countdown:{{section.settings.cl_number_countdown}};
--color-text-countdown:{{section.settings.cl_text_countdown}};
}
#laber_{{sid}} .grid-init .alo-item{
  padding-bottom:{{padding | plus: padding}}px; 
} 
{%- endstyle %}
{%- endfor -%}
{%- schema -%}
  {
    "name": "Products countdown 2",
    "class": "cms_section type_countdown2 product_section products_collection_countdown type_carousel",
	"max_blocks": 20,
    "settings": [
      {
        "type": "header",
        "content": "== Title Settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Deal Of The Day"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Sub Text"
      },  
	  {
        "type": "textarea",
        "id": "content",
        "label": "Content",
        "default": "Commodo sociosqu venenatis cras dolor sagittis integer luctus maecenas."
      },
      {
        "type": "select",
        "id": "text_size",
        "default": "medium",
        "options": [
          {
            "value": "small",
            "label": "small"
         },
         {
            "value": "medium",
            "label": "Medium"
         },
         {
            "value": "large",
            "label": "Large"
          }
        ],
        "label": "Text size"
      },
	  {
        "type": "select",
        "id": "style_title",
        "default": "1",
        "options": [
         {
            "value": "1",
            "label": "Style 1"
         },
         {
            "value": "2",
            "label": "Style 2 - Left"
          },
         {
            "value": "3",
            "label": "Style 2 - Right"
          }
        ],
        "label": "Style title"
      },

      {
      "type": "checkbox",
      "id": "show_stock_bar",
      "label": "Show stock bar",
      "default": true
      },
      {
      "type": "color",
      "id": "status_bg",
      "label": "Background color 1",
      "default": "#f5f5f5",
      "info":"Background color status bar"
      },
	
      {
      "type": "color",
      "id": "sold_bg",
      "label": "Background color 2",
      "default": "#777777",
      "info":"Background color sold bar"
      },
      
      {
      "type": "header",
      "content": "== Settings countdown Time"
      },
      {
      "type": "checkbox",
      "id": "show_countdown",
      "label": "Show Countdown",
      "default": true
      },
        {
      "type": "header",
      "content": "== countdown Time"
      },
          {
          "type": "text",
          "id": "year_count_down",
          "label": "Year of countdown",
          "default": "2022"
          },
          {
          "type": "text",
          "id": "month_count_down",
          "label": "Month of countdown",
          "default": "12"
          },
          {
          "type": "text",
          "id": "day_count_down",
          "label": "Day of countdown",
          "default": "30"
          },
      {
      "type": "color",
      "id": "cl_number_countdown",
      "label": "color number Countdown",
      "default": "#777777"
      },
      {
      "type": "color",
      "id": "cl_text_countdown",
      "label": "color text countdown",
      "default": "#777777"
      },
      {
      "type": "header",
      "content": "== Settings countdown "
      },
	  {
        "type": "header",
        "content": "---- Slider Show Collection ----",
        "info": "Refer to the attribute values [here](httpss://kenwheeler.github.io/slick)"
    }, 	
    {
        "type": "checkbox",
        "id": "use-slider",
        "label": "Use slider?",
        "default": true
    },
    {  
        "type": "range",  
        "id": "slides-To-Scroll",  
        "label": "Slide to scroll",  
        "info": "The number of items slide to scroll",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 1
    },   
    {  
        "type": "range",  
        "id": "visible",  
        "label": "Columns in Visible",
		"info": "Item(s) in screen ( Size >= 1920 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 5 
    },
    {  
        "type": "range",  
        "id": "widescreen",  
        "label": "Columns in Widescreen",
		"info": "Item(s) in screen ( 1366 <= Size < 1920 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 4 
    },  
    {  
        "type": "range",  
        "id": "desktop",  
        "label": "Columns in Desktop",
		"info":  "Item(s) in screen ( 1200 <= Size < 1480 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 4  
    },	  
    {  
        "type": "range",  
        "id": "laptop",  
        "label": "Columns in Laptop",
		"info": "Item(s) in screen ( 992 <= Size < 1200 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 4
    },	  
    {  
        "type": "range",  
        "id": "notebook",  
        "label": "Columns in Notebook",
		"info": "Item(s) in screen ( 768 <= Size < 992 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 3  
    },  
    {  
        "type": "range",  
        "id": "tablet",  
        "label": "Columns in Tablet",
		"info": "Item(s) in screen ( 576 <= Size < 768 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 3 
    },
    {  
        "type": "range",  
        "id": "landscape",  
        "label": "Columns in Landscape",
		"info": "Item(s) in screen ( 480 <= Size < 576 )",
        "min": 1,
        "max": 6,
        "step": 1,
        "unit": "col",
        "default": 2 
    }, 
    {  
        "type": "range",  
        "id": "portrait",  
        "label": "Columns in Portrait",
		"info": "Item(s) in screen ( 360 < Size < 480 )",
        "min": 1,
        "max": 6,
        "step": 1,
        "unit": "col",
        "default": 2 
    },
    {  
        "type": "range",  
        "id": "mobile",  
        "label": "Columns in Mobile",
		"info": "Item(s) in screen ( Size < = 360 )",
        "min": 1,
        "max": 4,
        "step": 1,
        "unit": "col",
        "default": 1 
    },
    {  
        "type": "range",  
        "id": "rows",  
        "label": "Rows Slider",  
        "min": 1,
        "max": 3,
        "step": 1,
        "unit": "col",
        "default": 1
    },
    {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Autoplay",
        "default": true
    },
    {	
        "type": "text",
        "id": "speed",
        "label": "Speed",
        "default": "300",
        "info": "Autoplay Speed in milliseconds"
    },
    {	
        "type": "text",
        "id": "autoplay-Speed",
        "label": "Auto Play Speed",
        "default": "3000",
        "info": "Autoplay Speed in milliseconds"
    },
    {	
        "type": "checkbox",
        "id": "arrows",
        "label": "Arrows",
        "default": true
    },
    {	
        "type": "checkbox",
        "id": "fade",
        "label": "Fade",
        "default": false,
        "info": "Only use for 1 column"
    },
    {	
        "type": "checkbox",
        "id": "center-Mode",
        "label": "Center Mode",
        "default": false
    },
    {	
        "type": "checkbox",
        "id": "adaptive-Height",
        "label": "Adaptive Height",
        "default": false
    },
    {	
        "type": "checkbox",
        "id": "dots",
        "label": "Dots",
        "default": false 
    },
    {	
        "type": "checkbox",
        "id": "infinite",
        "label": "Infinite",
        "default": false
    },
    {  
        "type": "range",  
        "id": "padding",  
        "label": "padding",
		"info": "Distance between items",
        "min": 0,
        "max": 15,
        "step": 5,
        "unit": "px",
        "default": 10 
    },
    {	
        "type": "checkbox",
        "id": "vertical",
        "label": "Vertical",
        "default": false
    },
	{
        "type": "checkbox",
        "id": "show_view_all",
        "label":"Show View all button",
        "default": false
      }, 	
      {
        "type": "header",
        "content": "== Design Options"
      },   
      {
        "type": "select",
        "id": "layout",
        "default": "container",
        "options": [
         {
            "value": "container",
            "label": "Container"
         },
         {
            "value": "full-width",
            "label": "Full Width"
          }
        ],
        "label": "Layout"
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background color",
        "default": "#fff"
      },
      {
        "type": "checkbox",
        "id": "use_eq_height",
        "label": "Use equal height images?",
        "default": false
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Aspect Ratio",
        "default": "ratio3_2",
        "info": "Aspect Ratio Custom will settings in General panel.",
        "options": [
          {
            "group": "Landscape",
            "value": "ratio2_1",
            "label": "2:1"
          },
          {
            "group": "Landscape",
            "value": "ratio16_9",
            "label": "16:9"
          },
          {
            "group": "Landscape",
            "value": "ratio8_5",
            "label": "8:5"
          },
          {
            "group": "Landscape",
            "value": "ratio3_2",
            "label": "3:2"
          },
          {
            "group": "Landscape",
            "value": "ratio4_3",
            "label": "4:3"
          },
          {
            "group": "Landscape",
            "value": "ratio_nt",
            "label": "Ratio ASOS"
          },
          {
            "group": "Squared",
            "value": "ratio1_1",
            "label": "1:1"
          },
          {
            "group": "Portrait",
            "value": "ratio3_4",
            "label": "3:4"
          },
          {
            "group": "Portrait",
            "value": "ratio2_3",
            "label": "2:3"
          },
          {
            "group": "Portrait",
            "value": "ratio1_2",
            "label": "1:2"
          },
		   {
            "group": "Custom",
            "value": "ratio_custom_1",
            "label": "Custom 1(128%)"
          }
        ]
      }, 
        {
        "type": "text",
        "id": "mg",
        "label": "Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank"
      },
      {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank"
      },
     {
        "type": "header",
        "content": "== Design Mobile Options"
      },
      {
        "type": "text",
        "id": "mg_mb",
        "label": "Margin"
      },
      {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding"
      } 
    ],
	"blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "range",
            "id": "total",
            "min": 1,
            "max": 100,
            "step": 1,
            "label": "Total Stock:",
            "unit": "qty",
            "default": 100
          },
          {
            "type": "range",
            "id": "available",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "Available Stock:",
            "unit": "qty",
            "default": 15
          }
        ]
      }   
    ],
    "presets": [
      {
        "name": "Products countdown 2",
        "category": "Collections"		
      }
    ]
  }
{% endschema %}
