<div class="shortcode">  
  {%- for block in section.blocks -%}
  
  		{%- liquid
            assign mg = block.settings.mg
            assign pd = block.settings.pd 
  			assign sid = block.id
  		%}

        {%- capture style -%}

          {%- if mg != blank or pd != blank -%} 
              .shortcode_{{sid}} {
                  max-width:100%;
                  {%- if mg != blank %}
                      {% assign arr_mg = mg | remove:' ' | split:',' -%}
                      margin-top: {{arr_mg[0]}};
                      margin-right: {{arr_mg[1]}};
                      margin-bottom: {{arr_mg[2]}};
                      margin-left: {{arr_mg[3]}};                
                  {%- endif -%}
                  {%- if pd != blank %}
                      {% assign arr_pd = pd | remove:' ' | split:',' -%}
                      padding-top: {{arr_pd[0]}};
                      padding-right: {{arr_pd[1]}};
                      padding-bottom: {{arr_pd[2]}};
                      padding-left: {{arr_pd[3]}};
                  {%- endif -%}
  				  position: relative;	
              }
          {%- endif -%}
        {%- endcapture -%}

        {%- style -%}{{ style | strip_newlines | remove:"  "}}{%- endstyle -%}
  	  {% if block.settings.shortcode_show_item %}
        <div class="shortcode_{{sid}} item-shortcode {% if block.settings.shortcode_show_title %} {% else %} hide-title {% endif %}">
          {{ block.settings.shortcode}}
        </div>
  	  {%- endif -%}
  {%- endfor -%}
</div>



{% schema %}
  {
    "name": "Shortcode",
	"max_blocks": 10,
    "settings": [
		
	],
    "blocks": [{
    "type": "item",
    "name": "Item",
    "settings": [
        {
          "type": "header",
          "content": "== Shortcode Settings"
        },
		{
          "type": "checkbox",
          "id": "shortcode_show_item",
          "label": "Show this shortcode?",
          "default": true
        },
        {
          "type": "text",
          "id": "shortcode",
          "label": "Paste shortcode",
          "info": "Select a section and copy shortcode"
        },
		{
          "type": "checkbox",
          "id": "shortcode_show_title",
          "label": "Show title and subtitle",
          "default": true
        },
		{
          "type": "text",
          "id": "mg",
          "label": "Margin",
          "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
          "default": "0px,0px,0px,0px",
          "placeholder": "0px,0px,0px,0px"
        },
        {
          "type": "text",
          "id": "pd",
          "label": "Padding",
          "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
		  "default": "0px,0px,0px,0px",
          "placeholder": "0px,0px,0px,0px"
        }
      ]
    }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
